<h1>Lists</h1>

<h2>Unordered (base)</h2>
<ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Nulla volutpat aliquam velit
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
</ul>

<h2>Ordered (base)</h2>
<ol>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit</li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
  <li>Nulla volutpat aliquam velit</li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ol>

<h2>Inline</h2>
<ul class="c-list c-list--inline">
  <li class="c-list__item">Lorem ipsum dolor sit amet</li>
  <li class="c-list__item">Consectetur adipiscing elit</li>
  <li class="c-list__item">Nulla volutpat aliquam velit</li>
  <li class="c-list__item">Faucibus porta lacus fringilla vel</li>
</ul>

<h2>List pipe</h2>
<ul class="c-list c-list--pipe">
  <li class="c-list__item"><a class="c-list__link" href="#">Lorem ipsum dolor sit amet</a></li>
  <li class="c-list__item"><a class="c-list__link" href="#">Consectetur adipiscing elit</a></li>
  <li class="c-list__item"><a class="c-list__link" href="#">Nulla volutpat aliquam velit</a></li>
  <li class="c-list__item"><a class="c-list__link" href="#">Faucibus porta lacus fringilla vel</a></li>
</ul>

<h2>Unstyled</h2>
<ul class="c-list c-list--unstyled">
  <li class="c-list__item">Lorem ipsum dolor sit amet</li>
  <li class="c-list__item">Consectetur adipiscing elit</li>
  <li class="c-list__item">Integer molestie lorem at massa</li>
  <li class="c-list__item">Facilisis in pretium nisl aliquet</li>
  <li class="c-list__item">Nulla volutpat aliquam velit
    <ul class="c-list c-list--unstyled">
      <li class="c-list__item">Phasellus iaculis neque</li>
      <li class="c-list__item">Purus sodales ultricies</li>
      <li class="c-list__item">Vestibulum laoreet porttitor sem</li>
      <li class="c-list__item">Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li class="c-list__item">Faucibus porta lacus fringilla vel</li>
  <li class="c-list__item">Aenean sit amet erat nunc</li>
  <li class="c-list__item">Eget porttitor lorem</li>
</ul>

<h2>Bullet list</h2>
<ul class="c-list c-list--icon c-list--icon-bullet">
  <li class="c-list__item">Lorem ipsum dolor sit amet</li>
  <li class="c-list__item">Consectetur adipiscing elit</li>
  <li class="c-list__item">Integer molestie lorem at massa</li>
  <li class="c-list__item">Facilisis in pretium nisl aliquet</li>
  <li class="c-list__item">Nulla volutpat aliquam velit
    <ul class="c-list c-list--icon c-list--icon-bullet">
      <li class="c-list__item">Phasellus iaculis neque</li>
      <li class="c-list__item">Purus sodales ultricies</li>
      <li class="c-list__item">Vestibulum laoreet porttitor sem</li>
      <li class="c-list__item">Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li class="c-list__item">Faucibus porta lacus fringilla vel</li>
  <li class="c-list__item">Aenean sit amet erat nunc</li>
  <li class="c-list__item">Eget porttitor lorem</li>
</ul>

<h2>Ok list</h2>
<ul class="c-list c-list--icon c-list--icon-ok">
  <li class="c-list__item">Lorem ipsum dolor sit amet</li>
  <li class="c-list__item">Consectetur adipiscing elit</li>
  <li class="c-list__item">Integer molestie lorem at massa</li>
  <li class="c-list__item">Facilisis in pretium nisl aliquet</li>
  <li class="c-list__item">Nulla volutpat aliquam velit
    <ul class="c-list c-list--icon c-list--icon-ok">
      <li class="c-list__item">Phasellus iaculis neque</li>
      <li class="c-list__item">Purus sodales ultricies</li>
      <li class="c-list__item">Vestibulum laoreet porttitor sem</li>
      <li class="c-list__item">Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li class="c-list__item">Faucibus porta lacus fringilla vel</li>
  <li class="c-list__item">Aenean sit amet erat nunc</li>
  <li class="c-list__item">Eget porttitor lorem</li>
</ul>

<h2>Icon</h2>
<ul class="c-list">
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-arrow-right" aria-hidden="true"></i>
    Lorem ipsum dolor sit amet
  </li>
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-eye u-color-blue-4" aria-hidden="true"></i>
    Consectetur adipiscing elit
  </li>
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-wallet u-color-turquoise-5" aria-hidden="true"></i>
    Integer molestie lorem at massa
  </li>
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-star u-color-blue-6" aria-hidden="true"></i>
    Facilisis in pretium nisl aliquet
  </li>
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-file-stack u-color-blue-4" aria-hidden="true"></i>
    Nulla volutpat aliquam velit
    <ul class="c-list">
      <li class="c-list__item">
        <i class="u-icon-list u-icon u-icon-ok" aria-hidden="true"></i>
        Phasellus iaculis neque
      </li>
      <li class="c-list__item">
        <i class="u-icon-list u-icon u-icon-cross u-color-pink-3" aria-hidden="true"></i>
        Purus sodales ultricies
      </li>
      <li class="c-list__item">
        <i class="u-icon-list u-icon u-icon-twitter u-color-blue-6" aria-hidden="true"></i>
        Vestibulum laoreet porttitor sem
      </li>
      <li class="c-list__item">
        <i class="u-icon-list u-icon u-icon-facebook u-color-blue-8" aria-hidden="true"></i>
        Ac tristique libero volutpat at
      </li>
    </ul>
  </li>
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-pie-euro u-color-blue-4" aria-hidden="true"></i>
    Faucibus porta lacus fringilla vel
  </li>
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-question u-color-pink-3" aria-hidden="true"></i>
    Aenean sit amet erat nunc
  </li>
  <li class="c-list__item">
    <i class="u-icon-list u-icon u-icon-mobile-arrow u-color-turquoise-5" aria-hidden="true"></i>
    Eget porttitor lorem
  </li>
</ul>

<h2>Description</h2>
<dl class="c-list c-list--description">
  <dt class="c-list__item c-list__item--term">Description lists</dt>
  <dd class="c-list__item c-list__item--description">A description list is perfect for defining terms.</dd>
  <dt class="c-list__item c-list__item--term">Euismod</dt>
  <dd class="c-list__item c-list__item--description">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
  <dd class="c-list__item c-list__item--description">Donec id elit non mi porta gravida at eget metus.</dd>
  <dt class="c-list__item c-list__item--term">Malesuada porta</dt>
  <dd class="c-list__item c-list__item--description">Etiam porta sem malesuada magna mollis euismod.</dd>
</dl>

<h2>Horizontal description</h2>
<dl class="c-list c-list--description dl-horizontal">
  <dt class="c-list__item c-list__item--term">Description lists</dt>
  <dd class="c-list__item c-list__item--description">A description list is perfect for defining terms.</dd>
  <dt class="c-list__item c-list__item--term">Euismod</dt>
  <dd class="c-list__item c-list__item--description">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
  <dd class="c-list__item c-list__item--description">Donec id elit non mi porta gravida at eget metus.</dd>
  <dt class="c-list__item c-list__item--term">Malesuada porta</dt>
  <dd class="c-list__item c-list__item--description">Etiam porta sem malesuada magna mollis euismod.</dd>
  <dt class="c-list__item c-list__item--term">Felis euismod semper eget lacinia</dt>
  <dd class="c-list__item c-list__item--description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
</dl>
