---
title: Declareren
template: klantdomein-subpage.pug
body_class: tp-subpage
script_body:
  - src: /assets/js/zk-klantdomein-declareren.min.js
---
<div class="c-alert c-alert--large c-alert--no-radius c-alert--warning-2 u-margin-bottom-none text-center alert" role="alert">
  Kunt u niet alles in een keer betalen? U kunt bij ons uw zorgkosten betalen in 2 tot 7 termijnen.
  <a href="#" class="c-alert__link">Betalen in termijnen aanvragen</a>.
</div>

<div class="container">

  <div class="row">
    <div class="col-xs-24">
      <h1 class="c-page-title">Declaraties</h1>
      <a class="js-tour-start u-margin-top u-margin-right-small u-pos-top-right u-hidden-sm-down u-hidden-sm-down" role="button">Wat is nieuw?</a>
      <a class="u-margin-bottom u-margin-right-small u-pos-bottom-right u-hidden-sm-down" role="button">
        <i class="u-icon u-icon-file" aria-hidden="true"></i>
        <span>Download declaraties (pdf)</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-24">
      <div class="o-box o-box--inverse o-box--border o-box--blue-6">

        <div class="o-box__body">

          <div class="row">

            <div class="col-md-10 col-lg-8">
              <div class="form-group">
                <label for="filter-1">Verzekerde</label>
                <select id="filter-1" class="form-control">
                  <option>X. van der Wilg</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>

            <div class="collapse u-shown-md-up" id="collapseFilters">

              <div class="js-tour-step-behandeljaar col-md-4 col-lg-3">
                <div class="form-group">
                  <label for="filter-2">Behandeljaar</label>
                  <select id="filter-2" class="form-control">
                    <option>2016</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-10 col-lg-7">
                <div class="form-group">
                  <label for="filter-3">Zorg</label>
                  <select id="filter-3" class="form-control">
                    <option>Ziekenhuis/Specialistische hulp</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="js-tour-step-indiener col-md-8 col-lg-6">
                <div class="form-group">
                  <label for="filter-4">Ingediend door</label>
                  <select id="filter-4" class="form-control">
                    <option>Uzelf en zorgverlener</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="col-xs-24">
                <div class="checkbox">
                  <label class="js-tour-step-eigen-risico">
                    <input type="checkbox">Bekijk alleen declaraties met eigen risico
                  </label>
                </div>
              </div>

            </div>

            <div class="col-xs-24 u-hidden-md-up text-center">
              <button type="button" class="c-btn c-btn--link c-btn--link-white c-btn--toggle btn btn-link collapsed" data-target="#collapseFilters" data-toggle="collapse" data-open="Minder filters" data-close="Meer filters" aria-expanded="true" aria-controls="collapseFilters">
                <i class="c-btn__icon c-btn__icon--toggle u-icon u-icon-arrow-up" aria-hidden="true"></i>
                <span class="sr-only">Toon of verberg filters</span>
              </button>
            </div>

          </div>

        </div>

        <div class="c-alert c-alert--info-2 c-alert--inside-bottom alert" role="alert">
          <div class="o-layout--table o-layout--va-middle">
            <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
              <i class="u-icon u-icon-eye" aria-hidden="true"></i>
            </div>
            <div class="o-layout__item--cell">
              U bent niet gemachtigd om alle zorgkosten te bekijken. Wilt u dit toch? De verzekerde moet u hiervoor eerst
              machtigen door zelf in te loggen.
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">

      <div class="o-box o-box--tile js-equal-height">
        <div class="o-box__body">
          <div class="o-layout--table o-layout--va-top">

            <div class="o-layout__item o-layout__item--cell o-layout__item--icon u-padding-right-tiny u-hidden-sm-down">
              <i class="o-box__icon o-box__icon--font u-icon u-icon-pie-euro u-icon-2x u-icon-fw" aria-hidden="true"></i>
            </div>

            <div class="o-layout__item o-layout__item--cell">

              <h4 class="o-box__heading o-box__heading--small">
                Eigen risico: nog € 139,46 over
              </h4>
              <div class="u-font-size-small">
                <p class="o-box__text--small">
                  € 385 totaal eigen risico 2016
                </p>
                <div class="c-progress c-progress--tiny progress">
                  <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                    <span class="sr-only">€ 245.54 al betaald</span>
                  </div>
                </div>
                <span class="c-progress__text pull-left">€ 245,54 al betaald</span>
                <span class="c-progress__text pull-right">€ 139,46 nog over</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-sm-12">

      <div class="o-box o-box--tile js-equal-height">
        <div class="o-box__body">
          <div class="o-layout--table o-layout--va-top">

            <div class="o-layout__item o-layout__item--cell">

              <h4 class="o-box__heading o-box__heading--small">
                Is het eigen risico een groot bedrag voor u?
              </h4>
              <div class="u-font-size-small">
                <p class="o-box__text--small">U kunt het eigen risico vooraf in 10 termijnen betalen.
                Regel het uiterlijk 31 januari 2017.</p>

                <a href="#" class="c-btn c-btn--link btn btn-link">
                  Vraag gespreid betalen aan
                  <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
                </a>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-24">

      <div class="u-margin-bottom-small form-inline clearfix">
        <label class="control-label" for="sorteer-op">Sorteer op:</label>
        <select class="form-control" name="sorteer-op" id="sorteer-op">
          <option value="20">Ontvangstdatum</option>
          <option value="30">Iets anders</option>
        </select>
      </div>

    </div>

  </div>

  <div class="c-panel-group panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="c-panel c-panel--table c-panel--table-head panel u-hidden-sm-down">
      <div class="c-panel__heading c-panel__heading--table panel-heading">
        <div class="c-panel__title c-panel__title--icon-left panel-title">
          <div class="c-panel__row c-panel__row--va-md-up row">
            <div class="c-panel__cell c-panel__cell--header col-xs-3 col-lg-5 u-hidden-md-down">
              <span class="c-panel__cell-content">Verzekerde</span>
            </div>
            <div class="c-panel__cell c-panel__cell--header col-xs-4 col-lg-3">
              <span class="c-panel__cell-content">Ontvangen door <br> Zilveren Kruis</span>
            </div>
            <div class="c-panel__cell c-panel__cell--header col-xs-8 col-lg-5">
              <span class="c-panel__cell-content">Zorg</span>
            </div>
            <div class="c-panel__cell c-panel__cell--header col-xs-3 col-lg-2 u-hidden-sm-down text-center">
              <span class="c-panel__cell-content">Door uzelf ingediend</span>
            </div>
            <div class="c-panel__cell c-panel__cell--header col-xs-3 text-center">
              <span class="c-panel__cell-content">Bedrag</span>
            </div>
            <div class="c-panel__cell c-panel__cell--header col-xs-3 text-center">
              <span class="c-panel__cell-content">U betaalt</span>
            </div>
            <div class="c-panel__cell c-panel__cell--header col-xs-3 text-center">
              <span class="c-panel__cell-content">U ontvangt</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-panel c-panel--table c-panel--large c-panel--bare c-panel--collapse is-disabled panel">
      <div class="c-panel__heading panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

        <div class="c-panel__title c-panel__title--icon-left panel-title">
          <div class="c-panel__row c-panel__row--va-md-up row">
            <div class="c-panel__cell c-panel__cell--body u-text-overflow col-xs-16 col-lg-5 u-hidden-md-down">
              <span class="c-panel__cell-content">A. van der Wilg-de-Vries</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-4 col-lg-3">
              <span class="c-panel__cell-content">02-06-2016</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-8 col-lg-5 u-text-overflow">
              <span class="c-panel__cell-content">Hulpmiddelen</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-3 col-lg-2 u-hidden-sm-down text-center">
              <span class="c-panel__cell-content">
                <i class="u-icon u-icon-ok" aria-hidden="true"></i>
                <span class="sr-only">Door uzelf ingedient</span>
              </span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">Bedrag</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down col-xs-12 col-md-24 text-center">€ 50.95,-</span>
              </div>
            </div>
            <div class="c-panel__cell c-panel__cell--body c-panel__cell--in-query col-xs-24 col-md-6">
              <div class="row">
                <span class="c-panel__cell-content c-panel__cell--sm-left-down col-xs-12 col-md-24 text-center">In behandeling</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="c-panel c-panel--table c-panel--large c-panel--bare c-panel--collapse panel">
      <div class="c-panel__heading panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

        <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
        <div class="c-panel__title c-panel__title--icon-left panel-title">
          <div class="c-panel__row c-panel__row--va-md-up row">
            <div class="c-panel__cell c-panel__cell--body u-text-overflow col-xs-16 col-lg-5 u-hidden-md-down">
              <span class="c-panel__cell-content">A. van der Wilg-de-Vries</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-4 col-lg-3">
              <span class="c-panel__cell-content">02-06-2016</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-8 col-lg-5 u-text-overflow">
              <span class="c-panel__cell-content">Hulpmiddelen</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-3 col-lg-2 u-hidden-sm-down text-center">
              <span class="c-panel__cell-content">
                <i class="u-icon u-icon-ok" aria-hidden="true"></i>
                <span class="sr-only">Door uzelf ingedient</span>
              </span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">Bedrag</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down col-xs-12 col-md-24 text-center">€ 50.95,-</span>
              </div>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-6">
              <div class="row">
                <span class="c-panel__cell-content c-panel__cell--sm-left-down u-text-warning col-xs-12 col-md-24 text-center">In behandeling</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="c-panel c-panel--table c-panel--large c-panel--bare c-panel--collapse panel">
      <div class="c-panel__heading panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

        <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
        <div class="c-panel__title c-panel__title--icon-left panel-title">
          <div class="c-panel__row c-panel__row--va-md-up row">
            <div class="c-panel__cell c-panel__cell--body u-text-overflow col-xs-16 col-lg-5 u-hidden-md-down">
              <span class="c-panel__cell-content">A. van der Wilg-de-Vries</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-4 col-lg-3">
              <span class="c-panel__cell-content">02-06-2016</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-8 col-lg-5 u-text-overflow">
              <span class="c-panel__cell-content">Hulpmiddelen</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-3 col-lg-2 u-hidden-sm-down text-center">
              <span class="c-panel__cell-content">
                <span class="sr-only">Niet door uzelf ingedient</span>
              </span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">Bedrag</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down col-xs-12 col-md-24 text-center">€ 50.95,-</span>
              </div>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3 u-hidden-sm-down">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">U betaalt</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down u-text-danger col-xs-12 col-md-24 text-center">-</span>
              </div>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">U ontvangt</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down u-text-success col-xs-12 col-md-24 text-center">€ 50.95,-</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="c-panel c-panel--table c-panel--large c-panel--bare c-panel--collapse panel">
      <div class="c-panel__heading panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">

        <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
        <div class="c-panel__title c-panel__title--icon-left panel-title">
          <div class="c-panel__row c-panel__row--va-md-up row">
            <div class="c-panel__cell c-panel__cell--body u-text-overflow col-xs-16 col-lg-5 u-hidden-md-down">
              <span class="c-panel__cell-content">A. van der Wilg-de-Vries</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-4 col-lg-3">
              <span class="c-panel__cell-content">02-06-2016</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-8 col-lg-5 u-text-overflow">
              <span class="c-panel__cell-content">Ziekenhuis/Specialistische hulp</span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-3 col-lg-2 u-hidden-sm-down text-center">
              <span class="c-panel__cell-content">
                <i class="u-icon u-icon-ok" aria-hidden="true"></i>
                <span class="sr-only">Door uzelf ingedient</span>
              </span>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">Bedrag</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down col-xs-12 col-md-24 text-center">€ 400.000,-</span>
              </div>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">U betaalt</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down u-text-danger col-xs-12 col-md-24 text-center">€ 400.000,-</span>
              </div>
            </div>
            <div class="c-panel__cell c-panel__cell--body col-xs-24 col-md-3 u-hidden-sm-down">
              <div class="row">
                <div class="col-xs-12 u-hidden-md-up">U ontvangt</div>
                <span class="c-panel__cell-content c-panel__cell--sm-right-down u-text-success col-xs-12 col-md-24 text-center">-</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="collapseTwo" class="c-panel__collapse panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">

        <div class="c-panel__body panel-body u-padding-none">
          <div class="c-tab">

            <div class="c-panel__body u-no-whitespace u-font-size-small panel-body">
              <ul class="c-tab__toggle u-hidden-lg-up u-padding-top-small text-center list-inline" role="tablist">
                <li role="presentation" class="active">
                  <a href="#algemeen" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="algemeen" role="tab" data-toggle="tab">Algemeen</a>
                </li>
                <li role="presentation">
                  <a href="#specificatie" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="specificatie" role="tab" data-toggle="tab">Specificatie</a>
                </li>
              </ul>

              <div class="o-bg-filler__image--blue-1 container-fluid">
                <div class="row">

                  <div class="c-tab__content tab-content clearfix">
                    <div role="tabpanel" class="c-tab__pane u-shown-lg-up tab-pane active" id="algemeen">

                      <div class="o-bg-filler__col--blue-1 col-xs-24 col-lg-6">
                        <div class="o-box o-box--in-grid">
                          <div class="o-box__body">
                            <dl class="c-list c-list--description">
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Verzekerde</dt>
                                <dd class="c-list__item--description">X. van der Wilg (16-06-1989)</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Ontvangen door Zilveren Kruis</dt>
                                <dd class="c-list__item--description">20-05-05-2016</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Ingediend door</dt>
                                <dd class="c-list__item--description">Zorgverlener</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Zorgverlener</dt>
                                <dd class="c-list__item--description">Rkz Dialysecentrum B.V.</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Diagnose</dt>
                                <dd class="c-list__item--description">Chr hemodialyse in instelling (0039)</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Zorgproduct</dt>
                                <dd class="c-list__item--description">Hemodiayse in het dialysecentrum of ziekenhuis (Dialyse 1-3)
                                bij Chronisch nierfalen (140301007)</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Specialisme</dt>
                                <dd class="c-list__item--description">Specialist algemeen</dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="c-tab__pane u-shown-lg-up tab-pane" id="specificatie">

                      <div class="col-xs-24 col-lg-18 u-color-white-bg">
                        <div class="o-box o-box--in-grid o-box--list">

                          <div class="o-box__body">
                            <ul class="c-list-group c-list-group--border list-group">
                              <li class="c-list-group__item list-group-item">
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="c-list-group__heading list-group-item-heading">Behandeldatum</div>
                                    <p class="c-list-group__text list-group-item-text">11-03-2016 t/m 01-05-2016</p>
                                  </div>
                                  <div class="col-md-11 col-lg-9">
                                    <div class="c-list-group__heading list-group-item-heading">Omschrijving</div>
                                    <div class="c-list-group__text list-group-item-text">
                                      1x afdeling interne geneeskunde (15C768)
                                    </div>
                                    <div class="c-list-group__heading list-group-item-heading">Toelichting</div>
                                    <div class="c-list-group__text list-group-item-text">
                                      Vergoeding vanuit uw basisverzekering. Zilveren Kruis betaalt de zorgverlener voor u.
                                      U betaalt eigen risico.
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-lg-4">
                                    <div class="c-list-group__heading list-group-item-heading">Bedrag</div>
                                    <div class="c-list-group__text list-group-item-text">€ 10.000,65</div>
                                  </div>
                                  <div class="col-md-3 col-lg-4">
                                    <div class="c-list-group__heading list-group-item-heading">Eigen risico</div>
                                    <div class="c-list-group__text list-group-item-text">€ 500,-</div>
                                  </div>
                                  <div class="col-md-3 col-lg-3">
                                    <div class="c-list-group__heading list-group-item-heading">U ontvangt</div>
                                    <div class="c-list-group__text list-group-item-text">€ 50,-</div>
                                  </div>
                                </div>
                              </li>

                              <li class="c-list-group__item list-group-item">
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="c-list-group__heading list-group-item-heading">Behandeldatum</div>
                                    <p class="c-list-group__text list-group-item-text">11-03-2016 t/m 01-05-2016</p>
                                  </div>
                                  <div class="col-md-11 col-lg-9">
                                    <div class="c-list-group__heading list-group-item-heading">Omschrijving</div>
                                    <div class="c-list-group__text list-group-item-text">
                                      1x afdeling interne geneeskunde (15C768)
                                    </div>
                                    <div class="c-list-group__heading list-group-item-heading">Toelichting</div>
                                    <div class="c-list-group__text list-group-item-text">
                                      Vergoeding vanuit uw basisverzekering. Zilveren Kruis betaalt de zorgverlener voor u.
                                      U betaalt eigen risico.
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-lg-4">
                                    <div class="c-list-group__heading list-group-item-heading">Bedrag</div>
                                    <div class="c-list-group__text list-group-item-text">€ 10.000,65</div>
                                  </div>
                                  <div class="col-md-3 col-lg-4">
                                    <div class="c-list-group__heading list-group-item-heading">Eigen risico</div>
                                    <div class="c-list-group__text list-group-item-text">€ 500,-</div>
                                  </div>
                                  <div class="col-md-3 col-lg-3">
                                    <div class="c-list-group__heading list-group-item-heading">U ontvangt</div>
                                    <div class="c-list-group__text list-group-item-text">€ 50,-</div>
                                  </div>
                                </div>
                              </li>
                            </ul>

                            <div class="collapse" id="collapseList">

                              <div class="o-box o-box--blue-0">
                                <div class="o-box__body">
                                  <div class="table-responsive">
                                    <table class="c-table table u-margin-none">
                                      <tr class="c-table__row c-table__row--head">
                                        <th class="c-table__cell c-table__head">Datum</th>
                                        <th class="c-table__cell c-table__head">Zorgactiviteit</th>
                                        <th class="c-table__cell c-table__head">Eenheid</th>
                                      </tr>
                                      <tr class="c-table__row">
                                        <td class="c-table__cell">11‑03‑2016</td>
                                        <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
                                        <td class="c-table__cell">-</td>
                                      </tr>
                                      <tr class="c-table__row">
                                        <td class="c-table__cell">11‑03‑2016</td>
                                        <td class="c-table__cell">1x Behandelen nierdialyse in een centrum waarbij men zelf een rol speelt bij het instellen van de machine,  met EPO. (190060)</td>
                                        <td class="c-table__cell">-</td>
                                      </tr>
                                      <tr class="c-table__row">
                                        <td class="c-table__cell">11‑03‑2016 t/m 08‑05‑2016</td>
                                        <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
                                        <td class="c-table__cell">-</td>
                                      </tr>
                                      <tr class="c-table__row">
                                        <td class="c-table__cell">01‑05‑2016</td>
                                        <td class="c-table__cell">Dalacin topico morfine 300</td>
                                        <td class="c-table__cell">5 mg</td>
                                      </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <button type="button" class="c-btn c-btn--link c-btn--toggle btn btn-link collapsed" data-target="#collapseList" data-toggle="collapse" data-open="Verberg details" data-close="Toon details" aria-expanded="true" aria-controls="collapseList">
                              <i class="c-btn__icon c-btn__icon--toggle u-icon u-icon-arrow-up" aria-hidden="true"></i>
                              <span class="sr-only">Toon of verberg details</span>
                            </button>

                            <div class="o-layout--table o-layout--va-middle">
                              <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
                                <i class="u-icon u-icon-eye" aria-hidden="true"></i>
                              </div>
                              <div class="o-layout__item--cell">
                                Vanwege privacywetgeving kunt u niet alle details bekijken
                              </div>
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-24 col-md-8 col-lg-6 text-center pull-right">
      <div class="u-margin-bottom">
        <label for="declaratiesPerPagina">Declaraties per pagina:</label>
        <select class="" name="declaratiesPerPagina" id="declaratiesPerPagina">
          <option value="20">20</option>
          <option value="30">40</option>
          <option value="40">60</option>
          <option value="50">100</option>
        </select>
      </div>
    </div>

    <div class="col-xs-24 col-md-16 col-lg-10 col-lg-offset-4 text-center">
      <nav aria-label="Declaratie paginering">
        <ul class="c-pagination">
          <li class="c-pagination__item u-hidden-xs-up">
            <a class="c-pagination__link" href="#" aria-label="Vorige">
              <i class="c-pagination__link-icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
              <span class="u-hidden-xs-down">Vorige</span>
            </a>
          </li>
          <li class="c-pagination__item is-active">
            <span class="c-pagination__link">
              1
              <span class="sr-only">(huidige pagina)</span>
            </span>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">2</a>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">3</a>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">4</a>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">5</a>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link u-hidden-xs-down" href="#">6</a>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link u-hidden-xs-down" href="#">7</a>
          </li>
          <li class="c-pagination__item" aria-hidden="true">
            <span class="c-pagination__link">...</span>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">68</a>
          </li>
          <li class="c-pagination__item">
            <a class="c-pagination__link" href="#" aria-label="Volgende">
              <span class="u-hidden-xs-down">Volgende</span>
              <i class="c-pagination__link-icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

</div>
