---
script_body:
  - src: /assets/js/c-popover.min.js
---
<h2>Static popover</h2>

<p>Four options are available: top, right, bottom, and left aligned.</p>

<button type="button" class="c-btn c-btn--normal btn js-popover" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

<div class="sg-example">
  <div class="sg-popover--examples">

    <div class="c-popover c-popover--tour popover top">
      <div class="c-popover__arrow arrow"></div>
      <div class="c-popover__heading c-popover__heading--with-icon">
        <div class="o-layout--table o-layout--va-middle">
          <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
            <img class="c-popover__icon" src="/assets/img/lightbulb.svg" alt="">
          </div>
          <div class="o-layout__item--cell">
            <h3 class="c-popover__title popover-title">Popover top</h3>
          </div>
        </div>
      </div>
      <div class="c-popover__body popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
      <div class="c-popover__footer">
        <div class="clearfix u-margin-bottom-small">
          <a href="" class="c-btn c-btn--outline c-btn--outline-white is-disabled btn pull-left">
            <i class="u-icon u-icon-arrow-left" aria-hidden="true"></i>
            Vorige
          </a>
          <a href="" class="c-btn c-btn--outline c-btn--outline-white btn pull-right">
            Volgende
            <i class="u-icon u-icon-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
        <a href="" class="c-popover__link">Bedankt voor de tip</a>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="c-popover popover top">
      <div class="c-popover__arrow arrow"></div>
      <div class="c-popover__heading c-popover__heading--with-icon">
        <h3 class="c-popover__title popover-title">Popover top</h3>
      </div>
      <div class="c-popover__body popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <div class="c-popover popover right">
      <div class="c-popover__arrow arrow"></div>
      <div class="c-popover__heading c-popover__heading--with-icon">
        <h3 class="c-popover__title popover-title">Popover right</h3>
      </div>
      <div class="c-popover__body popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <div class="c-popover popover bottom">
      <div class="c-popover__arrow arrow"></div>
      <div class="c-popover__heading c-popover__heading--with-icon">
        <h3 class="c-popover__title popover-title">Popover bottom</h3>
      </div>
      <div class="c-popover__body popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <div class="c-popover popover left">
      <div class="c-popover__arrow arrow"></div>
      <div class="c-popover__heading c-popover__heading--with-icon">
        <h3 class="c-popover__title popover-title">Popover left</h3>
      </div>
      <div class="c-popover__body popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

  </div>
</div>

<h2>Contextual variants</h2>
<div class="sg-example">
  <div class="sg-popover--examples">

    <div class="c-popover c-popover--white popover top">
      <div class="c-popover__arrow arrow"></div>
      <div class="c-popover__heading c-popover__heading--with-icon">
        <div class="o-layout--table o-layout--va-middle">
          <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
            <img class="c-popover__icon" src="/assets/img/lightbulb.svg" alt="">
          </div>
          <div class="o-layout__item--cell">
            <h3 class="c-popover__title popover-title">Popover top</h3>
          </div>
        </div>
      </div>
      <div class="c-popover__body popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
      <div class="c-popover__footer">
        <div class="clearfix u-margin-bottom-small">
          <a href="" class="c-btn c-btn--outline is-disabled btn pull-left">
            <i class="u-icon u-icon-arrow-left" aria-hidden="true"></i>
            Vorige
          </a>
          <a href="" class="c-btn c-btn--outline btn pull-right">
            Volgende
            <i class="u-icon u-icon-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
        <a href="" class="c-popover__link">Bedankt voor de tip</a>
      </div>
    </div>

  </div>
</div>
