//   ========================================================================
//   #BOX
//   ========================================================================

//
// The box object simply boxes off content. Extend with cosmetic styles in the
// Components layer.
//
// 1. So we can apply the `.o-box` class to naturally-inline elements.
//

@import "@zilverenkruis/settings/_settings";
@import "_o-box.settings";

@mixin corner-bevel (
  $background-color: $o-box-blue-1-background-color,
  $bevel-position: null,
  $bevel-size: 20px,
  $corner-top-left-bevel: $bevel-size,
  $corner-top-right-bevel: $bevel-size,
  $corner-bottom-right-bevel: $bevel-size,
  $corner-bottom-left-bevel: $bevel-size
) {
  @if ($bevel-position == "top-left") {
    $corner-top-left-bevel: $bevel-size;
    $corner-top-right-bevel: 0;
    $corner-bottom-right-bevel: 0;
    $corner-bottom-left-bevel: 0;
  }

  @if ($bevel-position == "top-right") {
    $corner-top-left-bevel: 0;
    $corner-top-right-bevel: $bevel-size;
    $corner-bottom-right-bevel: 0;
    $corner-bottom-left-bevel: 0;
  }

  background: #{$background-color}; // Fallback
  background:
    linear-gradient(135deg, transparent $corner-top-left-bevel, $background-color $corner-top-left-bevel),
    linear-gradient(225deg, transparent $corner-top-right-bevel, $background-color $corner-top-right-bevel),
    linear-gradient(315deg, transparent $corner-bottom-right-bevel, $background-color $corner-bottom-right-bevel),
    linear-gradient(45deg, transparent $corner-bottom-left-bevel, $background-color $corner-bottom-left-bevel);

  background-position:
    top left,
    top right,
    bottom right,
    bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
}

.o-box {
  @include clearfix;

  position: relative;
  border-radius: $global-border-radius-base;
  display: block; // [1]
  margin-bottom: $global-spacing-unit-base;

  &.is-disabled {
    cursor: default;
    opacity: 0.5;

    &:hover,
    &:hover a {
      color: $o-box-is-disabled-hover-color;
    }
  }
}

.o-box__heading {
  margin-top: 0;
  margin-bottom: $global-spacing-unit-small;
}

.o-box__heading--small {
  font-size: 16px;
  margin-bottom: 6px;
}

.o-box__body,
.o-box__content {
  @include box-spacing("small");

  @include media-breakpoint-up("md") {
    @include box-spacing();
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.o-box__body--flush {
  padding: 0;
}

.o-box__icon--font {
  color: $o-box-icon-font-color;
  vertical-align: top;
}

.o-box__icon--img {
  max-width: 100%;
  height: auto;
  vertical-align: inherit;
}

.o-box--in-grid {
  .o-box__body {
    padding-left: $global-spacing-unit-small - ($global-grid-gutter-width-base / 2);
    padding-right: $global-spacing-unit-small - ($global-grid-gutter-width-base / 2);
  }

  margin-bottom: 0;
}

.o-box--list {
  & + & {
    .o-box__body {
      padding-top: 0;
    }
  }
}

.o-box--flush {
  margin-bottom: 0;
}

.o-box__img-container--right {
  height: 100%;
  right: 0;

  .o-box__img {
    @include centering(vertical, absolute);

    right: $global-spacing-unit-small;
    width: 58%;
    height: 66%;
  }
}

.o-box__curved-divider {
  fill: $o-box-curved-divider-fill;
}

.o-box__text--small {
  font-size: 14px;
  margin-bottom: 6px;
}

// Contextual variants
// ==========================================================================
.o-box--border {
  border: 1px solid $o-box-border-color;
}

.o-box--border-dashed {
  border: 1px dashed $o-box-border-dashed-border-color;
}

.o-box--interactive,
.o-box--tile-interactive { // TODO: remove | deprecated: only for tiles
  text-decoration: none;

  &:hover,
  &:focus,
  &.is-active {
    border: 3px solid;

    .o-box__body {
      margin-top: -3px;
      margin-right: -3px;
      margin-left: -3px;
    }
  }

  &:hover,
  &:focus {
    border-color: $o-box-tile-interactive-hover-border-color;
    text-decoration: none;
  }

  &.is-active {
    border-color: $o-box-tile-interactive-is-active-border-color;
  }
}

.o-box--tile {
  border-bottom: 3px solid $o-box-tile-border-bottom-color;
  background-color: $o-box-tile-background-color;

  &.is-disabled {
    border-color: $o-box-tile-is-disabled-border-color;

    .o-box__body {
      margin-top: -3px;
      margin-right: -3px;
      margin-left: -3px;
    }

    &:hover {
      border-right: none;
      border-left: none;
      border-top: none;
    }
  }
}

.o-box--in-flex-layout {
  height: 100%;
  margin-bottom: 0;
}

.o-box--inverse {
  color: $o-box-inverse-color;
}

.o-box--img-right,
.o-box--img-left {
  .o-box__img-container {
    position: absolute;
    top: 0;
    background-color: #d6eff0;
  }
}

.o-box--img-right {
  min-height: 166px;

  .o-box__body {
    padding-right: $global-spacing-unit-small;
  }
}

.o-box--img-left {
  min-height: 166px;

  .o-box__body {
    padding-left: $global-spacing-unit-small;
  }
}

.o-box--img-top {
  text-align: center;

  .o-box__body {
    padding-right: $global-spacing-unit-small;
    padding-left: $global-spacing-unit-small;
  }

  .o-box__img-container {
    position: relative;
    width: 40%;
    min-width: 40px;
    max-width: 50px;
    margin: auto;
    margin-bottom: $global-spacing-unit-small;
  }
}

.o-box--curved {

}

.o-box--curved-top-left {
  &.o-box--white {
    @include corner-bevel(
      $background-color: $color-white,
      $bevel-position: "top-left",
      $bevel-size: $bevel-size-small
    );

    @include media-breakpoint-up("md") {
      @include corner-bevel(
        $background-color: $color-white,
        $bevel-position: "top-left"
      );
    }
  }

  &.o-box--blue-1 {
    @include corner-bevel(
      $background-color: $o-box-blue-1-background-color,
      $bevel-position: "top-left",
      $bevel-size: $bevel-size-small
    );

    @include media-breakpoint-up("md") {
      @include corner-bevel(
        $background-color: $o-box-blue-1-background-color,
        $bevel-position: "top-left"
      );
    }
  }
}

.o-box--curved-top-right {
  &.o-box--white {
    @include corner-bevel(
      $background-color: $color-white,
      $bevel-position: "top-right",
      $bevel-size: $bevel-size-small
    );

    @include media-breakpoint-up("md") {
      @include corner-bevel(
        $background-color: $color-white,
        $bevel-position: "top-right"
      );
    }
  }

  &.o-box--blue-1 {
    @include corner-bevel(
      $background-color: $o-box-blue-1-background-color,
      $bevel-position: "top-right",
      $bevel-size: $bevel-size-small
    );

    @include media-breakpoint-up("md") {
      @include corner-bevel(
        $background-color: $o-box-blue-1-background-color,
        $bevel-position: "top-right"
      );
    }
  }
}

// Color variants
// ==========================================================================

.o-box--white {
  background-color: $o-box-white-background-color;
}

.o-box--blue-0 {
  background-color: $o-box-blue-0-background-color;
}

.o-box--blue-1 {
  background-color: $o-box-blue-1-background-color;
}

.o-box--blue-2 {
  background-color: $o-box-blue-2-background-color;
}

.o-box--blue-6 {
  background-color: $o-box-blue-6-background-color;
}

.o-box--border-blue-8 {
  border-color: $o-box-blue-8-background-color;
}

// Size variants
// ==========================================================================

.o-box--tiny {
  .o-box__body {
    @include box-spacing("tiny");
  }

  &.o-box--in-grid {
    .o-box__body {
      padding-left: $global-spacing-unit-tiny - ($global-grid-gutter-width-base / 2);
      padding-right: $global-spacing-unit-tiny - ($global-grid-gutter-width-base / 2);
    }
  }
}

.o-box--small {
  .o-box__body {
    @include box-spacing("small");
  }

  &.o-box--in-grid {
    .o-box__body {
      padding-left: $global-spacing-unit-small - ($global-grid-gutter-width-base / 2);
      padding-right: $global-spacing-unit-small - ($global-grid-gutter-width-base / 2);
    }
  }
}

.o-box--large {
  .o-box__body {
    @include box-spacing(large);
  }

  &.o-box--in-grid {
    .o-box__body {
      padding-left: $global-spacing-unit-large - ($global-grid-gutter-width-base / 2);
      padding-right: $global-spacing-unit-large - ($global-grid-gutter-width-base / 2);
    }
  }
}

.o-box--huge {
  .o-box__body {
    @include box-spacing(huge);
  }

  &.o-box--in-grid {
    .o-box__body {
      padding-left: $global-spacing-unit-huge - ($global-grid-gutter-width-base / 2);
      padding-right: $global-spacing-unit-huge - ($global-grid-gutter-width-base / 2);
    }
  }
}
