//   ========================================================================
//   #BACKGROUND OBJECT SETTINGS AVERO THEME
//   ========================================================================

//
// `Theme object settings file` which overrules the
// `Object settings file`.
//

$o-box-icon-font-color: $avero-color-primary-10;
$o-box-tile-border-bottom-color: none;
$o-box-blue-0-background-color: $avero-color-secundary-1;
$o-box-blue-6-background-color: $avero-color-primary-0;

$o-box-inverse-color: $elements-heading-h4-color;

$o-box-border-color : $avero-color-secundary-3;

