//   ========================================================================
//   #BACKGROUND OBJECT SETTINGS
//   ========================================================================

//
// `Object settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

// Component settings
// ==========================================================================
$bevel-size-small: $global-spacing-unit-small !default;

// Color settings
// ==========================================================================
$o-box-is-disabled-hover-color: $color-blue-7 !default;

$o-box-icon-font-color: $color-blue-8 !default;

$o-box-curved-divider-fill: $color-white !default;

$o-box-border-color: $color-blue-1 !default;

$o-box-border-dashed-border-color: $color-blue-8 !default;

$o-box-tile-interactive-hover-border-color: $color-blue-4 !default;
$o-box-tile-interactive-is-active-border-color: $color-orange-1 !default;

$o-box-tile-border-bottom-color: $color-blue-2 !default;
$o-box-tile-background-color: $color-white !default;
$o-box-tile-is-disabled-border-color: $color-blue-2 !default;

$o-box-inverse-color: $color-white !default;

$o-box-white-background-color: $color-white !default;
$o-box-blue-0-background-color: $color-blue-0 !default;
$o-box-blue-1-background-color: $color-blue-1 !default;
$o-box-blue-2-background-color: $color-blue-2 !default;
$o-box-blue-6-background-color: $color-blue-6 !default;
$o-box-blue-8-background-color: $color-blue-8 !default;
