//   ========================================================================
//   #BACKGROUND OBJECT SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme object settings file` which overrules the
// `Object settings file`.
//

// Color settings
// ==========================================================================
$o-box-blue-0-background-color: $fbto-color-blue-3;

$o-box-blue-6-background-color: $fbto-color-blue-0;

$o-bg-filler-blue-1-background-color : $fbto-color-blue-3;
