---
title: Component 1
template: klantdomein-subpage.pug
script_head:
  - src: /component-1-script1.js
script_body:
  - src: /component-1-script2.js
links:
  - href: /component-1-style1.css
  - href: /component-1-style2.css
---

p component-1
