//   ========================================================================
//   #RATING
//   ========================================================================

//
// Rating component
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "_c-rating.settings";

.c-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  display: inline-block;
  font-size: 0; // remove inline-block whitespace

  @include rating-variant($c-rating-background-color, $c-rating-color, $c-rating-hover-color);
}

.c-rating__item {
  position: relative;
  width: 1.1em;
  display: inline-block;
  font-size: $global-font-size-small; // reset font-size for whitespace
}

.c-rating--hover {
  .c-rating__item:hover,
  .c-rating__item:hover ~ .c-rating__item {
    cursor: pointer;
  }
}

// Contextual variants
// ==========================================================================
.c-rating--modified {
  @include rating-variant($c-rating-modified-background-color, $c-rating-modified-color, $c-rating-modified-hover-color);
}

// Size variants
// ==========================================================================
