//   ========================================================================
//   #RATING SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-rating-background-color : $color-blue-8 !default;
$c-rating-color : $color-blue-3 !default;
$c-rating-hover-color : $color-orange-1 !default;

$c-rating-modified-background-color: $color-orange-1 !default;
$c-rating-modified-color : $color-blue-3 !default;
$c-rating-modified-hover-color : $color-orange-1 !default;
