//
// Bootstrap tooltip overrules (therefore no BEM is used).
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "c-tooltip.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

.c-tooltip {
  &.in {
    opacity: 1;
  }
}

.c-tooltip__inner {
  padding: $global-spacing-unit-small;
  text-align: left;
}

.c-tooltip__heading {
  margin-top: 0;
  margin-bottom: $global-spacing-unit-small;
  color: inherit;
}

.c-tooltip--white {
  .c-tooltip__inner {
    background-color: $c-tooltip-white-inner-background-color;
    color: $c-tooltip-white-inner-color;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }

  &.top {
    .c-tooltip__arrow {
      border-top-color: $c-tooltip-white-arrow-border-color;
    }
  }
  &.right {
    .c-tooltip__arrow {
      border-right-color: $c-tooltip-white-arrow-border-color;
    }
  }
  &.bottom {
    .c-tooltip__arrow {
      border-bottom-color: $c-tooltip-white-arrow-border-color;
    }
  }
  &.left {
    .c-tooltip__arrow {
      border-left-color: $c-tooltip-white-arrow-border-color;
    }
  }
}
