//   ========================================================================
//   #TOOLTIP SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-tooltip-white-inner-background-color: $color-white !default;
$c-tooltip-white-inner-color: $global-text-color !default;
$c-tooltip-white-arrow-border-color: $color-white !default;
