//   ========================================================================
//   #ALERT SETTINGS AVERO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-alert-info-2-background-color: $avero-color-secundary-7; //$avero-color-primary-8;
$c-alert-info-2-border-color: $avero-color-secundary-7;

$c-alert-warning-2-background-color: $avero-color-warning-1;
$c-alert-warning-2-border-color: $avero-color-warning-1;

$c-alert-success-2-background-color: $avero-color-secundary-7;
$c-alert-success-2-border-color: $avero-color-secundary-7;
