//   ========================================================================
//   #ALERT SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-alert-success-background-color: $alert-success-bg !default;
$c-alert-success-border-color: $alert-success-bg !default;
$c-alert-success-color: $alert-success-text !default;

$c-alert-success-2-background-color: $color-turquoise-5 !default;
$c-alert-success-2-border-color: $alert-success-bg !default;
$c-alert-success-2-color: $color-white !default;

$c-alert-info-background-color: $alert-info-bg !default;
$c-alert-info-border-color: $alert-info-bg !default;
$c-alert-info-color: $alert-info-text !default;

$c-alert-info-2-background-color: $color-blue-8 !default;
$c-alert-info-2-border-color: $color-blue-8 !default;
$c-alert-info-2-color: $color-white !default;

$c-alert-warning-background-color: $alert-warning-bg !default;
$c-alert-warning-border-color: $alert-warning-bg !default;
$c-alert-warning-color: $alert-warning-text !default;

$c-alert-warning-2-background-color: $color-orange-1 !default;
$c-alert-warning-2-border-color: $color-orange-1 !default;
$c-alert-warning-2-color: $color-white !default;

$c-alert-danger-background-color: $alert-danger-bg !default;
$c-alert-danger-border-color: $alert-danger-bg !default;
$c-alert-danger-color: $alert-danger-text !default;

$c-alert-danger-2-background-color: $color-pink-3 !default;
$c-alert-danger-2-border-color: $alert-danger-bg !default;
$c-alert-danger-2-color: $color-white !default;
