//   ========================================================================
//   #ALERT SETTINGS PROLIFE THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-alert-info-2-background-color: $prolife-color-green-5;
$c-alert-info-2-color: $prolife-color-black-5;
$c-alert-info-2-border-color : $prolife-color-green-5;

$c-alert-warning-2-background-color: $prolife-color-orange-0;
$c-alert-warning-2-border-color: $prolife-color-orange-0;
