//   ========================================================================
//   #ALERT SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-alert-success-background-color: $fbto-color-success-0;
$c-alert-success-border-color: $fbto-color-success-1;
$c-alert-success-color: $global-text-color;

$c-alert-success-2-background-color: $fbto-color-success-0;
$c-alert-success-2-border-color: $fbto-color-success-1;
$c-alert-success-2-color: $global-text-color;//$fbto-color-success-0;

$c-alert-info-background-color: $fbto-color-notice-0;
$c-alert-info-border-color: $fbto-color-notice-1;
$c-alert-info-color: $global-text-color;

//$c-alert-info-background-color: $fbto-color-notice-0;
//$c-alert-info-border-color: $fbto-color-notice-1;
//$c-alert-info-color: $global-text-color;

$c-alert-warning-background-color: $fbto-color-error-0;
$c-alert-warning-border-color: $fbto-color-error-1;
$c-alert-warning-color: $global-text-color;

//$c-alert-warning-2-background-color: $fbto-color-error-0;
//$c-alert-warning-2-border-color: $fbto-color-error-0;
//$c-alert-warning-2-color: $global-text-color;

$c-alert-danger-background-color: $fbto-color-error-0;
$c-alert-danger-border-color: $fbto-color-error-1;
$c-alert-danger-color: $global-text-color; //$fbto-color-error-1;

$c-alert-danger-2-background-color: $fbto-color-error-1;
$c-alert-danger-2-border-color: $fbto-color-error-0;
$c-alert-danger-2-color: $global-text-color;

