//   ========================================================================
//   #ALERT
//   ========================================================================

//
// Provide contextual feedback messages for typical user actions with the
// handful of available and flexible alert messages.
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "c-alert.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/alerts";

// Contextual variants.
// ==========================================================================
.c-alert {
  font-size: $global-font-size-small;
}

.c-alert--no-radius {
  border-radius: 0;
}

.c-alert--inside-top {
  @include border-top-radius($global-border-radius-base - 1);
  @include border-bottom-radius(0);

  margin-bottom: 0;
}

.c-alert--inside-bottom {
  @include border-top-radius(0);
  @include border-bottom-radius($global-border-radius-base - 1);

  margin-bottom: 0;
}

.c-alert__close {
  opacity: 1;
  color: inherit;
  font-size: inherit;
  line-height: inherit;

  &:hover,
  &:focus {
    opacity: 0.8;
    color: inherit;
  }
}

// Contextual variants.
// ==========================================================================
.c-alert--success {
  @include alert-variant($c-alert-success-background-color, $c-alert-success-border-color, $c-alert-success-color);
}

.c-alert--success-2 {
  @include alert-variant($c-alert-success-2-background-color, $c-alert-success-2-border-color, $c-alert-success-2-color);
}

.c-alert--info {
  @include alert-variant($c-alert-info-background-color, $c-alert-info-border-color, $c-alert-info-color);
}

.c-alert--info-2 {
  @include alert-variant($c-alert-info-2-background-color, $c-alert-info-2-border-color, $c-alert-info-2-color);
}

.c-alert--warning {
  @include alert-variant($c-alert-warning-background-color, $c-alert-warning-border-color, $c-alert-warning-color);
}

.c-alert--warning-2 {
  @include alert-variant($c-alert-warning-2-background-color, $c-alert-warning-2-border-color, $c-alert-warning-2-color);
}

.c-alert--danger {
  @include alert-variant($c-alert-danger-background-color, $c-alert-danger-border-color, $c-alert-danger-color);
}

.c-alert--danger-2 {
  @include alert-variant($c-alert-danger-2-background-color, $c-alert-danger-2-border-color, $c-alert-danger-2-color);
}

// Size modifiers.
// ==========================================================================
.c-alert--small {
  @include box-spacing("tiny");
}

.c-alert--large {
  font-size: $global-font-size-base;
  font-weight: $global-font-weight-bold;

  @include box-spacing;
}
