//   ========================================================================
//   #BTN
//   ========================================================================

//
// Custom button styles for actions in forms, dialogs, and more. Includes
// support for a handful of contextual variations, sizes, states, and more.
//

//
// 1. Reset/normalize some styles.
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "c-btn.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";

.c-btn {
  padding: $global-spacing-unit-tiny-offset $global-spacing-unit-small;
  border-width: 0 0 2px;
  text-decoration: none;
  font-family: $global-btn-font-family;
  font-weight: $global-btn-font-weight;

  // reset tab-focus for active focus
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0;
    }
  }

  &:active,
  &.active {
    border-width: 2px 0 0;
    box-shadow: none;
  }
}

// Contextual variants
// ==========================================================================
.c-btn--normal {
  color: $c-btn-normal-color;
  background-color: $c-btn-normal-background-color;
  border-color: $c-btn-normal-border-color;

  &,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-btn-normal-hover-color; // [1]
  }

  &:hover,
  &:focus,
  &.focus {
    background-color: $c-btn-normal-background-hover-color;
  }
}

.c-btn--primary {
  color: $c-btn-primary-color;
  background-color: $c-btn-primary-background-color;
  border-color: $c-btn-primary-border-color;

  &,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-btn-primary-hover-color; // [1]
  }

  &:hover,
  &:focus,
  &.focus {
    background-color: $c-btn-primary-background-hover-color;
  }
}

.c-btn--tile {
  box-sizing: border-box;
  color: $c-btn-tile-color;
  background-color: $c-btn-tile-background-color;
  border-bottom: 2px solid $c-btn-tile-border-bottom-color;

  &.active,
  .active > & {
    &,
    &:hover,
    &:focus,
    &.focus {
      border: 2px solid $c-btn-tile-border-hover-1-color;
      padding: ($global-spacing-unit-tiny-offset - 2) ($global-spacing-unit-small - 2) $global-spacing-unit-tiny-offset;
    }
  }

  &,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-btn-tile-hover-color; // [1]
  }

  &:hover,
  &:focus,
  &.focus {
    padding: ($global-spacing-unit-tiny-offset - 2) ($global-spacing-unit-small - 2) $global-spacing-unit-tiny-offset;
    border: 2px solid $c-btn-tile-border-hover-2-color;
  }
}

.c-btn--tile-blue {
  background-color: $c-btn-tile-blue-background-color;
}

// Link buttons
// ==========================================================================
.c-btn--link {
  padding: 0;
  border: none;
  text-align: left;

  &:active,
  &.active {
    border-width: 0;
  }

  .c-btn__icon {
    color: $c-btn-icon-color;

    &:hover{
      color:$c-btn-icon-hover-color;
    }
  }
}

.c-btn--link-white {
  &,
  .c-btn__icon,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-btn-link-white-color;
  }
}

// Outline buttons
// ==========================================================================
.c-btn--outline {
  border: 1px solid $c-btn-outline-border-color;
  background: none;
  color: $c-btn-outline-color;

  &:active,
  &.active {
    border-width: 1px;
  }

  &,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-btn-outline-hover-color;
  }

  &.is-disabled {
    opacity: 0.5;
  }
}

.c-btn--outline-primary {
  border-color: $c-btn-outline-primary-border-color;
  color: $c-btn-outline-primary-color;

  &,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-btn-outline-primary-hover-color;
  }
}

.c-btn--outline-white {
  border-color: $c-btn-outline-white-border-color;
  color: $c-btn-outline-white-color;

  &,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-btn-outline-white-hover-color;
  }
}

.c-btn--wrap {
  white-space: normal;
}

// Toggle buttons
// ==========================================================================
.c-btn--toggle {
  &:after {
    content: attr(data-open);
  }

  &.collapsed .c-btn__icon--toggle {
    transform: rotate(-180deg);
  }

  &.collapsed:after {
    content: attr(data-close);
  }
}

.c-btn__icon--toggle {
  transform: rotate(0);
  transition: transform 0.35s;
}

// Size variants
// ==========================================================================
.c-btn--small {
  padding: $global-spacing-unit-small-offset $global-spacing-unit-base;
  font-size: 18px;

  &.c-btn--tile {
    padding: ($global-spacing-unit-small-offset - 3) ($global-spacing-unit-base - 3) $global-spacing-unit-small-offset;
    border-width: 3px;

    &.collapsed {
      padding: $global-spacing-unit-small-offset $global-spacing-unit-base;
      border-width: 3px;

      &:hover {
        padding: ($global-spacing-unit-small-offset - 3) ($global-spacing-unit-base - 3) $global-spacing-unit-small-offset;
        border-width: 3px;
      }
    }
  }
}

.c-btn--large {
  padding: $global-spacing-unit-small-offset $global-spacing-unit-base;
  font-size: 18px;
}
