//   ========================================================================
//   #BTN SETTINGS AVERO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

// $c-btn-normal-background-color: $color-blue-8 !default;
// $c-btn-normal-background-hover-color: $color-blue-7 !default;
// $c-btn-normal-border-color: $color-blue-9 !default;
// $c-btn-normal-color: $color-white !default;
// $c-btn-normal-hover-color: $color-white !default;

// $c-btn-primary-background-color: $color-pink-3 !default;
// $c-btn-primary-background-hover-color: $color-pink-2 !default;
// $c-btn-primary-border-color: $color-pink-4 !default;
// $c-btn-primary-color: $color-white !default;
//$c-btn-primary-hover-color: $avero-color-secundary-10;

// $c-btn-tile-background-color: $color-white !default;
$c-btn-tile-border-bottom-color: $avero-color-secundary-5;
$c-btn-tile-border-hover-1-color: $avero-color-primary-10;
$c-btn-tile-border-hover-2-color: $avero-color-primary-8;


//$c-btn-tile-color: lime;// $avero-color-primary-0;
$c-btn-tile-hover-color: $avero-color-secundary-10;

$c-btn-tile-blue-background-color: $avero-color-secundary-3;//$avero-color-primary-10;
// $c-btn-outline-border-color: $color-blue-9 !default;
// $c-btn-outline-color: $color-blue-9 !default;
// $c-btn-outline-hover-color: $color-blue-9 !default;

// $c-btn-outline-primary-border-color: $color-pink-2 !default;
// $c-btn-outline-primary-color: $color-pink-2 !default;
// $c-btn-outline-primary-hover-color: $color-pink-2 !default;

// $c-btn-outline-white-border-color: $color-white !default;
// $c-btn-outline-white-color: $color-white !default;
// $c-btn-outline-white-hover-color: $color-white !default;

$c-btn-icon-color: $avero-color-primary-8;

// $c-btn-link-white-color: $color-white !default;
