//   ========================================================================
//   #BTN SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//


$c-btn-tile-blue-background-color: $fbto-color-blue-1;

$c-btn-icon-color :  inherit;
$c-btn-icon-hover-color : inherit;

$c-btn-tile-border-hover-1-color: $fbto-color-blue-0;

$c-btn-tile-hover-color: $fbto-color-blue-0;

$c-btn-outline-primary-border-color: $fbto-color-blue-1;
$c-btn-outline-primary-color : $fbto-color-blue-1;
$c-btn-outline-primary-hover-color : $fbto-color-blue-1;
