//   ========================================================================
//   #BTN SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-btn-normal-background-color: $color-blue-8 !default;
$c-btn-normal-background-hover-color: $color-blue-7 !default;
$c-btn-normal-border-color: $color-blue-9 !default;
$c-btn-normal-color: $color-white !default;
$c-btn-normal-hover-color: $color-white !default;

$c-btn-primary-background-color: $color-pink-3 !default;
$c-btn-primary-background-hover-color: $color-pink-2 !default;
$c-btn-primary-border-color: $color-pink-4 !default;
$c-btn-primary-color: $color-white !default;
$c-btn-primary-hover-color: $color-white !default;

$c-btn-tile-background-color: $color-white !default;
$c-btn-tile-border-bottom-color: $color-blue-2 !default;
$c-btn-tile-border-hover-1-color: $color-orange-1 !default;
$c-btn-tile-border-hover-2-color: $color-blue-4 !default;
$c-btn-tile-color: $color-blue-8 !default;
$c-btn-tile-hover-color: $color-blue-8 !default;

$c-btn-tile-blue-background-color: $color-blue-1 !default;

$c-btn-outline-border-color: $color-blue-8 !default;
$c-btn-outline-color: $color-blue-8 !default;
$c-btn-outline-hover-color: $color-blue-8 !default;

$c-btn-outline-primary-border-color: $color-pink-2 !default;
$c-btn-outline-primary-color: $color-pink-2 !default;
$c-btn-outline-primary-hover-color: $color-pink-2 !default;

$c-btn-outline-white-border-color: $color-white !default;
$c-btn-outline-white-color: $color-white !default;
$c-btn-outline-white-hover-color: $color-white !default;

$c-btn-icon-color: $color-pink-3 !default;
$c-btn-icon-hover-color : $color-pink-3 !default;

$c-btn-link-white-color: $color-white !default;
