---
script_body:
  - src: /assets/js/c-tooltip.min.js
---

<h2>Tooltips</h2>

<div class="o-box o-box--blue-1">
  <div class="o-box__body u-margin-large">
    <button type="button" class="c-btn c-btn--primary js-tooltip btn" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
    <button type="button" class="c-btn c-btn--primary js-tooltip-white btn" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
    <button type="button" class="c-btn c-btn--primary js-tooltip btn" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
    <button type="button" class="c-btn c-btn--primary js-tooltip-white btn" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
  </div>
</div>
