<h1>Tables</h1>

<h2>Simple table</h2>
<table class="c-table">
  <caption class="c-table__caption">Example caption</caption>
  <thead class="c-table__thead">
    <tr class="c-table__row c-table__row--head">
      <th class="c-table__cell c-table__cell--head">Datum</th>
      <th class="c-table__cell c-table__cell--head">Zorgactiviteit</th>
      <th class="c-table__cell c-table__cell--head">Eenheid</th>
    </tr>
  </thead>
  <tbody class="c-table__tbody">
    <tr class="c-table__row">
      <td class="c-table__cell">11-03-2016</td>
      <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
      <td class="c-table__cell">-</td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell">11-03-2016</td>
      <td class="c-table__cell">1x Behandelen nierdialyse in een centrum waarbij men zelf een rol speelt bij het instellen van de machine,  met EPO. (190060)</td>
      <td class="c-table__cell">-</td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell">11-03-2016 t/m 08-05-2016</td>
      <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
      <td class="c-table__cell">-</td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell">01-05-2016</td>
      <td class="c-table__cell">Dalacin topico morfine 300</td>
      <td class="c-table__cell">5 mg</td>
    </tr>
  </tbody>
</table>

<h2>Table with thead, tfoot and tbody</h2>

<table class="c-table">
  <caption class="c-table__caption">Example caption</caption>
  <thead class="c-table__thead">
    <tr class="c-table__row c-table__row--head">
      <th class="c-table__cell c-table__cell--head">Datum</th>
      <th class="c-table__cell c-table__cell--head">Zorgactiviteit</th>
      <th class="c-table__cell c-table__cell--head">Eenheid</th>
    </tr>
  </thead>
  <tfoot class="c-table__tfoot">
    <tr class="c-table__row c-table__row--foot">
      <td class="c-table__cell c-table__cell--foot">Footer content 1</td>
      <td class="c-table__cell c-table__cell--foot">Footer content 2</td>
    </tr>
  </tfoot>
  <tbody class="c-table__tbody">
    <tr class="c-table__row">
      <td class="c-table__cell">11-03-2016</td>
      <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
      <td class="c-table__cell">-</td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell">11-03-2016</td>
      <td class="c-table__cell">1x Behandelen nierdialyse in een centrum waarbij men zelf een rol speelt bij het instellen van de machine,  met EPO. (190060)</td>
      <td class="c-table__cell">-</td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell">11-03-2016 t/m 08-05-2016</td>
      <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
      <td class="c-table__cell">-</td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell">01-05-2016</td>
      <td class="c-table__cell">Dalacin topico morfine 300</td>
      <td class="c-table__cell">5 mg</td>
    </tr>
  </tbody>
</table>

<h2>Table in box</h2>
<div class="o-box u-color-blue-0-bg">
  <div class="o-box__body">
    <div class="table-responsive">
      <table class="c-table table u-margin-none">
        <tr class="c-table__row c-table__row--head">
          <th class="c-table__cell c-table__cell--head">Datum</th>
          <th class="c-table__cell c-table__cell--head">Zorgactiviteit</th>
          <th class="c-table__cell c-table__cell--head">Eenheid</th>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell">11-03-2016</td>
          <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
          <td class="c-table__cell">-</td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell">11-03-2016</td>
          <td class="c-table__cell">1x Behandelen nierdialyse in een centrum waarbij men zelf een rol speelt bij het instellen van de machine,  met EPO. (190060)</td>
          <td class="c-table__cell">-</td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell">11-03-2016 t/m 08-05-2016</td>
          <td class="c-table__cell">1x eerste polikliniekbezoek (190060)</td>
          <td class="c-table__cell">-</td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell">01-05-2016</td>
          <td class="c-table__cell">Dalacin topico morfine 300</td>
          <td class="c-table__cell">5 mg</td>
        </tr>
      </table>
    </div>
  </div>
</div>
