<h1>Boxes</h1>

<div class="row">
  <div class="col-sm-8">

    <div class="o-box">
      <div class="o-box__body">
        <div class="o-box__heading">Box heading</div>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <div class="o-box o-box--blue-1">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <div class="o-box o-box--border">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <div class="o-box o-box--border o-box--border-blue">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <div class="o-box o-box--border-dashed">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <div class="o-box o-box--border-turquoise">
      <div class="o-box__body">
        <span class="o-box__label">Tip</span>
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>

</div>

<h2>States</h2>
<p>Disabled</p>
<div class="o-box o-box--blue-1 is-disabled">
  <div class="o-box__body">
    <h3 class="o-box__heading">Box heading</h3>
    <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
  </div>
</div>

<h2>In grid</h2>
<p>Whitespaces are equal</p>

<div class="row">
  <div class="col-sm-12">

    <div class="o-box o-box--blue-1 o-box--in-grid">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>
  <div class="col-sm-12">

    <div class="o-box o-box--blue-1 o-box--in-grid">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>
  <div class="col-sm-12">

    <div class="o-box o-box--blue-1 o-box--in-grid">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>
  <div class="col-sm-12">

    <div class="o-box o-box--blue-1 o-box--in-grid">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>

  </div>
</div>


<h2>Sizes</h2>

<div class="o-box o-box--blue-1 o-box--small">
  <div class="o-box__body">
    <h3 class="o-box__heading">Box heading small</h3>
    <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
  </div>
</div>

<div class="o-box o-box--blue-1">
  <div class="o-box__body">
    <h3 class="o-box__heading">Box heading normal</h3>
    <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
  </div>
</div>

<div class="o-box o-box--blue-1 o-box--large">
  <div class="o-box__body">
    <h3 class="o-box__heading">Box heading large</h3>
    <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
  </div>
</div>

<h2>Curved boxes</h2>
<div class="row">
  <div class="col-md-8">
    <div class="o-box o-box--curved o-box--curved-top-left o-box--blue-1">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading small</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="o-box o-box--curved o-box--curved-top-right o-box--blue-1">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading small</h3>
        <p>Alle zorgverleners waarmee wij afspraken hebben gemaakt.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">

</div>

<h2>Contextual variants</h2>
<p>Box with alert</p>
<div class="o-box o-box--inverse o-box--blue-6">

  <div class="o-box__body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde delectus ex eaque culpa fuga provident, suscipit quod autem ipsa qui nulla, enim itaque officiis laudantium necessitatibus aut deleniti deserunt quis?</p>
  </div>

  <div class="c-alert c-alert--bare c-alert--info-2 c-alert--inside-bottom u-font-size-small alert" role="alert">
    <div class="o-layout--table">
      <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
        <i class="u-icon u-icon-eye" aria-hidden="true"></i>
      </div>
      <div class="o-layout__item--cell">
        U bent niet gemachtigd om alle zorgkosten te bekijken. Wilt u dit toch? De verzekerde moet u hiervoor eerst
        machtigen door zelf in te loggen.
      </div>
    </div>
  </div>

</div>


<h2>Box tiles with image on side</h2>

<div class="o-box o-box--blue-0">
  <div class="o-box__body">

    <div class="o-box o-box--tile o-box--img-right">
      <div class="row no-gutters">
        <div class="col-md-18">
          <div class="o-box__body">
            <h3 class="o-box__heading h4">
              Je hebt nog € 139,46 van je eigen risico over
            </h3>
            <p>Van € 385 totaal in 2017</p>
            <a href="#" class="c-btn c-btn--link c-btn--wrap btn btn-link">
              Bekijk details eigen risico
              <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="o-box__img-container o-box__img-container--right u-hidden-sm-down col-xs-6">
          <svg class="o-box__curved-divider u-scale-svg__img" preserveAspectRatio="xMinYMid">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#curved-divider-left"></use>
          </svg>
          <img class="o-box__img" src="/assets/img/wallet-with-hand.svg" alt="">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="o-box o-box--tile o-box--img-right">
          <div class="row no-gutters">
            <div class="col-md-14">
              <div class="o-box__body">
                <h3 class="o-box__heading h4">
                  Je hebt nog € 139,46 van je eigen risico over
                </h3>
                <p>Van € 385 totaal in 2017</p>
                <a href="#" class="c-btn c-btn--link c-btn--wrap btn btn-link">
                  Bekijk details eigen risico
                  <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="o-box__img-container o-box__img-container--right u-hidden-sm-down col-xs-10">
              <svg class="o-box__curved-divider u-scale-svg__img" preserveAspectRatio="xMinYMid">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#curved-divider-left"></use>
              </svg>
              <img class="o-box__img" src="/assets/img/wallet-with-hand.svg" alt="">
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-12">

        <div class="o-box o-box--tile o-box--img-right">
          <div class="row no-gutters">
            <div class="col-md-14">
              <div class="o-box__body">
                <h3 class="o-box__heading h4">
                  Uw laatste bericht van 24 april 2017
                </h3>
                <div class="u-margin-bottom-small">
                  <a href="#" class="u-text-underline">Betalingsregeling zorgkosten (pdf)</a>
                </div>
                <a href="#" class="c-btn c-btn--link c-btn--wrap btn btn-link">
                  Bekijk ontvangen berichten
                  <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="o-box__img-container o-box__img-container--right u-hidden-sm-down col-xs-10">
              <svg class="o-box__curved-divider u-scale-svg__img" preserveAspectRatio="xMinYMid">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#curved-divider-left"></use>
              </svg>

              <img class="o-box__img" src="/assets/img/envelope-open.svg" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="o-box o-box--blue-0">
    <div class="o-box__body">

      <div class="row">
        <div class="col-sm-12">

          <div class="o-box o-box--tile js-equal-height">
            <div class="o-box__body">
              <div class="o-layout--table o-layout--va-top">

                <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-tiny u-hidden-sm-down">
                  <i class="o-box__icon o-box__icon--font u-icon u-icon-pie-euro u-icon-fw" aria-hidden="true"></i>
                </div>

                <div class="o-layout__item o-layout__item--cell">

                  <h4 class="o-box__heading o-box__heading--small">
                    Conditie & fitheid
                  </h4>
                  <div class="u-font-size-small clearfix">
                    <p class="o-box__text--small">
                      U heeft nog € 450,00 over
                    </p>
                    <div class="c-progress c-progress--tiny progress">
                      <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                      </div>
                    </div>
                    <span class="c-progress__text pull-left">€ 300,- al betaald</span>
                    <span class="c-progress__text pull-right">€ 450,- over</span>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-sm-12">

          <div class="o-box o-box--tile js-equal-height">
            <div class="o-box__body">
              <div class="o-layout--table o-layout--va-top">

                <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-tiny u-hidden-sm-down">
                  <div class="o-box__icon o-box__icon--svg u-scale-svg u-scale-svg--square">
                    <svg class="o-box__img u-scale-svg__img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--file"></use>
                    </svg>
                  </div>
                </div>

                <div class="o-layout__item o-layout__item--cell">

                  <h4 class="o-box__heading o-box__heading--small">
                    Conditie & fitheid
                  </h4>
                  <div class="u-font-size-small clearfix">
                    <p class="o-box__text--small">
                      U heeft nog € 450,00 over
                    </p>
                    <div class="c-progress c-progress--tiny progress">
                      <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                      </div>
                    </div>
                    <span class="c-progress__text pull-left">€ 300,- al betaald</span>
                    <span class="c-progress__text pull-right">€ 450,- over</span>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-sm-12">

          <div class="o-box o-box--tile js-equal-height">
            <div class="o-box__body">
              <div class="o-layout--table o-layout--va-top">

                <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-tiny u-hidden-sm-down">
                  <img class="o-box__icon o-box__icon--img" src="/assets/img/pages/klantdomein/max-vergoedingen/conditieenfitheid-fbtoblue.svg" alt="">
                </div>

                <div class="o-layout__item o-layout__item--cell">

                  <h4 class="o-box__heading o-box__heading--small">
                    Conditie & fitheid
                  </h4>
                  <div class="u-font-size-small clearfix">
                    <p class="o-box__text--small">
                      U heeft nog € 450,00 over
                    </p>
                    <div class="c-progress c-progress--tiny progress">
                      <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                      </div>
                    </div>
                    <span class="c-progress__text pull-left">€ 300,- al betaald</span>
                    <span class="c-progress__text pull-right">€ 450,- over</span>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

<h2>Box tiles with image in top</h2>

<div class="o-box">
  <div class="o-box__body">
    <div class="o-layout o-layout--flex o-layout--vertical-gutter">

      <div class="o-layout__item o-layout__item--flex">
        <div class="o-box o-box--blue-1 o-box--tile o-box--img-top u-margin-bottom-none u-height-100">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--file"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Declaratie indienen</span>
          </div>
        </div>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--blue-1 o-box--tile o-box--interactive o-box--img-top is-active u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--pill"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Declaraties en zorgverbruik</span>
          </div>
        </a>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--blue-1 o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--pie-euro"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Financieel overzicht</span>
          </div>
        </a>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--blue-1 o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100 is-disabled" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--wallet"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Vergoedingen in 2017</span>
          </div>
        </a>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--blue-1 o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--plus-box"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Mijn verzekering en mijn gegevens</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="o-box u-color-turquoise-5-bg">
  <div class="o-box__body">
    <div class="o-layout o-layout--flex o-layout--vertical-gutter">

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--file"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Declaratie indienen</span>
          </div>
        </a>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--pill"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Declaraties en zorgverbruik</span>
          </div>
        </a>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--pie-euro"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Financieel overzicht</span>
          </div>
        </a>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100 is-disabled" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--wallet"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Vergoedingen in 2017</span>
          </div>
        </a>
      </div>

      <div class="o-layout__item o-layout__item--flex">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--plus-box"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Mijn verzekering en mijn gegevens</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
