---
title: Financieel overzicht
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<div class="container">
  <h1 class="c-page-title">Financieel overzicht</h1>
  <p>
    Hier vindt u een overzicht van uw eventuele betalingsregelingen en
    openstaande bedragen.
  </p>

  <h2>Welk overzicht wilt u zien?</h2>

  <div class="c-tab">
    <ul class="c-tab__toggle list-inline" role="tablist">
      <li role="presentation" class="active">
        <a href="#tab-te-betalen-bedragen" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="tab-te-betalen-bedragen" role="tab" data-toggle="tab">Te betalen bedragen</a>
      </li>
      <li role="presentation">
        <a href="#tab-betaalde-bedragen" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="tab-betaalde-bedragen" role="tab" data-toggle="tab">Betaalde bedragen</a>
      </li>
    </ul>

    <div class="c-tab__content tab-content">

      <div role="tabpanel" class="c-tab__pane tab-pane active" id="tab-te-betalen-bedragen">

        <h3>Er zijn geen openstaande bedragen!</h3>
        <p>U heeft momenteel geen openstaande bedragen.</p>

        <div class="row">
          <div class="col-xs-24">
            <img class="u-margin-bottom" style="height: 280px;" src="/assets/img/pages/klantdomein/financieel-overzicht/party_cracker.svg" alt="Vrouw met ballonnen in haar rechterhand">
          </div>

        </div>

      </div>

      <div role="tabpanel" class="c-tab__pane tab-pane" id="tab-betaalde-bedragen">
        Betaalde bedragen
      </div>

    </div>
  </div>

</div>
