---
title: Financieel overzicht
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<div class="container">
  <div class="c-page-title">
    <h1 class="c-page-title__heading">
      Financieel overzicht
    </h1>
    <span class="c-page-title__sub">
      <i class="c-btn__icon u-icon u-icon-clock" aria-hidden="true"></i>
      Bijgewerkt tot 8 november 2017
    </span>
  </div>

  <p>
    Hier vindt u een overzicht van uw eventuele betalingsregelingen en
    openstaande bedragen.
  </p>

  <h2>Welk overzicht wilt u zien?</h2>

  <div class="c-tab">
    <ul class="c-tab__toggle-group list-inline" role="tablist">
      <li role="presentation" class="active">
        <a href="#tab-te-betalen-bedragen" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="tab-te-betalen-bedragen" role="tab" data-toggle="tab">Te betalen bedragen</a>
      </li>
      <li role="presentation">
        <a href="#tab-betaalde-bedragen" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="tab-betaalde-bedragen" role="tab" data-toggle="tab">Betaalde bedragen</a>
      </li>
    </ul>

    <div class="c-tab__content tab-content">

      <div role="tabpanel" class="c-tab__pane tab-pane active" id="tab-te-betalen-bedragen">

        <div class="c-alert c-alert--danger alert" role="alert">
          <strong>Overgedragen aan incassobureau</strong><br>
          De getoonde bedragen zijn exclusief de kosten van het incassobureau.
          Meer weten? Neem contact op met <a href="#" class="c-alert__link">Flanderijn</a>.
        </div>

        <h3>Betalingsregeling</h3>
        <p>U heeft één of meerdere betalingsregelingen bij ons afgesloten.</p>

        <div class="row">
          <div class="col-md-12">

            <div class="o-box o-box--tile js-equal-height">
              <div class="o-box__body clearfix">

                <h3 class="o-box__heading o-box__heading--small h4">
                  <i class="u-icon-svg u-icon-svg--inline" aria-hidden="true">
                    <div class="u-scale-svg u-scale-svg--square">
                      <svg class="u-scale-svg__img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--credit-card"></use>
                      </svg>
                    </div>
                  </i>
                  Betalingsregeling - Premie
                </h3>

                <p class="o-box__text--small">Nog te betalen: <strong class="pull-right">€ 70,00</strong></p>

                <div class="c-progress c-progress--multibar c-progress--flex progress">
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                </div>
                <p class="c-progress__text u-font-size-small pull-left">U heeft 3 van de 5 termijnen betaald</p>
                <a href="#" class="c-btn c-btn--link btn btn-link pull-right">
                  Bekijk details
                  <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>

          </div>

          <div class="col-md-12">

            <div class="o-box o-box--tile js-equal-height">
              <div class="o-box__body clearfix">

                <h3 class="o-box__heading o-box__heading--small h4">
                  <i class="u-icon-svg u-icon-svg--inline" aria-hidden="true">
                    <div class="u-scale-svg u-scale-svg--square">
                      <svg class="u-scale-svg__img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--heart-plus"></use>
                      </svg>
                    </div>
                  </i>
                  Betalingsregeling - Zorgkosten
                </h3>

                <p class="o-box__text--small">Nog te betalen: <strong class="pull-right">€ 500,00</strong></p>

                <div class="c-progress c-progress--multibar c-progress--flex progress">
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                  <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                </div>
                <p class="c-progress__text u-font-size-small pull-left">U heeft 8 van de 12 termijnen betaald</p>
                <a href="#" class="c-btn c-btn--link btn btn-link pull-right">
                  Bekijk details
                  <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>

          </div>

        </div>


        <h3>Te betalen bedragen</h3>
        <p>U heeft één of meerdere bedragen bij ons openstaan.</p>

        <div class="c-panel-group panel-group" id="accordion-te-betalen-bedragen" role="tablist" aria-multiselectable="true">
          <div class="c-panel c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-te-betalen-bedragen-1" data-toggle="collapse" data-parent="#accordion-te-betalen-bedragen" data-target="#collapse-te-betalen-bedragen-1" aria-expanded="false" aria-controls="collapse-te-betalen-bedragen-1">
              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                <i class="u-icon-svg u-icon-svg--inline" aria-hidden="true">
                  <div class="u-scale-svg u-scale-svg--square">
                    <svg class="o-box__img u-scale-svg__img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--credit-card"></use>
                    </svg>
                  </div>
                </i>
                Totaal premie
                <span class="pull-right u-text-danger">
                  € 500,00
                </span>
              </div>
            </div>
            <div id="collapse-te-betalen-bedragen-1" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-te-betalen-bedragen-1">
              <div class="c-panel__body panel-body u-font-size-small">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et repellat laudantium ducimus, dolores dignissimos laboriosam labore fuga tenetur perferendis consequuntur aut itaque velit recusandae ipsa harum nobis quidem doloremque enim?
              </div>
            </div>
          </div>
          <div class="c-panel c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-te-betalen-bedragen-2" data-toggle="collapse" data-parent="#accordion-te-betalen-bedragen" data-target="#collapse-te-betalen-bedragen-2" aria-expanded="false" aria-controls="collapse-te-betalen-bedragen-2">
              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                <i class="u-icon-svg u-icon-svg--inline" aria-hidden="true">
                  <div class="u-scale-svg u-scale-svg--square">
                    <svg class="u-scale-svg__img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--heart-plus"></use>
                    </svg>
                  </div>
                </i>
                Totaal zorgkosten
                <span class="pull-right u-text-danger">
                  € 500,00
                </span>
              </div>
            </div>
            <div id="collapse-te-betalen-bedragen-2" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-te-betalen-bedragen-2">
              <div class="c-panel__body u-font-size-small panel-body">
                <div class="c-panel c-panel--table c-panel--no-border panel">
                  <div class="c-panel__body c-panel__body--blue-0 panel-body">
                    <strong>Facturen</strong><br>
                    Klik op de factuur om deze te kunnen bekijken en betalen
                  </div>
                </div>
                <a href="#" class="c-panel c-panel--link c-panel--collapse c-panel--table c-panel--no-border panel">
                    <div class="c-panel__body c-panel__body--blue-0 panel-body">
                        <div class="">
                            <div class="c-panel__row c-panel__row--va-sm-up row">
                                <div class="c-panel__cell col-xs-13 col-sm-7 col-md-5">
                                    <span class="u-text-warning">2e Herinnering</span><br>
                                    <span class="c-panel__cell-content"><strong>15-03-2018</strong></span>
                                </div>
                                <div class="c-panel__cell col-xs-9 col-sm-6 col-md-5 col-lg-6">
                                    <span class="c-panel__cell-content pull-right u-pull-left-sm-up">Premie</span>
                                </div>
                                <div class="clearfix u-hidden-sm-up"></div>
                                <div class="c-panel__cell col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <span class="c-panel__cell-content">Te betalen</span>
                                </div>
                                <div class="c-panel__cell col-xs-10 col-sm-4 col-md-3 col-lg-4 text-right">
                                    <span class="c-panel__cell-content "><strong>€ 100,00</strong></span>
                                </div>
                                <div class="c-panel__cell col-xs-4 col-md-7 col-lg-6 u-hidden-sm-down">
                                    <span class="c-panel__cell-content pull-right c-panel__title--icon-right">
                                        <span class="u-font-weight-bold c-btn c-btn--link btn btn-link u-font-size-small">Bekijk factuur</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <i class="c-panel__icon c-panel__icon--right u-icon-arrow-right" aria-hidden="true"></i>
                    </div>
                </a>
                <a href="#" class="c-panel c-panel--link c-panel--collapse c-panel--table c-panel--no-border panel">
                    <div class="c-panel__body c-panel__body--blue-0 panel-body">
                        <div class="">
                            <div class="c-panel__row c-panel__row--va-sm-up row">
                                <div class="c-panel__cell col-xs-13 col-sm-7 col-md-5">
                                    <span class="c-panel__cell-content"><strong>15-03-2018</strong></span>
                                </div>
                                <div class="c-panel__cell col-xs-9 col-sm-6 col-md-5 col-lg-6">
                                    <span class="c-panel__cell-content pull-right u-pull-left-sm-up">Premie</span>
                                </div>
                                <div class="c-panel__cell col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <span class="c-panel__cell-content">Te betalen</span>
                                </div>
                                <div class="c-panel__cell col-xs-10 col-sm-4 col-md-3 col-lg-4 text-right">
                                    <span class="c-panel__cell-content "><strong>€ 100,00</strong></span>
                                </div>
                                <div class="c-panel__cell col-xs-4 col-md-7 col-lg-6 u-hidden-sm-down">
                                    <span class="c-panel__cell-content pull-right c-panel__title--icon-right">
                                        <span class="u-font-weight-bold c-btn c-btn--link btn btn-link u-font-size-small">Bekijk factuur</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <i class="c-panel__icon c-panel__icon--right u-icon-arrow-right" aria-hidden="true"></i>
                    </div>
                </a>
                <div class="c-panel c-panel--table c-panel--no-border panel">
                    <div class="c-panel__body c-panel__body--blue-0 panel-body">
                        <div class="">
                            <div class="c-panel__row c-panel__row--va-md-up row">
                                <div class="c-panel__cell col-xs-14 col-sm-19 col-md-13 col-lg-14 u-margin-bottom-tiny">
                                    <span class="c-panel__cell-content"><strong>Totaal te betalen:</strong></span>
                                </div>
                                <div class="c-panel__cell col-xs-8 col-sm-4 col-md-3 col-lg-4 u-margin-bottom-tiny text-right">
                                    <span class="c-panel__cell-content">
                                        <span class="u-text-danger ">€ 500,00</span>
                                    </span>
                                </div>
                                <div class="c-panel__cell col-xs-24 col-md-8 col-lg-6">
                                    <span class="c-panel__cell-content">
                                        <a href="#" class="c-btn c-btn--normal u-font-size-small btn pull-right">
                                        Vraag betalingsregeling aan
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <h3>Te ontvangen bedragen</h3>
        <p>U ontvangt geld terug voor bepaalde kosten. Deze zijn teveel in rekening gebracht of door u gedeclareerd.</p>

        <div class="c-panel-group panel-group" id="accordion-te-ontvangen-bedragen" role="tablist" aria-multiselectable="true">
          <div class="c-panel c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-te-ontvangen-bedragen-1" data-toggle="collapse" data-parent="#accordion-te-ontvangen-bedragen" data-target="#collapse-te-ontvangen-bedragen-1" aria-expanded="false" aria-controls="collapse-te-ontvangen-bedragen-1">
              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                <i class="u-icon-svg u-icon-svg--inline" aria-hidden="true">
                  <div class="u-scale-svg u-scale-svg--square">
                    <svg class="o-box__img u-scale-svg__img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--credit-card"></use>
                    </svg>
                  </div>
                </i>
                Totaal zorgkosten
                <span class="pull-right u-text-success">
                  € 500,00
                </span>
              </div>
            </div>
            <div id="collapse-te-ontvangen-bedragen-1" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-te-ontvangen-bedragen-1-1">
              <div class="c-panel__body panel-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et repellat laudantium ducimus, dolores dignissimos laboriosam labore fuga tenetur perferendis consequuntur aut itaque velit recusandae ipsa harum nobis quidem doloremque enim?
              </div>
            </div>
          </div>
        </div>

      </div>

      <div role="tabpanel" class="c-tab__pane tab-pane" id="tab-betaalde-bedragen">

        <div class="row">
          <div class="col-sm-18 col-md-16">
            <div class="o-box o-box--inverse o-box--blue-6">

              <div class="o-box__body">

                <div class="form-group u-margin-bottom-small">
                  <label for="filter-1">Soort</label>
                  <select id="filter-1" class="form-control">
                    <option>Alle betaalde bedragen</option>
                    <option>Optie 2</option>
                    <option>Optie 3</option>
                  </select>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="c-panel-group panel-group">
          <div class="c-panel c-panel--table c-panel--table-head panel u-hidden-xs-down">
            <div class="c-panel__heading c-panel__heading--table panel-heading">
              <div class="c-panel__title c-panel__title--icon-left c-panel__title--icon-right panel-title">
                <div class="c-panel__row c-panel__row--va-sm-up row">
                  <div class="c-panel__cell c-panel__cell--header col-sm-6 col-md-6 col-lg-6">
                    <span class="c-panel__cell-content">Type</span>
                  </div>
                  <div class="c-panel__cell c-panel__cell--header col-sm-6 col-md-5 col-lg-8">
                    <span class="c-panel__cell-content">Datum van betaling</span>
                  </div>
                  <div class="c-panel__cell c-panel__cell--header col-sm-6 col-md-5 col-lg-4">
                    <span class="c-panel__cell-content">Betaald of ontvangen</span>
                  </div>
                  <div class="c-panel__cell c-panel__cell--header col-sm-6 col-md-4 col-lg-3">
                    <span class="c-panel__cell-content">Bedrag</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="c-panel c-panel--bare c-panel--collapse c-panel--link c-panel--table c-panel--no-border panel">
            <div class="c-panel__body c-panel__body--white panel-body">
              <i class="c-panel__icon c-panel__icon--svg c-panel__icon--left" aria-hidden="true">
                <div class="u-scale-svg u-scale-svg--square">
                  <svg class="u-scale-svg__img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--heart-plus"></use>
                  </svg>
                </div>
              </i>
              <div class="c-panel__title--icon-left c-panel__title--icon-right">
                <div class="c-panel__row c-panel__row--va-sm-up row">
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <span class="c-panel__cell-content">
                      Zorgkosten
                    </span>
                  </div>
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-5 col-lg-8">
                    <span class="c-panel__cell-content pull-right u-pull-left-sm-up">22-02-2018</span>
                  </div>
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-5 col-lg-4">
                    <span class="c-panel__cell-content">Betaald</span>
                  </div>
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <span class="c-panel__cell-content pull-right u-pull-left-sm-up"><strong>€ 5.000,00</strong></span>
                  </div>
                  <div class="c-panel__cell col-sm-4 col-lg-3 u-hidden-sm-down">
                    <span class="c-panel__cell-content pull-right">
                      <span class="u-font-weight-bold c-btn c-btn--link btn btn-link u-font-size-small">Bekijk factuur</span>
                    </span>
                  </div>
                </div>
              </div>
              <i class="c-panel__icon c-panel__icon--right u-icon-arrow-right" aria-hidden="true"></i>
            </div>
          </a>

          <a href="#" class="c-panel c-panel--bare c-panel--collapse c-panel--link c-panel--table c-panel--no-border panel">
            <div class="c-panel__body c-panel__body--white panel-body">
              <i class="c-panel__icon c-panel__icon--svg c-panel__icon--left" aria-hidden="true">
                <div class="u-scale-svg u-scale-svg--square">
                  <svg class="u-scale-svg__img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--heart-plus"></use>
                  </svg>
                </div>
              </i>
              <div class="c-panel__title--icon-left c-panel__title--icon-right">
                <div class="c-panel__row c-panel__row--va-sm-up row">
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <span class="c-panel__cell-content">
                      Zorgkosten
                    </span>
                  </div>
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-5 col-lg-8">
                    <span class="c-panel__cell-content pull-right u-pull-left-sm-up">23-02-2018</span>
                  </div>
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-5 col-lg-4">
                    <span class="c-panel__cell-content">Ontvangen</span>
                  </div>
                  <div class="c-panel__cell col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <span class="c-panel__cell-content pull-right u-pull-left-sm-up"><span class="u-text-success">€ 700,00</span></span>
                  </div>
                  <div class="c-panel__cell col-sm-4 col-lg-3 u-hidden-sm-down">
                    <span class="c-panel__cell-content pull-right">
                      <span class="u-font-weight-bold c-btn c-btn--link btn btn-link u-font-size-small">Bekijk factuur</span>
                    </span>
                  </div>
                </div>
              </div>
              <i class="c-panel__icon c-panel__icon--right u-icon-arrow-right" aria-hidden="true"></i>
            </div>
          </a>

        </div>

        <p>Dit waren de facturen van de afgelopen 12 maanden.</p>

        <div class="clearfix u-margin-right">
          <button type="button" class="c-btn c-btn--link btn btn-link pull-right">
            Meer facturen
            <i class="c-btn__icon u-icon u-icon-arrow-down" aria-hidden="true"></i>
          </button>
        </div>

        <nav class="text-center" aria-label="Betaalde bedragen paginering">
          <ul class="c-pagination">
            <li class="c-pagination__item u-hidden-xs-up">
              <a class="c-pagination__link" href="#" aria-label="Vorige">
                <i class="c-pagination__link-icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
                <span class="u-hidden-xs-down">Vorige</span>
              </a>
            </li>
            <li class="c-pagination__item is-active">
              <span class="c-pagination__link">
                1
                <span class="sr-only">(huidige pagina)</span>
              </span>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link" href="#">2</a>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link" href="#">3</a>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link" href="#">4</a>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link" href="#">5</a>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link u-hidden-xs-down" href="#">6</a>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link u-hidden-xs-down" href="#">7</a>
            </li>
            <li class="c-pagination__item" aria-hidden="true">
              <span class="c-pagination__link">...</span>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link" href="#">68</a>
            </li>
            <li class="c-pagination__item">
              <a class="c-pagination__link" href="#" aria-label="Volgende">
                <span class="u-hidden-xs-down">Volgende</span>
                <i class="c-pagination__link-icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>

</div>
