
.tp-polischeck {
  background-color: $color-white;

  @include media-breakpoint-down(sm) {
    > header,
    > footer {
      display: none;
    }
  }
}

.c-bg-filler {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  background-size: cover;
  margin-bottom: 0;
  border-radius: 0;

  > .o-box {
    margin-top: 75px;
    max-width: 320px;
    min-width: 290px;
  }

  @include media-breakpoint-up(md) {
    height: 777px;
    background-attachment: inherit;
    border-radius: $global-border-radius-base;
    margin-top: $global-spacing-unit-base;

    > .o-box {
      width: 100%;
      margin-top: 45px;
    }
  }
}
