<h2>Tabs</h2>

<div class="col-xs-24">
  <ul class="c-tab__toggle u-padding-top-small js-tabs-mijn-verzekering list-inline" role="tablist">
    <li role="presentation" class="active">
      <a href="" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="algemeen" role="tab" data-toggle="tab" data-tab-content="1-1">Huidige polis</a>
    </li>
    <li role="presentation">
      <a href="" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="specificatie" role="tab" data-toggle="tab" data-tab-content="1-2">Nieuwe polis</a>
    </li>
  </ul>
</div>
