---
title: Betalen rekening
template: klantdomein-subpage.pug
body_class: tp-subpage
---
<div class="container">
  <div class="row no-gutters">
    <h1 class="c-page-title">Betaal hier uw rekening</h1>
    <a href="#" class="c-btn c-btn--link btn btn-link u-margin-bottom">
      <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
      Terug naar rekening
    </a>
    <div class="col-xs-24">
      <div class="o-box o-box o-box--white u-padding-bottom">
        <div class="o-box__body">
          <div class="o-layout--table o-layout--va-top u-margin-bottom">
            <div class="o-layout__item o-layout__item--cell o-layout__item--icon">
              <i class="u-icon-svg u-icon-svg--inline u-icon-2x u-margin-right-small" aria-hidden="true">
                <div class="u-scale-svg u-scale-svg--square">
                  <svg class="o-box__img u-scale-svg__img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--heart-plus"></use>
                  </svg>
                </div>
              </i>
            </div>
            <div class="o-layout__item o-layout__item--cell">
              <h5 class="o-box__heading u-padding-top-tiny">
                Zorgkosten
              </h5>
            </div>
          </div>
          <ul class="c-list-group list-group">
              <li class="c-list-group__item list-group-item u-padding-bottom-none">
                <div class="row">
                  <div class="col-md-5">
                      <div class="c-list-group__heading list-group-item-heading u-margin-bottom-none">Datum</div>
                      <div class="c-list-group__text list-group-item-text u-font-weight-bold">
                        21-01-2018
                      </div>
                  </div>
                  <div class="col-md-7 col-lg-6">
                    <div class="c-list-group__heading list-group-item-heading u-margin-bottom-none">Betalingskenmerk</div>
                    <div class="c-list-group__text list-group-item-text u-font-weight-bold">
                      155064851-1800001
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div class="c-list-group__heading list-group-item-heading u-margin-bottom-none">Vervaldatum</div>
                    <div class="c-list-group__text list-group-item-text u-font-weight-bold">
                      21-01-2018
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-7">
                    <div class="c-list-group__text list-group-item-text u-font-weight-bold u-margin-top u-text-align-right">
                      € 100,00
                    </div>
                  </div>
                </div>
              </li>
              <li class="c-list-group__item list-group-item u-padding-top-tiny">
                  <div class="row">
                    <div class="col-xs-12 col-lg-21">
                      <div class="c-list-group__heading list-group-item-heading u-margin-bottom-none u-pull-right-lg-up u-font-weight-bold">Totaal te betalen</div>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                      <div class="c-list-group__text list-group-item-text u-font-weight-bold u-text-align-right u-color-pink-2">
                        € 100,00
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
            <p class="u-text-align-right u-font-size-small">U wordt doorgeleid naar AcceptEasy</p>

            <div class="col-xs-24 u-padding-none u-margin-bottom-tiny">
              <button type="button" class="c-btn c-btn--primary btn u-pull-right-sm-up u-width-100-sm-down">
                Betaal veilig via iDeal
              </button>
            </div>
            <div class="col-xs-24 u-padding-none">
              <a href="#" class="c-btn c-btn--ghost btn u-pull-right-sm-up u-padding-none u-color-pink-2 u-font-weight-bold u-width-100-sm-down u-text-align-center">
                Betaling annuleren
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
