---
title: Declareren
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<div class="container">
  <div class="row">
    <div class="col-xs-23 col-md-offset-1">
        <h1 class="c-page-title">Uw betaling is niet gelukt</h1>
        <div class="col-xs-24 col-md-4">
          <img style="width:120px; max-width: 100%;" class="u-margin-bottom u-margin-right-small" src="/assets/img/icon-set/euro-failed.svg" alt="Betaling is geslaagd">
        </div>
        <div class="col-md-14 col-xs-22">
          <h5 class="o-box__heading u-padding-top-tiny u-margin-bottom-tiny">
            Helaas, is de betaling niet gelukt
          </h5>
          <p>Er is iets misgegaan met uw betaling. Probeer het later nog eens of neem <a href="https://www.zilverenkruis.nl/Consumenten/contact/Paginas/default.aspx" title="neem contact met ons op">contact</a> met ons op.</p>
          <button type="button" class="c-btn c-btn--primary btn">Naar financieel overzicht</button>
        </div>
    </div>
  </div>
</div>
