---
title: Declareren
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<div class="container">
  <div class="row">
    <div class="col-xs-23 col-md-offset-1">
        <h1 class="c-page-title">U heeft betaald</h1>
        <div class="col-xs-24 col-md-4">
          <img style="width:120px; max-width: 100%;" class="u-margin-bottom u-margin-right-small" src="/assets/img/icon-set/euro-success.svg" alt="Betaling is geslaagd">
        </div>
        <div class="col-md-14 col-xs-22">
          <h5 class="o-box__heading u-padding-top-tiny u-margin-bottom-tiny">
            Bedankt
          </h5>
          <p>Wij hebben uw betaling ontvangen. Uw bijgewerkte betaalgegevens vindt u terug in uw financieel overzicht bij betaalde bedragen.</p>
          <button type="button" class="c-btn c-btn--primary btn">Naar financieel overzicht</button>
        </div>
    </div>
  </div>
</div>
