---
title: Mijn gegevens
template: klantdomein-subpage.pug
body_class: tp-subpage
---
<div class="container">

  <section>
    <div class="row">
      <div class="col-xs-24">
        <h1 class="c-page-title">Mijn verzekering</h1>
        <a href="" class="u-margin-bottom u-margin-right-small u-pos-bottom-right u-hidden-sm-down">
          <i class="u-icon u-icon-file" aria-hidden="true"></i>
          <span>Download polisblad (pdf)</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <div class="c-btn-group u-margin-bottom-small" data-toggle="buttons">
          <label class="c-btn-group__item c-btn c-btn--tile btn active">
            <input class="c-btn-group__input c-btn-group__input--radio" type="radio" name="options" id="option1" autocomplete="off" checked> Huidige polis
          </label>
          <label class="c-btn-group__item c-btn c-btn--tile btn">
            <input class="c-btn-group__input c-btn-group__input--radio" type="radio" name="options" id="option2" autocomplete="off"> Nieuwe polis
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <div class="c-panel-group u-margin-bottom-small panel-group" id="accordion-mijn-verzekering" role="tablist" aria-multiselectable="true">

          <div class="c-panel c-panel--large c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading" role="tab" id="heading-mijn-verzekering-1" data-toggle="collapse" data-parent="#accordion-mijn-verzekering" data-target="#collapse-mijn-verzekering-1" aria-expanded="false" aria-controls="collapse-mijn-verzekering-1">

              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                X. van der Wilg (16-06-1983)
                <div class="u-pull-right-md-up">
                  <span class="u-font-size-small u-color-blue-10 u-margin-right-tiny">Premie per maand</span>
                  <span class="u-text-modified">€ 105,71</span>
                </div>

              </div>

            </div>

            <div id="collapse-mijn-verzekering-1" class="c-panel__collapse panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-mijn-verzekering">

              <div class="c-panel__body u-font-size-small u-padding-none panel-body">

                <div class="o-bg-filler__image--blue-1 o-bg-filler__image--col-md-7-up o-bg-filler__image--col-lg-6-up container-fluid">

                  <div class="row">

                    <div class="col-xs-24 col-md-7 col-lg-6 o-bg-filler__col--blue-1">
                      <div class="o-box o-box--in-grid">
                        <div class="o-box__body clearfix">
                          <div class="u-pull-left-sm-up u-pull-none-md-up">
                            <dl class="c-list c-list--description u-margin-bottom-small">
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Verzekeringnemer</dt>
                                <dd class="c-list__item--description">X. van der Wilg (16-06-1983)</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Relatienummer</dt>
                                <dd class="c-list__item--description">1234567890</dd>
                              </div>
                            </dl>
                          </div>
                          <div class="u-pull-right-sm-up u-pull-none-md-up">
                            <ul class="c-list c-list--unstyled c-list--large u-margin-bottom">
                              <li class="c-list__item">
                                <button type="button" class="c-btn c-btn--link btn btn-link">
                                  Wijzig verzekering
                                  <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                                </button>
                              </li>
                              <li class="c-list__item">
                                <button type="button" class="c-btn c-btn--link btn btn-link">
                                  Wijzig collectiviteit
                                  <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                                </button>
                              </li>
                              <li class="c-list__item">
                                <button type="button" class="c-btn c-btn--link btn btn-link">
                                  Vergoeding in 2017
                                  <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                                </button>
                              </li>
                            </ul>

                            <a href="#">Verzekering opzeggen</a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-24 col-md-17 col-lg-18 u-color-white-bg">
                      <div class="o-box o-box--in-grid">
                        <div class="o-box__body">

                          <div class="row">
                            <div class="col-lg-20 u-pull-right-lg-up">
                              <dl class="c-list c-list--description u-margin-bottom-none">
                                <div class="c-list__box row">
                                  <dt class="c-list__item c-list__item--term col-sm-10">Basisverzekering</dt>
                                  <dd class="c-list__item c-list__item--description col-sm-14">
                                    <div class="row">
                                      <div class="col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        Basis Exclusief
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6">
                                        € 109,45
                                      </div>
                                    </div>
                                  </dd>
                                </div>
                                <div class="c-list__box row">
                                  <dt class="c-list__item c-list__item--term col-sm-10">Eigen risico</dt>
                                  <dd class="c-list__item c-list__item--description col-sm-14">
                                    <div class="row">
                                      <div class="col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        <span class="u-text-modified">€ 485</span>
                                        <div>(vanaf 01-01-2018)</div>
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6">
                                        <span class="u-text-modified">€ 10,00</span>
                                      </div>
                                    </div>
                                  </dd>
                                </div>
                                <div class="c-list__box row">
                                  <dt class="c-list__item c-list__item--term col-sm-10">Aanvullende verzekering</dt>
                                  <dd class="c-list__item c-list__item--description col-sm-14">
                                    <div class="row">
                                      <div class="col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        <span class="u-text-modified">Aanvullend</span>
                                        <div class="c-rating c-rating--modified" data-rating="2">
                                          <span class="c-rating__item c-rating__item--rating-4">★</span>
                                          <span class="c-rating__item c-rating__item--rating-3">★</span>
                                          <span class="c-rating__item c-rating__item--rating-2">★</span>
                                          <span class="c-rating__item c-rating__item--rating-1">★</span>
                                        </div>
                                        <div>(vanaf 01-01-2018)</div>
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6">
                                        <span class="u-text-modified">€ 9,95</span>
                                      </div>
                                    </div>
                                  </dd>
                                </div>
                                <div class="c-list__box row">
                                  <dt class="c-list__item c-list__item--term col-sm-10">Extra pakket</dt>
                                  <dd class="c-list__item c-list__item--description col-sm-14">
                                    <div class="row">
                                      <div class="col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        Extra fit
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6">
                                        € 5,32
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        [Naam CAV/WAW]
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6">
                                        € 7,83
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        [Naam CAV/WAW]
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6">
                                        € 8,20
                                      </div>
                                    </div>
                                  </dd>
                                </div>
                                <div class="c-list__box row">
                                  <dt class="c-list__item c-list__item--term col-sm-10">Tandartsverzekering</dt>
                                  <dd class="c-list__item c-list__item--description col-sm-14">
                                    <div class="row">
                                      <div class="u-text-disabled col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        Geen
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6"></div>
                                    </div>
                                  </dd>
                                </div>
                                <div class="c-list__box row">
                                  <dt class="c-list__item c-list__item--term col-sm-10">Collectiviteit</dt>
                                  <dd class="c-list__item c-list__item--description col-sm-14">
                                    <div class="row">
                                      <div class="col-xs-16 col-sm-15 col-md-16 col-lg-18">
                                        FrieslandCampina
                                      </div>
                                      <div class="u-text-align-right col-xs-8 col-sm-9 col-md-8 col-lg-6">
                                        -€ 1500,01
                                      </div>
                                    </div>
                                  </dd>
                                </div>
                              </dl>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>

            </div>

          </div>




          <div class="c-panel c-panel--large c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-mijn-verzekering-2" data-toggle="collapse" data-parent="#accordion-mijn-verzekering" data-target="#collapse-mijn-verzekering-2" aria-expanded="false" aria-controls="collapse-mijn-verzekering-2">

              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                X. van der Wilg (16-06-1980)
                <div class="u-pull-right-md-up">
                  <span class="u-font-size-small u-color-blue-10 u-margin-right-tiny">Premie per maand</span> <span>Gratis</span>
                </div>

              </div>

            </div>

            <div id="collapse-mijn-verzekering-2" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mijn-verzekering">

              <div class="c-panel__body u-font-size-small u-padding-none panel-body">

                <div class="o-bg-filler__image--blue-1 o-bg-filler__image--col-md-7-up o-bg-filler__image--col-lg-6-up container-fluid">

                  <div class="row">

                    <div class="col-xs-24 col-md-7 col-lg-6 o-bg-filler__col--blue-1">
                      <div class="o-box o-box--in-grid">
                        <div class="o-box__body clearfix">
                          <div class="u-pull-left-sm-up u-pull-none-md-up">
                            <dl class="c-list c-list--description u-margin-bottom-small">
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Verzekeringnemer</dt>
                                <dd class="c-list__item--description">X. van der Wilg (16-06-1980)</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Relatienummer</dt>
                                <dd class="c-list__item--description">1234567890</dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-24 col-md-17 col-lg-18 u-color-white-bg">
                      <div class="o-box o-box--in-grid">
                        <div class="o-box__body">

                          <div class="row">
                            <div class="col-lg-24">
                              <p>A. van der Wilg-de Vries heeft op dit moment geen zorgverzekering bij ons.</p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>

            </div>

          </div>




        </div>


      </div>

    </div>

    <div class="row">
      <div class="col-xs-24">

        <div class="u-line-height-large u-margin-right-small pull-left">
          <a href="">
            <i class="u-icon u-icon-plus-sign" aria-hidden="true"></i>
            <span>Gezinslid aanmelden</span>
          </a>
        </div>

        <div class="pull-right">
          <div>
            Gezinspremie per maand <span class="u-margin-left-tiny u-text-modified h4">€ 211,42</span>
          </div>
          <div class="u-font-size-small u-text-align-right">
            incl. € 30,02 korting via collectiviteit
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-xs-24">

        <h1 class="c-page-title">Mijn gegevens</h1>

        <div class="c-panel-group panel-group" id="accordion-mijn-gegevens" role="tablist" aria-multiselectable="true">

          <div class="c-panel c-panel--large c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading" role="tab" id="heading-mijn-gegevens-1" data-toggle="collapse" data-parent="#accordion-mijn-gegevens" data-target="#collapse-mijn-gegevens-1" aria-expanded="false" aria-controls="collapse-mijn-gegevens-1">

              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                Betaalgegevens
              </div>

            </div>

            <div id="collapse-mijn-gegevens-1" class="c-panel__collapse panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-mijn-gegevens">

              <div class="c-panel__body u-font-size-small panel-body">

                <div class="c-alert c-alert--info alert" role="alert"><strong>Heads up!</strong> This <a href="#" class="c-alert__link">alert needs your attention</a>, but it's not super important.</div>

                <div class="row">

                  <div class="col-sm-24">
                    <div class="o-box o-box--flush">

                      <div class="o-box__body o-box__body--flush">
                        <dl class="c-list c-list--description">
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Rekeningnummer</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">NL 00 ABCD 0123 4567 89</dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Betaalwijze</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">Automatische incasso</dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Voorkeur incassodag</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">24e van de maand</dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Betaaltermijn</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">Per maand <span class="u-text-modified">(vanaf 01-04-2017 betaalt u per kwartaal)</span></dd>
                          </div>
                        </dl>

                        <a href="#" class="c-btn c-btn--link btn btn-link">
                          Wijzig mijn betaalgegevens
                          <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="c-panel c-panel--large c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-mijn-gegevens-2" data-toggle="collapse" data-parent="#accordion-mijn-gegevens" data-target="#collapse-mijn-gegevens-2" aria-expanded="false" aria-controls="collapse-mijn-gegevens-2">

              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                Contactgegevens
              </div>

            </div>

            <div id="collapse-mijn-gegevens-2" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mijn-gegevens">

              <div class="c-panel__body u-font-size-small panel-body">

                <div class="row">

                  <div class="col-sm-12">
                    <div class="o-box">

                      <div class="o-box__body o-box__body--flush">
                        <h2 class="o-box__heading h5">Mijn contactgegevens</h2>
                        <dl class="c-list c-list--description">
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">Woonadres</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">
                              Straatnaam 1A</br>
                              1234 AB Rotterdam
                            </dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">Postadres</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">
                              Straatnaam 1A</br>
                              1234 AB Rotterdam
                            </dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">Telefoonnummer</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">010-12345678</dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">Mobiele nummer</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">010-12345678</dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">E-mailadres</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">naam@mail.nl</dd>
                          </div>
                        </dl>

                        <a href="#" class="c-btn c-btn--link btn btn-link">
                          Wijzig mijn contactgegevens
                          <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="o-box">
                      <div class="o-box__body o-box__body--flush">
                        <h2 class="o-box__heading h5">Afwijkend adres</h2>
                        <span class="h6">A. van der Wilg - de Vries</span>
                        <dl class="c-list c-list--description">
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">Woonadres</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">
                              Straatnaam 1A</br>
                              1234 AB Rotterdam
                            </dd>
                          </div>
                        </dl>
                      </div>
                    </div>

                    <div class="o-box o-box--flush">

                      <div class="o-box__body o-box__body--flush">
                        <span class="h6">B. van der Wilg</span>
                        <dl class="c-list c-list--description">
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">Woonadres</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">
                              Straatnaam 1A</br>
                              1234 AB Rotterdam
                            </dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-md-10">Postadres</dt>
                            <dd class="c-list__item c-list__item--description col-md-14">
                              Straatnaam 1A</br>
                              1234 AB Rotterdam
                            </dd>
                          </div>
                        </dl>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="c-panel c-panel--large c-panel--bare c-panel--collapse panel">
            <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-mijn-gegevens-3" data-toggle="collapse" data-parent="#accordion-mijn-gegevens" data-target="#collapse-mijn-gegevens-3" aria-expanded="false" aria-controls="collapse-mijn-gegevens-3">

              <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
              <div class="c-panel__title c-panel__title--icon-left panel-title">
                Digitale voorkeuren
              </div>

            </div>

            <div id="collapse-mijn-gegevens-3" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mijn-gegevens">

              <div class="c-panel__body u-font-size-small panel-body">

                <div class="row">

                  <div class="col-sm-24">
                    <div class="o-box o-box--flush">

                      <div class="o-box__body o-box__body--flush">
                        <dl class="c-list c-list--description">
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Digitale polis</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">
                              <div class="o-layout--table o-layout--va-top">
                                <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
                                  <i class="u-icon u-icon-ok u-color-turquoise-5" aria-hidden="true"></i>
                                </div>
                                <div class="o-layout__item--cell">
                                  Ja, ik wil mijn polis digitaal ontvangen
                                </div>
                              </div>
                            </dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Infomail</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">
                              <div class="o-layout--table o-layout--va-top">
                                <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
                                  <i class="u-icon u-icon-ok u-color-turquoise-5" aria-hidden="true"></i>
                                </div>
                                <div class="o-layout__item--cell">
                                  Ja, ik wil mijn declaratieoverzicht en bevestigingen bij een wijziging digitaal ontvangen
                                </div>
                            </dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Actiemail</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">
                              <div class="o-layout--table o-layout--va-top">
                                <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
                                  <i class="u-icon u-icon-cross u-color-turquoise-2" aria-hidden="true"></i>
                                </div>
                                <div class="o-layout__item--cell">
                                  Nee, ik wil geen aanbiedingen ontvangen
                                </div>
                            </dd>
                          </div>
                          <div class="c-list__box row">
                            <dt class="c-list__item c-list__item--term col-sm-8 col-lg-6">Nieuwsbrief</dt>
                            <dd class="c-list__item c-list__item--description col-sm-16 col-md-14">
                              <div class="o-layout--table o-layout--va-top">
                                <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
                                  <i class="u-icon u-icon-ok u-color-turquoise-5" aria-hidden="true"></i>
                                </div>
                                <div class="o-layout__item--cell">
                                  Ja, ik wil op de hoogte blijven van de nieuwe ontwikkelingen in de zorg
                                </div>
                            </dd>
                          </div>
                        </dl>

                        <a href="#" class="c-btn c-btn--link btn btn-link">
                          Wijzig mijn digitale voorkeuren
                          <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>




      </div>
    </div>
  </section>

</div>
