<h1>List group</h1>

<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

<h2>Badges</h2>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span> Cras justo odio
  </li>
</ul>

<h2>Linked items</h2>

<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<h2>Button items</h2>

<div class="list-group">
  <button type="button" class="list-group-item">Cras justo odio</button>
  <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
  <button type="button" class="list-group-item">Morbi leo risus</button>
  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item">Vestibulum at eros</button>
</div>

<h2>Disabled items</h2>

<div class="list-group">
  <a href="#" class="list-group-item disabled">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<h2>Contextual variants</h2>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
  <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
  <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
</ul>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
</div>

<h2>Custom content</h2>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>

<h2>With Border</h2>

<ul class="c-list-group c-list-group--border list-group">
  <li class="c-list-group__item list-group-item">
    <div class="row">
      <div class="col-md-4">
        <div class="c-list-group__heading list-group-item-heading">Behandeldatum</div>
        <p class="c-list-group__text list-group-item-text">11-03-2016 t/m 01-05-2016</p>
      </div>
      <div class="col-md-11 col-lg-9">
        <div class="c-list-group__heading list-group-item-heading">Omschrijving</div>
        <div class="c-list-group__text list-group-item-text">
          1x afdeling interne geneeskunde (15C768)
        </div>
        <div class="c-list-group__heading list-group-item-heading">Toelichting</div>
        <div class="c-list-group__text list-group-item-text">
          Vergoeding vanuit uw basisverzekering. Zilveren Kruis betaalt de zorgverlener voor u.
          U betaalt eigen risico.
        </div>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="c-list-group__heading list-group-item-heading">Bedrag</div>
        <div class="c-list-group__text list-group-item-text">€ 10.000,65</div>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="c-list-group__heading list-group-item-heading">Eigen risico</div>
        <div class="c-list-group__text list-group-item-text">€ 500,-</div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="c-list-group__heading list-group-item-heading">U ontvangt</div>
        <div class="c-list-group__text list-group-item-text">€ 50,-</div>
      </div>
    </div>
  </li>

  <li class="c-list-group__item list-group-item">
    <div class="row">
      <div class="col-md-4">
        <div class="c-list-group__heading list-group-item-heading">Behandeldatum</div>
        <p class="c-list-group__text list-group-item-text">11-03-2016 t/m 01-05-2016</p>
      </div>
      <div class="col-md-11 col-lg-9">
        <div class="c-list-group__heading list-group-item-heading">Omschrijving</div>
        <div class="c-list-group__text list-group-item-text">
          1x afdeling interne geneeskunde (15C768)
        </div>
        <div class="c-list-group__heading list-group-item-heading">Toelichting</div>
        <div class="c-list-group__text list-group-item-text">
          Vergoeding vanuit uw basisverzekering. Zilveren Kruis betaalt de zorgverlener voor u.
          U betaalt eigen risico.
        </div>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="c-list-group__heading list-group-item-heading">Bedrag</div>
        <div class="c-list-group__text list-group-item-text">€ 10.000,65</div>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="c-list-group__heading list-group-item-heading">Eigen risico</div>
        <div class="c-list-group__text list-group-item-text">€ 500,-</div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="c-list-group__heading list-group-item-heading">U ontvangt</div>
        <div class="c-list-group__text list-group-item-text">€ 50,-</div>
      </div>
    </div>
  </li>
</ul>
