<h1>Spinners</h1>

<h2>Full screen spinner</h2>
<div class="row">
  <div class="col-xs-6">
    <div class="o-box u-color-white-bg text-center" style="z-index: 10000;">
      <div class="o-box__body">
        <button id="spinner-full-screen-toggle" class="c-btn c-btn--normal u-margin-bottom-small btn">Toggle spinner</button>
        <button id="spinner-full-screen-show" class="c-btn c-btn--normal u-margin-bottom-small btn">Show spinner</button>
        <button id="spinner-full-screen-hide" class="c-btn c-btn--normal btn">Hide spinner</button>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(document).ready(function($) {
    $('#spinner-full-screen-toggle').on('click', function(event) {
      window.ZK.toggleSpinner('spinner-full-screen');
    });

    $('#spinner-full-screen-show').on('click', function(event) {
      window.ZK.showSpinner('spinner-full-screen');
    });

    $('#spinner-full-screen-hide').on('click', function(event) {
      window.ZK.hideSpinner('spinner-full-screen');
    });
  });
</script>

<h2>Component spinner</h2>
<div class="row">
  <div class="col-xs-6">
    <div class="o-box u-color-white-bg text-center" style="z-index: 10000;">
      <div class="o-box__body">
        <button id="spinner-content-toggle" class="c-btn c-btn--normal u-margin-bottom-small btn">Toggle spinner</button>
        <button id="spinner-content-show" class="c-btn c-btn--normal u-margin-bottom-small btn">Show spinner</button>
        <button id="spinner-content-hide" class="c-btn c-btn--normal btn">Hide spinner</button>
      </div>
    </div>
  </div>

  <div class="col-xs-18">
    <div class="o-box o-box--blue-1">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe fugit modi quasi doloremque fuga deserunt, cum sapiente ipsa incidunt laudantium delectus consectetur aliquam. Beatae quis, dicta dolores repellat tempore dolorum.
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(document).ready(function($) {
    var spinnerDefault = {
      // lines: 13, // The number of lines to draw
      // length: 28, // The length of each line
      // width: 14, // The line thickness
      // radius: 42, // The radius of the inner circle
      // scale: 1, // Scales overall size of the spinner
      // corners: 1, // Corner roundness (0..1)
      // color: '#000', // #rgb or #rrggbb or array of colors
      // opacity: 0.25, // Opacity of the lines
      // rotate: 0, // The rotation offset
      // direction: 1, // 1: clockwise, -1: counterclockwise
      // speed: 1, // Rounds per second
      // trail: 60, // Afterglow percentage
      // fps: 20, // Frames per second when using setTimeout() as a fallback for CSS
      zIndex: 20, // The z-index (defaults to 2000000000)
      // className: 'spinner', // The CSS class to assign to the spinner
      top: false, // Top position relative to parent
      left: false, // Left position relative to parent
      // shadow: true, // Whether to render a shadow
      // hwaccel: false, // Whether to use hardware acceleration
      position: false, // Element positioning

      append: 'after',
      spinnerElTarget: ''
    };

    new Spinner(spinnerDefault).spin(target);

    $('#spinner-content-toggle').on('click', function(event) {
      new Spinner({color:'#fff', lines: 12}).spin(target);
    });

    $('#spinner-content-show').on('click', function(event) {
      window.ZK.showSpinner('spinner-content');
    });

    $('#spinner-content-hide').on('click', function(event) {
      window.ZK.hideSpinner('spinner-content');
    });
  });
</script>
