// ========================================================================
// #LOADER
// ========================================================================
@import "_c-loader.settings";
@import "spinkit/scss/spinners/7-three-bounce";

.c-loader {
  display: none;

  &.is-active {
    display: block;
  }
}

.c-loader--page {
  z-index: 10000;
  @include centering($position: fixed);
}

.c-loader__backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $c-loader-backdrop-background-color;
  opacity: 0.8;
  z-index: 9999;

  &.is-active {
    display: block;
  }
}

.c-Loader--backdrop {

}
