//   ========================================================================
//   #LOADER SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

// Library settings
// ==========================================================================
$spinkit-spinner-margin: 0 !default;
$spinkit-spinner-color: $color-blue-8 !default;

// Color settings
// ==========================================================================
$c-loader-backdrop-background-color: $color-blue-0 !default;

