---
title: Max vergoedingen
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<!--
Vanwege een bug in IE11 met table cell hebben een aantal afbeeldingen style="width: 100%"
-->

<div class="container">

  <div class="c-page-title">
    <h1 class="c-page-title__heading">
      Maximale vergoeding 2018
    </h1>
    <span class="c-page-title__sub">
      <i class="c-btn__icon u-icon u-icon-clock" aria-hidden="true"></i>
      Bijgewerkt tot 8 november 2017
    </span>
  </div>

  <div class="row">
      <div class="col-sm-24">
        <h2 class="h3 u-margin-bottom-large">Maximale vergoedingen van mevrouw</h2>
        <p class="u-margin-bottom-large">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet consectetur earum, sunt iusto quidem quis iste, modi maiores quaerat totam facere laboriosam esse, nostrum fugit omnis est rerum numquam repellat.
          </p>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="o-box o-box--tile js-equal-height">
        <div class="o-box__body">
          <div class="o-layout--table o-layout--va-top">

            <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-small">
              <img class="o-box__icon o-box__icon--img" style="width: 100%;" src="/assets/img/icon-set/thema_alternatieve_geneeswijzen_blauw.svg" alt="">
            </div>

            <div class="o-layout__item o-layout__item--cell">

              <h4 class="o-box__heading o-box__heading--small">
                Alternatieve geneeswijze
              </h4>
              <div class="u-font-size-small clearfix">
                <p class="o-box__text--small">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="c-progress c-progress--tiny progress">
                  <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                    <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                  </div>
                </div>
                <span class="c-progress__text pull-left u-color-blue-8">€ 300,- al betaald</span>
                <span class="c-progress__text pull-right">€ 450,- over</span>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-12">

      <div class="o-box o-box--tile js-equal-height">
        <div class="o-box__body">
          <div class="o-layout--table o-layout--va-top">

            <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-small">
              <img class="o-box__icon o-box__icon--img" style="width: 100%;" src="/assets/img/icon-set/thema_tandheelkunde_blauw.svg" alt="">
            </div>

            <div class="o-layout__item o-layout__item--cell">

              <h4 class="o-box__heading o-box__heading--small">
                Tandarts
              </h4>
              <div class="u-font-size-small clearfix">
                <p class="o-box__text--small">
                  U heeft nog € 450,00 over
                </p>
                <div class="c-progress c-progress--tiny progress">
                  <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                    <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                  </div>
                </div>
                <span class="c-progress__text pull-left u-color-blue-8">€ 300,- al betaald</span>
                <span class="c-progress__text pull-right">€ 450,- over</span>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-12">

      <div class="o-box o-box--tile js-equal-height">
        <div class="o-box__body">
          <div class="o-layout--table o-layout--va-top">

            <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-small">
              <img class="o-box__icon o-box__icon--img"
              style="width: 100%;" src="/assets/img/icon-set/thema_orthodontie_blauw.svg" alt="">
            </div>

            <div class="o-layout__item o-layout__item--cell">

              <h4 class="o-box__heading o-box__heading--small">
                Orthodontie
              </h4>
              <div class="u-font-size-small clearfix">
                <p class="o-box__text--small">
                  U heeft nog € 450,00 over
                </p>
                <div class="c-progress c-progress--tiny progress">
                  <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                    <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                  </div>
                </div>
                <span class="c-progress__text pull-left u-color-blue-8">€ 300,- al betaald</span>
                <span class="c-progress__text pull-right">€ 450,- over</span>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>


    <div class="col-md-12">

      <div class="o-box o-box--tile js-equal-height">
        <div class="o-box__body">
          <div class="o-layout--table o-layout--va-top">

            <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-tiny">
              <img class="o-box__icon o-box__icon--img" style="width: 100%;" src="/assets/img/icon-set/thema_hulpmiddelen_blauw.svg" alt="">
            </div>

            <div class="o-layout__item o-layout__item--cell">

              <h4 class="o-box__heading o-box__heading--small">
                Brillen en lenzen
              </h4>
              <div class="u-font-size-small clearfix">
                <p class="o-box__text--small">
                  U heeft nog € 450,00 over
                </p>
                <div class="c-progress c-progress--tiny progress">
                  <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                    <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                  </div>
                </div>
                <span class="c-progress__text pull-left u-color-blue-8">€ 300,- al betaald</span>
                <span class="c-progress__text pull-right">€ 450,- over</span>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="row">
      <div class="col-md-12">
  
        <div class="o-box o-box--tile o-box--img-right js-equal-height">
          <div class="row no-gutters">
            <div class="col-sm-14">
              <div class="o-box__body">
                <h3 class="o-box__heading h4">
                  Bent u opzoek naar een andere vergoeding?
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="c-btn c-btn--link c-btn--wrap btn btn-link">
                  Bekijk hier alle vergoedingen
                  <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="o-box__img-container o-box__img-container--right u-hidden-xs-down col-xs-10">
              <svg class="o-box__curved-divider u-scale-svg__img" preserveAspectRatio="xMinYMid">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#curved-divider-left"></use>
              </svg>
              <img class="o-box__img u-padding-right-small" src="/assets/img/pages/klantdomein/max-vergoedingen/vergoedingen-hand.svg" alt="">
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-12">
  
        <div class="o-box o-box--tile o-box--img-right js-equal-height">
          <div class="row no-gutters">
            <div class="col-sm-14">
              <div class="o-box__body">
                <h3 class="o-box__heading h4">
                  Speciale korting via de Zilverkorting
                </h3>
                <div class="u-margin-bottom-small">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. saddasdsadsa adsasddasds as</p>                  
                </div>
                <a href="#" class="c-btn c-btn--link c-btn--wrap btn btn-link">
                  Bekijk alle Zilverkorting
                  <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="o-box__img-container o-box__img-container--right u-hidden-xs-down col-xs-10">
              <svg class="o-box__curved-divider u-scale-svg__img" preserveAspectRatio="xMinYMid">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#curved-divider-left"></use>
              </svg>
  
              <img class="o-box__img u-padding-right-large" src="/assets/img/pages/klantdomein/max-vergoedingen/shopping-bag.svg" alt="">
            </div>
          </div>
        </div>
  
      </div>
  
    </div>

    <a href="#" class="c-btn c-btn--link btn btn-link u-margin-bottom">
      <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
      Terug naar ...
    </a>

</div>
