<h2>Star rating</h2>
<p>Current</p>
<div class="c-rating" data-rating="2">
  <span class="c-rating__item c-rating__item--rating-4">★</span>
  <span class="c-rating__item c-rating__item--rating-3">★</span>
  <span class="c-rating__item c-rating__item--rating-2">★</span>
  <span class="c-rating__item c-rating__item--rating-1">★</span>
</div>

<p>Modified</p>
<div class="c-rating c-rating--modified" data-rating="3">
  <span class="c-rating__item c-rating__item--rating-4">★</span>
  <span class="c-rating__item c-rating__item--rating-3">★</span>
  <span class="c-rating__item c-rating__item--rating-2">★</span>
  <span class="c-rating__item c-rating__item--rating-1">★</span>
</div>