//   ========================================================================
//   #POPOVER
//   ========================================================================

//
// Add small overlays of content, like those on the iPad, to any element for housing secondary information.
// Popovers whose both title and content are zero-length are never displayed.
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "c-popover.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/popovers";

.c-popover {
  background-color: $c-popover-background-color;
  border: none;
  color: $c-popover-color;
  box-shadow: none;

  > :last-child {
    padding-bottom: $global-spacing-unit-base-offset;
  }
}

.c-popover__heading {
  @include box-spacing;

  padding: $global-spacing-unit-base-offset $global-spacing-unit-base $global-spacing-unit-small;
  border-radius: ($global-border-radius-large - 1) ($global-border-radius-large - 1) 0 0;
}

.c-popover__title {
  padding: 0;
  color: inherit;
  border-bottom: none;
  background-color: inherit;
}

.c-popover__icon {
  float: left;
  height: 35px;
}

.c-popover__body {
  padding: 0 $global-spacing-unit-base $global-spacing-unit-small;
  font-size: $global-font-size-small;

  > :last-child {
    margin-bottom: 0;
  }
}

.c-popover__footer {
  padding: 0 $global-spacing-unit-base $global-spacing-unit-base-offset;

  > :last-child {
    margin-bottom: 0;
  }
}

.c-popover__button-next {
  float: right;
}

.c-popover__button-prev {
  float: left;
}

.c-popover__link {
  &,
  &:hover,
  &:focus {
    color: $c-popover-link-color;
    text-decoration: underline;
  }
}

// Contextual variants
// ==========================================================================

.c-popover--white {
  border: 1px solid $c-popover-white-border-color;
  background-color: $c-popover-white-background-color;
  color: $global-text-color;

  .c-popover__link {
    color: $c-popover-link-color;

    &:hover {
      color: $c-popover-link-hover-color;
    }
  }

  &.top .c-popover__arrow {
   border-top-color: $c-popover-arrow-border-top-color;

   &:after {
     border-top-color: $c-popover-arrow-after-border-top-color;
   }
  }

  &.right .c-popover__arrow {
   border-right-color: $c-popover-arrow-border-right-color;

   &:after {
     border-right-color: $c-popover-arrow-after-border-right-color;
   }
  }

  &.bottom .c-popover__arrow {
   border-bottom-color: $c-popover-arrow-border-bottom-color;

   &:after {
     border-bottom-color: $c-popover-arrow-after-border-bottom-color;
   }
  }

  &.left .c-popover__arrow {
   border-left-color: $c-popover-arrow-border-left-color;

   &:after {
     border-left-color: $c-popover-arrow-after-border-left-color;
   }
  }
}

@include media-breakpoint-down(sm) {
  .c-popover--tour {
    display: none !important;
  }
}
