//   ========================================================================
//   #POPOVER SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-popover-background-color: $color-turquoise-5 !default;
$c-popover-color: $color-white !default;

$c-popover-link-color: $color-white !default;

$c-popover-white-border-color: $color-gray-0 !default;
$c-popover-white-background-color: $color-white !default;
$c-popover-link-color: $global-link-color !default;
$c-popover-link-hover-color: $global-link-hover-color !default;

$c-popover-arrow-border-top-color: $color-gray-0 !default;
$c-popover-arrow-after-border-top-color: $color-white !default;

$c-popover-arrow-border-right-color: $color-gray-0 !default;
$c-popover-arrow-after-border-right-color: $color-white !default;

$c-popover-arrow-border-bottom-color: $color-gray-0 !default;
$c-popover-arrow-after-border-bottom-color: $color-white !default;

$c-popover-arrow-border-left-color: $color-gray-0 !default;
$c-popover-arrow-after-border-left-color: $color-white !default;
