<h1>Alerts</h1>
<h2>Success</h2>

<div class="c-alert c-alert--success c-alert--dismissible alert fade in" role="alert">
  <button type="button" class="c-alert__close close" data-dismiss="alert" aria-label="Sluiten">
    <i class="u-icon u-icon-cross" aria-hidden="true"></i>
  </button>
  <strong>Well done!</strong>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, aspernatur. Est, repellendus fugit sit saepe labore maiores? Delectus, ad incidunt aliquid maiores perferendis aspernatur expedita nulla eaque tenetur quidem eius!
  <a href="#" class="c-alert__link">this important alert message</a>.
</div>

<div class="c-alert c-alert--success-2 c-alert--dismissible alert fade in alert" role="alert">
  <button type="button" class="c-alert__close close" data-dismiss="alert" aria-label="Sluiten">
    <i class="u-icon u-icon-cross" aria-hidden="true"></i>
  </button>
  <strong>Well done!</strong> You successfully read
  <a href="#" class="c-alert__link">this important alert message</a>.
</div>

<h2>Info</h2>
<div class="c-alert c-alert--info alert" role="alert"> <strong>Heads up!</strong> This <a href="#" class="c-alert__link">alert needs your attention</a>, but it's not super important. </div>
<div class="c-alert c-alert--info-2 alert" role="alert"> <strong>Heads up!</strong> This <a href="#" class="c-alert__link">alert needs your attention</a>, but it's not super important. </div>

<h2>Warning</h2>
<div class="c-alert c-alert--warning alert" role="alert"> <strong>Warning!</strong> Better check yourself, you're <a href="#" class="c-alert__link">not looking too good</a>. </div>
<div class="c-alert c-alert--warning-2 alert" role="alert"><strong>Warning!</strong> Better check yourself, you're <a href="#" class="c-alert__link">not looking too good</a>.</div>

<h2>Danger</h2>
<div class="c-alert c-alert--danger alert" role="alert"> <strong>Oh snap!</strong> <a href="#" class="c-alert__link">Change a few things up</a> and try submitting again. </div>
<div class="c-alert c-alert--danger-2 alert" role="alert"> <strong>Oh snap!</strong> <a href="#" class="c-alert__link">Change a few things up</a> and try submitting again. </div>

<h2>Contextual variants</h2>
<p>Without border radius</p>
<div class="c-alert c-alert--bare c-alert--warning-2 c-alert--no-radius alert" role="alert">
  Kunt u niet alles in een keer betalen? U kunt bij ons uw zorgkosten betalen in 2 tot 7 termijnen.
  <a href="#" class="c-alert__link">Betalen in termijnen aanvragen</a>.
</div>

<p>With icon</p>
<div class="c-alert c-alert--info-2 u-font-size-small alert" role="alert">
  <div class="o-layout--table">
    <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
      <i class="u-icon u-icon-eye" aria-hidden="true"></i>
    </div>
    <div class="o-layout__item--cell">
      U bent niet gemachtigd om alle zorgkosten te bekijken. Wilt u dit toch? De verzekerde moet u hiervoor eerst
      machtigen door zelf in te loggen.
    </div>
  </div>
</div>

<p>In box (top)</p>
<div class="o-box o-box--inverse u-color-blue-6-bg">

  <div class="c-alert c-alert--bare c-alert--info-2 c-alert--inside-top u-font-size-small alert" role="alert">
    <div class="o-layout--table">
      <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
        <i class="u-icon u-icon-eye" aria-hidden="true"></i>
      </div>
      <div class="o-layout__item--cell">
        U bent niet gemachtigd om alle zorgkosten te bekijken. Wilt u dit toch? De verzekerde moet u hiervoor eerst
        machtigen door zelf in te loggen.
      </div>
    </div>
  </div>

  <div class="o-box__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem tempora delectus atque cumque blanditiis, provident architecto dolorem nostrum harum corporis? Incidunt reprehenderit non ex sint, distinctio nam, aliquam nihil vero.</p>
  </div>

</div>


<p>In box (bottom)</p>

<div class="o-box o-box--inverse u-color-blue-6-bg">

  <div class="o-box__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem tempora delectus atque cumque blanditiis, provident architecto dolorem nostrum harum corporis? Incidunt reprehenderit non ex sint, distinctio nam, aliquam nihil vero.</p>
  </div>

  <div class="c-alert c-alert--bare c-alert--info-2 c-alert--inside-bottom u-font-size-small alert" role="alert">
    <div class="o-layout--table">
      <div class="o-layout__item--cell o-layout__item--icon u-padding-right-tiny">
        <i class="u-icon u-icon-eye" aria-hidden="true"></i>
      </div>
      <div class="o-layout__item--cell">
        U bent niet gemachtigd om alle zorgkosten te bekijken. Wilt u dit toch? De verzekerde moet u hiervoor eerst
        machtigen door zelf in te loggen.
      </div>
    </div>
  </div>

</div>

<h2>Sizes</h2>
<p>Small</p>
<div class="c-alert c-alert--success c-alert--small alert" role="alert"> <strong>Well done!</strong> You successfully read <a href="#" class="c-alert__link">this important alert message</a>. </div>

<p>Normal</p>
<div class="c-alert c-alert--success alert" role="alert"> <strong>Well done!</strong> You successfully read <a href="#" class="c-alert__link">this important alert message</a>. </div>

<p>Large</p>
<div class="c-alert c-alert--success c-alert--large alert" role="alert"> <strong>Well done!</strong> You successfully read <a href="#" class="c-alert__link">this important alert message</a>. </div>
