//   ========================================================================
//   #SELECT INPUT
//   ========================================================================

//
// Form input with type of select 
//

.c-selectinput {
  height: auto;
  overflow: hidden;
  position: relative;
  border-radius: $global-border-radius-base;

  .c-selectinput__select {
    background: transparent;
    border: none;
    height: $global-line-height + $global-spacing-unit;
    width: calc(100% + 3.5em);
  }
}