//   ========================================================================
//   #FONTS FBTO
//   ========================================================================

// frank-light
@font-face {
  font-family: "frank";
  font-style: normal;
  font-weight: 300;
  src: url(asset-url("/fbto/frank-light-webfont.woff", "font")) format("woff");
}

@font-face {
  font-family: "frank";
  font-style: normal;
  font-weight: 400;
  src: url(asset-url("/fbto/frank-regular-webfont.woff", "font")) format("woff");
}

// frank-light
@font-face {
  font-family: "frank";
  font-style: normal;
  font-weight: 500;
  src: url(asset-url("/fbto/frank-medium-webfont.woff", "font")) format("woff");
}

@font-face {
  font-family: "frank";
  font-style: normal;
  font-weight: 600;
  src: url(asset-url("/fbto/frank-bold-webfont.woff", "font")) format("woff");
}

