//   ========================================================================
//   #FONTS
//   ========================================================================

//  PT Sans latin-ext
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(asset-url("/zk/pt-sans-web-regular-latin.woff2", "font")) format("woff2"), url(asset-url("/zk/pt-sans-web-regular.woff", "font")) format("woff");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

// PT Sans latin
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(asset-url("/zk/pt-sans-web-regular-latin.woff2", "font")) format("woff2"), url(asset-url("/zk/pt-sans-web-regular.woff", "font")) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// PT Sans Bold latin-ext
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(asset-url("/zk/pt-sans-web-bold-latin-ext.woff2", "font")) format("woff2"), url(asset-url("/zk/pt-sans-web-bold.woff", "font")) format("woff");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

// PT Sans Bold latin
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(asset-url("/zk/pt-sans-web-bold-latin-ext.woff2", "font")) format("woff2"), url(asset-url("/zk/pt-sans-web-bold.woff", "font")) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// Titillium Web Regular latin-ext
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web Regular"), local("TitilliumWeb-Regular"), url(asset-url("/zk/titillium-web-regular-latin-ext.woff2", "font")) format("woff2"), url(asset-url("/zk/titillium-web-regular.woff", "font")) format("woff");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

// Titillium Web Regular latin
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web Regular"), local("TitilliumWeb-Regular"), url(asset-url("/zk/titillium-web-regular-latin.woff2", "font")) format("woff2"), url(asset-url("/zk/titillium-web-regular.woff", "font")) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// Titillium Web SemiBold latin-ext
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src: local("Titillium Web SemiBold"), local("TitilliumWeb-SemiBold"), url(asset-url("/zk/titillium-web-semi-bold-latin-ext.woff2", "font")) format("woff2"), url(asset-url("/zk/titillium-web-semi-bold.woff", "font")) format("woff");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

//  Titillium Web SemiBold latin
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src: local("Titillium Web SemiBold"), local("TitilliumWeb-SemiBold"), url(asset-url("/zk/titillium-web-semi-bold-latin.woff2", "font")) format("woff2"), url(asset-url("/zk/titillium-web-semi-bold.woff", "font")) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
