//   ========================================================================
//   #TAB
//   ========================================================================

//
// Add quick, dynamic tab functionality to transition through panes of local
// content, even via dropdown menus.
//

@import "bootstrap-sass/assets/stylesheets/bootstrap/navs";

.c-tab__toggle-group {
  margin-bottom: $global-spacing-unit-small;
  @include media-breakpoint-down(xs) {
    display: flex;
    overflow-x: scroll;
  }  
}
.c-tab__toggle {
  margin-bottom: $global-spacing-unit-tiny;
  @include media-breakpoint-down(xs) {
    white-space: normal;
  }  
}