// ========================================================================
// #SPINNER
// ========================================================================

//
// Provides spinner.
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "_c-spinner.settings";

.spinner-container {
  display: none;
  position: fixed;
  z-index: 9999;

  &.inline {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .spinner {
      position: static;
      width: 100px;
      height: 100px;
      margin: 20px auto;
    }

    &.active .spinner-backdrop {
      display: none;
    }
  }

  .spinner {
    background: url(asset-url($c-spinner-background-url)) center center no-repeat transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .spinner-content {
    @include centering($axis: horizontal, $position: fixed);

    top: 15%;
    z-index: 1;
  }

  .spinner-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    background-color: $c-spinner-backdrop-background-color;
  }

  &.active {
    .spinner {

    }

    .spinner-backdrop {
      display: block;
    }
  }
}
