//
// Grid system
// --------------------------------------------------

@import "@zilverenkruis/settings/_settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include container-fixed;

  @include media-breakpoint-up('sm') {
    width: map-get($container-max-widths, 'sm');
    max-width: 100%;
  }
  @include media-breakpoint-up('md') {
    width: map-get($container-max-widths, 'md');
    max-width: 100%;
  }
  @include media-breakpoint-up('lg') {
    width: map-get($container-max-widths, 'lg');
    max-width: 100%;
  }
  @include media-breakpoint-up('xl') {
    width: map-get($container-max-widths, 'xl');
    max-width: 100%;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row;
}


// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones. (portrait mode)

@include make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones. (landscape mode)

@media (min-width: map-get($global-grid-breakpoints, "sm")) {
  @include make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: map-get($global-grid-breakpoints, "md")) {
  @include make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: map-get($global-grid-breakpoints, "lg")) {
  @include make-grid(lg);
}

// Extra large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (min-width: map-get($global-grid-breakpoints, "xl")) {
  @include make-grid(xl);
}

// BS 4 no-gutters
//
//
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
