<h2>Basic example</h2>

<div class="c-panel panel">
  <div class="c-panel__body panel-body">
    Basic panel example
  </div>
</div>

<h2>Panel with heading</h2>

<div class="c-panel panel">
  <div class="c-panel__heading panel-heading">Panel heading without title</div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
</div>

<div class="c-panel panel">
  <div class="c-panel__heading panel-heading">
    <h3 class="c-panel__title panel-title">Panel title</h3>
  </div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
</div>

<h2>Panel with footer</h2>

<div class="c-panel panel">
  <div class="c-panel__heading panel-heading">
    <h3 class="c-panel__title panel-title">Panel title</h3>
  </div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
  <div class="c-panel__footer panel-footer">Panel footer</div>
</div>

<h2>Sizes</h2>

<div class="c-panel c-panel--small panel">
  <div class="c-panel__heading panel-heading">
    <h3 class="c-panel__title panel-title">Panel title</h3>
  </div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
</div>

<div class="c-panel panel">
  <div class="c-panel__heading panel-heading">
    <h3 class="c-panel__title panel-title">Panel title</h3>
  </div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
</div>

<div class="c-panel c-panel--large panel">
  <div class="c-panel__heading panel-heading">
    <h3 class="c-panel__title panel-title">Panel title</h3>
  </div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
</div>

<h2>Contextual variants</h2>

<div class="c-panel c-panel--dashed panel">
  <div class="c-panel__body panel-body">
    Panel dashed border
  </div>
</div>

<div class="c-panel c-panel--bare panel">
  <div class="c-panel__heading panel-heading">
    <h3 class="c-panel__title panel-title">Bare (style reset)</h3>
  </div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
  <div class="c-panel__footer panel-footer">Panel footer</div>
</div>

<div class="c-panel c-panel--blue-0 panel">
  <div class="c-panel__heading panel-heading">
    <h3 class="c-panel__title c-panel__title--icon-right panel-title">Panel blue 0</h3>
    <i class="c-panel__icon c-panel__icon--right" aria-hidden="true"></i>
  </div>
  <div class="c-panel__body panel-body">
    Panel content
  </div>
  <div class="c-panel__footer panel-footer">Panel footer</div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Primary panel</h3> </div>
  <div class="panel-body"> Panel content </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Success panel</h3> </div>
  <div class="panel-body"> Panel content </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Info panel</h3> </div>
  <div class="panel-body"> Panel content </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Warning panel</h3> </div>
  <div class="panel-body"> Panel content </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Danger panel</h3> </div>
  <div class="panel-body"> Panel content </div>
</div>

<h2>With tables</h2>

<div class="panel panel-default">
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut
      id elit.</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Panel heading</div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>With list groups</h2>

<div class="panel panel-default">
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut
      id elit.</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
