<h1>Panel group</h1>

<div class="sg-example">

  <div class="c-panel-group panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">

    <div class="c-panel c-panel--collapse panel">
      <div class="c-panel__heading panel-heading" role="tab" id="heading-2-1" data-toggle="collapse" data-parent="#accordion-2" data-target="#collapse-2-1" aria-expanded="true" aria-controls="collapse-2-1">
        <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
        <div class="c-panel__title c-panel__title--icon-left panel-title">
          Collapsible Group Item #1
        </div>
      </div>
      <div id="collapse-2-1" class="c-panel__collapse panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-2-1">
        <div class="c-panel__body panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
      <div class="c-panel__footer panel-footer">Footer</div>
    </div>

    <div class="c-panel c-panel--collapse panel">
      <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-2-2" data-toggle="collapse" data-parent="#accordion-2" data-target="#collapse-2-2" aria-expanded="true" aria-controls="collapse-2-2">
        <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
        <div class="c-panel__title c-panel__title--icon-left panel-title">
          Collapsible Group Item #1
        </div>
      </div>
      <div id="collapse-2-2" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2-2">
        <div class="c-panel__body panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="c-panel c-panel--collapse panel">
      <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-2-3" data-toggle="collapse" data-parent="#accordion-2" data-target="#collapse-2-3" aria-expanded="true" aria-controls="collapse-2-3">
        <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
        <div class="c-panel__title c-panel__title--icon-left panel-title">
          Collapsible Group Item #1
        </div>
      </div>
      <div id="collapse-2-3" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2-3">
        <div class="c-panel__body panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

  </div>

</div>
<div class="sg-clipboard">



</div>


<h2>Contextual variants</h2>

<div class="o-box u-color-blue-0-bg">

  <div class="o-box__body">

    <div class="c-panel-group panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">
      <div class="c-panel c-panel--bare c-panel--collapse panel">
        <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-3-1" data-toggle="collapse" data-parent="#accordion-3" data-target="#collapse-3-1" aria-expanded="true" aria-controls="collapse-3-1">
          <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
          <div class="c-panel__title c-panel__title--icon-left panel-title">
            Collapsible Group Item #1
          </div>
        </div>
        <div id="collapse-3-1" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3-1">
          <div class="c-panel__body panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="c-panel c-panel--bare c-panel--collapse panel">
        <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-3-2" data-toggle="collapse" data-parent="#accordion-3" data-target="#collapse-3-2" aria-expanded="true" aria-controls="collapse-3-2">
          <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
          <div class="c-panel__title c-panel__title--icon-left panel-title">
            Collapsible Group Item #2
          </div>
        </div>
        <div id="collapse-3-2" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3-2">
          <div class="c-panel__body panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="c-panel c-panel--bare c-panel--collapse panel">
        <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-3-3" data-toggle="collapse" data-parent="#accordion-3" data-target="#collapse-3-3" aria-expanded="true" aria-controls="collapse-3-3">
          <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
          <div class="c-panel__title c-panel__title--icon-left panel-title">
            Collapsible Group Item #3
          </div>
        </div>
        <div id="collapse-3-3" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3-3">
          <div class="c-panel__body panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<h2>Sizes</h2>

<div class="c-panel-group panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">

  <div class="c-panel c-panel--collapse panel">
    <div class="c-panel__heading panel-heading" role="tab" id="heading-2-2" data-toggle="collapse" data-parent="#accordion-2" data-target="#collapse-2-2" aria-expanded="true" aria-controls="collapse-2-2">
      <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
      <div class="c-panel__title c-panel__title--icon-left panel-title">
        Normal size
      </div>
    </div>
    <div id="collapse-2-2" class="c-panel__collapse panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-2-2">
      <div class="c-panel__body panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="c-panel c-panel--collapse c-panel--large panel">
    <div class="c-panel__heading panel-heading" role="tab" id="heading-2-3" data-toggle="collapse" data-parent="#accordion-2" data-target="#collapse-2-3" aria-expanded="true" aria-controls="collapse-2-3">
      <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
      <div class="c-panel__title c-panel__title--icon-left panel-title">
        Large size
      </div>
    </div>
    <div id="collapse-2-3" class="c-panel__collapse panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-2-3">
      <div class="c-panel__body panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

</div>
