//   ========================================================================
//   #FORM
//   ========================================================================

@import "@zilverenkruis/settings/_settings";
@import "@zilverenkruis/tools/_tools";

@import "_o-form.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/forms";

.has-feedback {
  .o-form__control {
    padding-right: $input-height-base;
  }
}
