---
script_body:
- src: /assets/js/c-loader-example.min.js
---
<h1>Page loader</h1>

<h2>Full screen loader</h2>
<div class="row">
  <div class="col-xs-6">
    <div class="o-box u-color-white-bg text-center" style="z-index: 10000;">
      <div class="o-box__body">
        <button class="c-btn c-btn--normal js-toggle-loader u-margin-bottom-small btn">Toggle loader</button>
        <button class="c-btn c-btn--normal js-show-loader u-margin-bottom-small btn">Show loader</button>
        <button class="c-btn c-btn--normal js-hide-loader btn">Hide loader</button>
      </div>
    </div>
  </div>
</div>

<h2>Component loader</h2>
<div class="row">
  <div class="col-xs-6">
    <div class="o-box u-color-white-bg text-center" style="z-index: 10000;">
      <div class="o-box__body">
        <button id="loader-content-toggle" class="c-btn c-btn--normal u-margin-bottom-small btn" disabled>Toggle loader</button>
        <button id="loader-content-show" class="c-btn c-btn--normal u-margin-bottom-small btn" disabled>Show loader</button>
        <button id="loader-content-hide" class="c-btn c-btn--normal btn" disabled>Hide loader</button>
      </div>
    </div>
  </div>

  <div class="col-xs-18">
    <div class="o-box o-box--blue-1">
      <div class="o-box__body">
        <h3 class="o-box__heading">Box heading</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe fugit modi quasi doloremque fuga deserunt, cum sapiente ipsa incidunt laudantium delectus consectetur aliquam. Beatae quis, dicta dolores repellat tempore dolorum.
      </div>
    </div>
  </div>
</div>

<div class="c-loader c-loader--page c-Loader--backdrop js-loader">
  <div class=" sk-three-bounce">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
  </div>
</div>
<div class="c-loader__backdrop js-loader-backdrop"></div>

