//   ========================================================================
//   #MASTHEAD
//   ========================================================================

@import "c-masthead.settings";

.c-masthead {
  @include clearfix;

  background-color: $color-white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.c-masthead__section-top {
  margin: $global-spacing-unit-base auto;
}

.c-masthead__section-bottom {
  border-top: 1px solid $color-gray-0;
}

.c-masthead__bottom-nav {
  margin: $global-spacing-unit-tiny 0;
}

.c-masthead__logo-link {
  @include clearfix;

  display: block;
  width: 130px;
  transition: width 0.35s;
  margin-right: $global-spacing-unit-tiny;

  @include media-breakpoint-up(md) {
    width: 186px;
  }
}

.c-masthead__logo-container {
  float: left;
  display: block;
  padding-bottom: (80 / 186) * 100%; // SVG padding-bottom hack
}

.c-masthead__logo {
  fill: $color-blue-8;
}

.c-masthead__top-nav {
  text-align: right;
  float: right;
  font-size: $global-font-size-small;
}
