//   ========================================================================
//   #MASTHEAD SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-masthead-background-color: $color-white !default;

$c-masthead-section-bottom-border-top-color: $color-gray-0 !default;

$c-masthead-logo-fill-color: $color-blue-8 !default;
