//   ========================================================================
//   #ALIGNMENT
//   ========================================================================

// Responsive pull & push
@each $bp in map-keys($global-grid-breakpoints) {
  .u-pull-left-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      float: left !important;
    }
  }

  .u-pull-left-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      float: left !important;
    }
  }

  .u-pull-right-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      float: right !important;
    }
  }

  .u-pull-right-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      float: right !important;
    }
  }

  .u-pull-none-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      float: none !important;
    }
  }

  .u-pull-none-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      float: none !important;
    }
  }
}

// Absolute alignment
.u-pos-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.u-pos-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.u-pos-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.u-pos-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.u-pos-center-center {
  @include centering(all, absolute, false);
}

.u-line-height-base {
  line-height: $global-spacing-unit-base;
}

.u-line-height-large {
  line-height: $global-spacing-unit-large;
}
