//   ========================================================================
//   #TEXT UTILITIES SETTINGS
//   ========================================================================

//
// `Utilities settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$u-text-success-color: $color-turquoise-6 !default;
$u-text-warning-color: $color-orange-1 !default;
$u-text-danger-color: $color-pink-2 !default;
$u-text-modified-color: $color-orange-1 !default;
$u-text-disabled-color: $color-blue-5 !default;

$u-text-success-font-weight: $global-font-weight-bold !default;
$u-text-warning-font-weight: $global-font-weight-bold !default;
$u-text-danger-font-weight: $global-font-weight-bold !default;

$u-text-success-u-icon-ok-color : $u-text-success-color !default;
