//   ========================================================================
//   #SIZING
//   ========================================================================

//
// Utility classes to put specific width & height values onto elements. The below loop
// will generate us a suite of classes like:
//
// .u-height-[25, 50, 75, 100] {}
// .u-width-[25, 50, 75, 100] {}
// .u-max-height-[25, 50, 75, 100] {}
// .u-max-width-[25, 50, 75, 100] {}
//
// Also adds Utility classes for responsive widths. Only supports a few combinations since
// we may only need these in the future.
//
// .u-width-[25, 50, 75, 100]-{bp}-down
//

$sizing-properties: (
  'width': 'width',
  'height': 'height',
  'max-width': 'max-width',
  'max-height': 'max-height',
  'min-width': 'min-width',
  'min-height': 'min-height'
);

$sizing-sizes: (
  '-25': 25%,
  '-50': 50%,
  '-75': 75%,
  '-100': 100%
);

@include make-utility-classes($sizing-properties, '', $sizing-sizes);

// Responsive sizing utilities
@each $bp in map-keys($global-grid-breakpoints) {
  @each $width-namespace, $width in $sizing-sizes {
    .u-width#{$width-namespace}-#{$bp}-down {
      @include media-breakpoint-down($bp) {
        width: #{$width};
      }
    }
  }
}
