//   ========================================================================
//   #TEXT UTILITIES SETTINGS
//   ========================================================================

//
// `Utilities settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$u-text-success-color: $avero-color-success-1;
$u-text-warning-color: $avero-color-warning-1;
$u-text-danger-color: $avero-color-danger-1;

$u-text-success-font-weight: $global-font-weight-bold;
$u-text-warning-font-weight: $global-font-weight-bold;
$u-text-danger-font-weight: $global-font-weight-bold;

