//   ========================================================================
//   #COLOR
//   ========================================================================

@each $key, $color-map in $color-list {
  @each $key-sub, $hex in $color-map {
    .u-color-#{$key}-#{$key-sub}-bg {
      background-color: $hex !important;
    }

    .u-color-#{$key}-#{$key-sub} {
      color: $hex !important;
    }
  }
}

.u-color-white { color: $color-white !important; }
.u-color-white-bg { background-color: $color-white !important; }
.u-color-black { color: $color-black !important; }
.u-color-black-bg { background-color: $color-black !important; }
