//   ========================================================================
//   #SCALING
//   ========================================================================

// SVG padding-bottom hack
// https://css-tricks.com/scale-svg/
.u-scale-svg {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.u-scale-svg--square {
  padding-bottom: 100%;
}

.u-scale-svg__img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
