//   ========================================================================
//   #TEXT
//   ========================================================================

@import "utilities.text.settings";

.u-text-overflow {
  @include text-overflow;
}

.u-text-decoration-underline {
  text-decoration: underline !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}

.u-text-hover-decoration-none {
  &:hover {
    text-decoration: none !important;
  }
}

.u-text-align-left {
  text-align: left !important;
}

.u-text-align-right {
  text-align: right !important;
}

// Responsive text-align
@each $bp in map-keys($global-grid-breakpoints) {
  .u-text-align-left-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      text-align: left !important;
    }
  }
  .u-text-align-left-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      text-align: left !important;
    }
  }
  .u-text-align-right-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      text-align: right !important;
    }
  }
  .u-text-align-right-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      text-align: right !important;
    }
  }
}

.u-no-whitespace {
  padding: 0 !important;
  margin: 0 !important;
}

// Contextual variants
// ==========================================================================
.u-text-success {
  color: $u-text-success-color;
  font-weight: $u-text-success-font-weight;
   
  .u-icon-ok{
    color: $u-text-success-u-icon-ok-color;
  }
}

.u-text-info {
  //color:inherit;
}

.u-text-warning {
  color: $u-text-warning-color;
  font-weight: $u-text-warning-font-weight;
}

.u-text-danger {
  color: $u-text-danger-color;
  font-weight: $u-text-danger-font-weight;
}

.u-text-modified {
  color: $u-text-modified-color;
  font-weight: $global-font-weight-bold;
}

.u-text-disabled {
  color: $u-text-disabled-color;
}
