//   ========================================================================
//   #TEXT UTILITIES SETTINGS
//   ========================================================================

//
// `Utilities settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$u-text-success-color: $fbto-color-gray-5;
$u-text-warning-color: $fbto-color-warning-1;
$u-text-danger-color: $fbto-color-gray-5;

$u-text-success-font-weight: $global-font-weight;
$u-text-warning-font-weight: $global-font-weight;
$u-text-danger-font-weight: $global-font-weight;

$u-text-success-u-icon-ok-color : $fbto-color-success-1 !important;
