//   ========================================================================
//   #ICON
//   ========================================================================

@at-root {
  @font-face {
    font-family: "zk-icons-font";
    src: url(asset-url("/zk/zk-icons/zk-icons-font.woff", "font")) format("woff");
    font-style: normal;
    font-weight: normal;
  }
}

// Catchall baseclass
.u-icon {
  @include icon;
}

// Vertical aligned icons
.u-icon-va {
  @include icon-va;
}

// Fixed width icons
.u-icon-fw {
  @include icon-fw;
}

.u-icon-list {
  position: absolute;
  left: em(-$global-spacing-unit-base);
  width: em($global-spacing-unit-base);
  top: em(5px);
}

// Icon Sizing
.u-icon-tiny {
  font-size: $global-font-size-tiny;
}

.u-icon-small {
  font-size: $global-font-size-small;
}

// Makes the font 33% larger relative to the icon container
.u-icon-large {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}

.u-icon-2x { font-size: 2em; }
.u-icon-3x { font-size: 3em; }
.u-icon-4x { font-size: 4em; }
.u-icon-5x { font-size: 5em; }

// Spinning icons
.u-icon-spin {
  animation: u-icon-spin 2s infinite linear;
}

.u-icon-pulse {
  animation: u-icon-spin 1s infinite steps(8);
}

@keyframes u-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// Rotated & flipped icons
.u-icon-rotate-90 {
  transform: rotate(90deg);
}

.u-icon-rotate-180 {
  transform: rotate(180deg);
}

.u-icon-rotate-270 {
  transform: rotate(270deg);
}

.u-icon-flip-horizontal {
  transform: scale(-1, 1);
}

.u-icon-flip-vertical {
  transform: scale(1, -1);
}

// Hook for IE8-9
:root .u-icon-rotate-90,
:root .u-icon-rotate-180,
:root .u-icon-rotate-270,
:root .u-icon-flip-horizontal,
:root .u-icon-flip-vertical {
  filter: none;
}

// Icons
.u-icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.u-icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.u-icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.u-icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.u-icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.u-icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.u-icon-comment {
  &:before {
    content: $icon-comment;
  }
}
.u-icon-commenting {
  &:before {
    content: $icon-commenting;
  }
}
.u-icon-conversation {
  &:before {
    content: $icon-conversation;
  }
}
.u-icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.u-icon-cross-sign {
  &:before {
    content: $icon-cross-sign;
  }
}
.u-icon-cross-trans-marker {
  &:before {
    content: $icon-cross-trans-marker;
  }
}
.u-icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.u-icon-external-link {
  &:before {
    content: $icon-external-link;
  }
}
.u-icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.u-icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.u-icon-file {
  &:before {
    content: $icon-file;
  }
}
.u-icon-file-stack {
  &:before {
    content: $icon-file-stack;
  }
}
.u-icon-info-sign {
  &:before {
    content: $icon-info-sign;
  }
}
.u-icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.u-icon-lock-open {
  &:before {
    content: $icon-lock-open;
  }
}
.u-icon-marker {
  &:before {
    content: $icon-marker;
  }
}
.u-icon-marker-zk {
  &:before {
    content: $icon-marker-zk;
  }
}
.u-icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.u-icon-mobile-arrow {
  &:before {
    content: $icon-mobile-arrow;
  }
}
.u-icon-ok {
  &:before {
    content: $icon-ok;
  }
}
.u-icon-ok-sign {
  &:before {
    content: $icon-ok-sign;
  }
}
.u-icon-ok-trans-marker {
  &:before {
    content: $icon-ok-trans-marker;
  }
}
.u-icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.u-icon-pie-euro {
  &:before {
    content: $icon-pie-euro;
  }
}
.u-icon-plus-marker {
  &:before {
    content: $icon-plus-marker;
  }
}
.u-icon-plus-sign {
  &:before {
    content: $icon-plus-sign;
  }
}
.u-icon-print {
  &:before {
    content: $icon-print;
  }
}
.u-icon-question {
  &:before {
    content: $icon-question;
  }
}
.u-icon-question-sign {
  &:before {
    content: $icon-question-sign;
  }
}
.u-icon-search {
  &:before {
    content: $icon-search;
  }
}
.u-icon-star {
  &:before {
    content: $icon-star;
  }
}
.u-icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.u-icon-user {
  &:before {
    content: $icon-user;
  }
}
.u-icon-wallet {
  &:before {
    content: $icon-wallet;
  }
}
.u-icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
