//   ========================================================================
//   #ICON
//   ========================================================================


// Sizing
// ==========================================================================
.u-icon-svg {
  display: inline-block;
  width: 1.2em;
  vertical-align: sub;
}

.u-icon-svg-tiny {
  width: $global-font-size-tiny;
}

.u-icon-svg-small {
  width: $global-font-size-small;
}
