//   ========================================================================
//   #VISIBILITY
//   ========================================================================

//
// Responsive visibility utilities
//
// .u-margin-top {}
// .u-padding-left-large {}
// .u-margin-right-small {}
// .u-padding {}
// .u-padding-right-none {}
// .u-padding-horizontal {}
// .u-padding-vertical-small {}

// Responsive visibility utilities
@each $bp in map-keys($global-grid-breakpoints) {
  .u-hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .u-hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }

  // You can use this utility class when an accordion or tab must be open for
  // a specific breakpoint
  .u-shown-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: block !important;

      &.collapse {
        height: auto !important;
      }
    }
  }
}
