//   ========================================================================
//   #FONT
//   ========================================================================

//
// Utility classes for specific font sizes and weights
//

// Size modifiers.
// ==========================================================================
.u-font-size-small { font-size: $global-font-size-small; }
.u-font-size-base { font-size: $global-font-size-base; }
.u-font-size-large { font-size: $global-font-size-large; }

.u-font-size-h1 { font-size: $global-font-size-h1; }
.u-font-size-h2 { font-size: $global-font-size-h2; }
.u-font-size-h3 { font-size: $global-font-size-h3; }
.u-font-size-h4 { font-size: $global-font-size-h4; }
.u-font-size-h5 { font-size: $global-font-size-h5; }
.u-font-size-h6 { font-size: $global-font-size-h6; }

// Weight modifiers.
// ==========================================================================
.u-font-weight-normal { font-weight: normal; }
.u-font-weight-semi-bold { font-weight: 600; }
.u-font-weight-bold { font-weight: 700; }
