---
title: Homepage
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<div class="c-hero">
  <div class="container u-padding-vertical u-margin-bottom-large">

    <div class="c-hero__heading u-margin-bottom text-center">
      <h1 class="c-hero__title u-margin-bottom-none">
        Goedemorgen, meneer van der Wilg
      </h1>
      <span class="c-hero__sub-title">Relatienummer: 123456789</span>
    </div>

    <div class="row">

      <div class="col-sm-8 col-md-7 col-lg-4 col-lg-offset-2 u-margin-vertical-gutter js-equal-height">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--file"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Declaratie indienen</span>
          </div>
        </a>
      </div>

      <div class="col-sm-8 col-md-7 col-lg-4 u-margin-vertical-gutter js-equal-height">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--pill"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Declaraties en zorgverbruik</span>
          </div>
        </a>
      </div>

      <div class="col-sm-8 col-md-7 col-lg-4 u-margin-vertical-gutter js-equal-height">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--pie-euro"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Financieel overzicht</span>
          </div>
        </a>
      </div>

      <div class="col-sm-8 col-md-7 col-lg-4 u-margin-vertical-gutter js-equal-height">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100 is-disabled js-tooltip-white" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum non repudiandae quaerat culpa, id debitis voluptatum">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--wallet"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Vergoedingen in 2017</span>
          </div>
        </a>
      </div>

      <div class="col-sm-8 col-md-7 col-lg-4 u-margin-vertical-gutter js-equal-height">
        <a class="o-box o-box--tile o-box--tile-interactive o-box--img-top u-margin-bottom-none u-height-100" href="#">
          <div class="o-box__body">
            <div class="o-box__img-container">
              <div class="u-scale-svg u-scale-svg--square">
                <svg class="o-box__img u-scale-svg__img">
                  <use xlink:href="/assets/img/sprite.main.svg#icon-set--plus-box"></use>
                </svg>
              </div>
            </div>
            <span class="o-box__text">Mijn verzekering en mijn gegevens</span>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="o-box o-box--tile o-box--img-right js-equal-height">
        <div class="row no-gutters">
          <div class="col-md-14">
            <div class="o-box__body">
              <h3 class="o-box__heading h4">
                Je hebt nog € 139,46 van je eigen risico over
              </h3>
              <p>Van € 385 totaal in 2017</p>
              <a href="#" class="c-btn c-btn--link c-btn--wrap btn btn-link">
                Bekijk details eigen risico
                <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="o-box__img-container o-box__img-container--right u-hidden-sm-down col-xs-10">
            <svg class="o-box__curved-divider u-scale-svg__img" preserveAspectRatio="xMinYMid">
              <use xlink:href="/assets/img/sprite.main.svg#curved-divider-left"></use>
            </svg>
            <img class="o-box__img" src="/assets/img/wallet-with-hand.svg" alt="">
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-12">

      <div class="o-box o-box--tile o-box--img-right js-equal-height">
        <div class="row no-gutters">
          <div class="col-md-14">
            <div class="o-box__body">
              <h3 class="o-box__heading h4">
                Uw laatste bericht van 24 april 2017
              </h3>
              <div class="u-margin-bottom-small">
                <a href="#">Betalingsregeling zorgkosten (pdf)</a>
              </div>
              <a href="#" class="c-btn c-btn--link c-btn--wrap btn btn-link">
                Bekijk ontvangen berichten
                <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="o-box__img-container o-box__img-container--right u-hidden-sm-down col-xs-10">
            <svg class="o-box__curved-divider u-scale-svg__img" preserveAspectRatio="xMinYMid">
              <use xlink:href="/assets/img/sprite.main.svg#curved-divider-left"></use>
            </svg>

            <img class="o-box__img" src="/assets/img/envelope-open.svg" alt="">
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="o-box o-box--border o-box--border-blue-8 js-equal-height">
        <div class="o-box__body">
          <h3 class="o-box__heading h4">U heeft geen aanvullende verzekering?</h3>
          <p>Met ZieZo aanvullend 1 of 2 bent u goed verzekerd voor onverwacht hoge kosten.</p>
          <a href="" class="c-btn c-btn--normal btn">Voeg ZieZo 1 of 2 toe aan u polis</a>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="o-box o-box--border o-box--border-blue-8 js-equal-height">
        <div class="o-box__body">
          <h3 class="o-box__heading h4">Wordt uw kind bijna 12?</h3>
          <p>Wilt u zorgzaken blijven regelen voor uw kind? Met een machtiging is het snel geregeld.</p>
          <a href="" class="c-btn c-btn--normal btn">Inzage persoonsgegevens regelen</a>
        </div>
      </div>
    </div>
  </div>

  <div class="o-box">
    <div class="o-box__body">
      <h3 class="o-box__heading h6">Handige links</h3>
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <ul class="c-list c-list--icon c-list--icon-bullet">
            <li class="c-list__item"><a href="#" class="c-list__link">Gespreid betalen eigen risico</a></li>
            <li class="c-list__item"><a href="#" class="c-list__link">Zorgverlener zoeken</a></li>
            <li class="c-list__item"><a href="#" class="c-list__link">Hulp bij zorg regelen</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-8">
          <ul class="c-list c-list--icon c-list--icon-bullet">
            <li class="c-list__item"><a href="#" class="c-list__link">Zorgpas aanvragen</a></li>
            <li class="c-list__item"><a href="#" class="c-list__link">Zorgverlener zoeken</a></li>
            <li class="c-list__item"><a href="#" class="c-list__link">Hulp bij zorg regelen</a></li>
          </ul>
        </div>
        <div class="clearfix u-hidden-md-up"></div>
        <div class="col-sm-12 col-md-8">
          <ul class="c-list c-list--icon c-list--icon-bullet">
            <li class="c-list__item"><a href="#" class="c-list__link">Kraampakket aanvragen</a></li>
            <li class="c-list__item"><a href="#" class="c-list__link">Naar buitenland gaan</a></li>
            <li class="c-list__item"><a href="#" class="c-list__link">111-Vakantieformulier maken</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
