//   ========================================================================
//   #BG-FILLER
//   ========================================================================

//
// Col with background color which spans full-height
//

@import "@zilverenkruis/settings/_settings";
@import "_o-bg-filler.settings";

.o-bg-filler__col--blue-1 {
  background-color: $o-bg-filler-blue-1-background-color;
}

.o-bg-filler__image--blue-1 {
  background: left url(asset-url($o-bg-filler-left-blue-1-background-image)) repeat-y;
}

.o-bg-filler__image--col-md-7-up {
  @include media-breakpoint-up(md) {
    background-size: percentage((7 / $global-grid-columns));
  }
}

.o-bg-filler__image--col-lg-6-up {
  @include media-breakpoint-up(lg) {
    background-size: percentage((6 / $global-grid-columns));
  }
}
