<h2>Pagination</h2>

<h3>First item</h3>
<nav aria-label="Paginering">
  <ul class="c-pagination">
    <li class="c-pagination__item u-hidden-xs-up">
      <a class="c-pagination__link" href="#" aria-label="Volgende">
        <i class="u-icon u-icon-arrow-left u-color-pink-3" aria-hidden="true"></i>
        <span class="u-hidden-xs-down">Vorige</span>
      </a>
    </li>
    <li class="c-pagination__item is-active">
      <span class="c-pagination__link">
        1
        <span class="sr-only">(huidige pagina)</span>
      </span>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">2</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">3</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">4</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">5</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">6</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">7</a>
    </li>
    <li class="c-pagination__item" aria-hidden="true">
      <span class="c-pagination__link">...</span>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">68</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#" aria-label="Volgende">
        <span class="u-hidden-xs-down">Volgende</span>
        <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>

<h3>Last item</h3>
<nav aria-label="Paginering">
  <ul class="c-pagination">
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#" aria-label="Vorige">
        <i class="u-icon u-icon-arrow-left u-color-pink-3" aria-hidden="true"></i>
        <span class="u-hidden-xs-down">Vorige</span>
      </a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">1</a>
    </li>
    <li class="c-pagination__item" aria-hidden="true">
      <span class="c-pagination__link">...</span>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">62</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">63</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">64</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">65</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">66</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">67</a>
    </li>
    <li class="c-pagination__item is-active">
      <span class="c-pagination__link">
        68
        <span class="sr-only">(huidige pagina)</span>
      </span>
    </li>
    <li class="c-pagination__item u-hidden-xs-up">
      <a class="c-pagination__link" href="#" aria-label="Volgende">
        <span class="u-hidden-xs-down">Volgende</span>
        <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>

<h3>Middle item</h3>
<nav aria-label="Paginering">
  <ul class="c-pagination">
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#" aria-label="Vorige">
        <i class="u-icon u-icon-arrow-left u-color-pink-3" aria-hidden="true"></i>
        <span class="u-hidden-xs-down">Vorige</span>
      </a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">1</a>
    </li>
    <li class="c-pagination__item" aria-hidden="true">
      <span class="c-pagination__link">...</span>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">43</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">44</a>
    </li>
    <li class="c-pagination__item is-active">
      <span class="c-pagination__link">
        45
        <span class="sr-only">(huidige pagina)</span>
      </span>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">46</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link u-hidden-xs-down" href="#">47</a>
    </li>
    <li class="c-pagination__item" aria-hidden="true">
      <span class="c-pagination__link">...</span>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">68</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#" aria-label="Volgende">
        <span class="u-hidden-xs-down">Volgende</span>
        <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
