<h1 class="tp-subpage__page-title">Dropdowns</h1>

<h2>Dropdown</h2>
<div class="c-dropdown dropdown">
  <button class="c-btn c-btn--primary btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecteer persoon...
    <i class="u-icon u-icon-arrow-down" aria-hidden="true"></i>
  </button>

  <ul class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="c-dropdown__item c-dropdown__item--divider">
      <a class="c-dropdown__link" href="#">
        <div class="o-layout--table o-layout--va-middle">
          <div class="o-layout__item--cell">
            <div class="c-dropdown__header">J.M. de Vries</div>
            21-09-1972
          </div>
          <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
            <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </li>
    <li class="c-dropdown__item c-dropdown__item--divider">
      <a class="c-dropdown__link" href="#">
        <div class="o-layout--table o-layout--va-middle">
          <div class="o-layout__item--cell">
            <div class="c-dropdown__header">A.J.R. de Vries-Peters</div>
            10-05-1975
          </div>
          <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
            <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </li>
    <li class="c-dropdown__item c-dropdown__item--divider">
      <a class="c-dropdown__link" href="#">
        <div class="o-layout--table o-layout--va-middle">
          <div class="o-layout__item--cell">
            <div class="c-dropdown__header">J.M. de Vries</div>
            21-09-1972
          </div>
          <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
            <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

<h2>Dropdown block</h2>

<div class="col-6-sm">

  <div class="c-dropdown dropdown">
    <button class="c-btn c-btn--primary btn btn-block u-text-align-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="pull-left">Selecteer persoon...</span>
      <i class="u-icon u-icon-arrow-down" aria-hidden="true"></i>
    </button>

    <ul class="c-dropdown__menu c-dropdown__menu--block dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="c-dropdown__item c-dropdown__item--divider">
        <a class="c-dropdown__link" href="#">
          <div class="o-layout--table o-layout--va-middle">
            <div class="o-layout__item--cell">
              <div class="c-dropdown__header">J.M. de Vries</div>
              21-09-1972
            </div>
            <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
              <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </li>
      <li class="c-dropdown__item c-dropdown__item--divider">
        <a class="c-dropdown__link" href="#">
          <div class="o-layout--table o-layout--va-middle">
            <div class="o-layout__item--cell">
              <div class="c-dropdown__header">A.J.R. de Vries-Peters</div>
              10-05-1975
            </div>
            <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
              <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </li>
      <li class="c-dropdown__item c-dropdown__item--divider">
        <a class="c-dropdown__link" href="#">
          <div class="o-layout--table o-layout--va-middle">
            <div class="o-layout__item--cell">
              <div class="c-dropdown__header">J.M. de Vries</div>
              21-09-1972
            </div>
            <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
              <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>
