//   ========================================================================
//   #LIST
//   ========================================================================

//
// List groups can display not only simple lists of elements, but complex ones
// with custom content.
//

@import "c-list-group.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/list-group";

.c-list-group__item {
  border: 0;
  border-top: 1px solid $c-list-group-item-border-top-color;
  padding: $global-spacing-unit-base 0;

  &:first-child {
    border-radius: 0;
    border-top: 0;
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.c-list-group__text {
  line-height: inherit;
  margin-bottom: $global-spacing-unit-small;
}

.c-list-group--border {
  .c-list-group__heading {
    font-weight: 700;
    margin-bottom: 0;
  }
}
