---
title: Factuur voor uw zorgkosten
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<div class="container">

  <h1 class="c-page-title">Factuur voor uw zorgkosten</h1>

  <a href="#" class="c-btn c-btn--link btn btn-link u-margin-bottom">
    <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
    Terug naar financieel overzicht
  </a>

  <div class="c-panel-group panel-group">
    <div class="c-panel c-panel--table c-panel--large c-panel--bare panel">
      <div class="c-panel__heading panel-heading">

        <div class="c-panel__title panel-title">
          <i class="u-icon-svg u-icon-svg--inline" aria-hidden="true">
            <div class="u-scale-svg u-scale-svg--square">
              <svg class="o-box__img u-scale-svg__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--heart-plus"></use>
              </svg>
            </div>
          </i>
          Factuurdatum: 01-01-2017
        </div>

      </div>

      <div class="c-panel__collapse panel-collapse collapse in">

        <div class="c-panel__body panel-body">

          <div class="c-panel__body u-no-whitespace u-font-size-small panel-body">

            <div class="c-alert c-alert--danger alert" role="alert">
              Deze factuur heeft een 2de herinnering
            </div>

            <div class="row">
              <div class="col-sm-12">
                <dl class="c-list c-list--description u-pull-left-sm-up">
                  <div class="c-list__box">
                    <dt class="c-list__item--term">Periode premie</dt>
                    <dd class="c-list__item--description">van 01-10-2018 tot 01-11-2017</dd>
                  </div>
                  <div class="c-list__box">
                    <dt class="c-list__item--term">Omschrijving</dt>
                    <dd class="c-list__item--description">Terugberekening zorgkosten</dd>
                  </div>
                </dl>
              </div>
              <div class="col-sm-12">
                <div class="u-pull-right-sm-up">
                <div class="clearfix">
                  <div class="h5 u-margin-top-none text-right u-hidden-xs-down">
                    <span class="label-nogtebetalenontvangen">
                      Opgenomen in betalingsregeling
                    </span>
                    <span id="factuur-openstaandbedrag">
                      €&nbsp;108,66
                    </span>
                  </div>
                  <div class="u-hidden-sm-up u-margin-bottom-small ">
                    <div class="c-list__box">
                      <dt class="c-list__item--term">Opgenomen in betalingsregeling</dt>
                      <dd class="c-list__item--description">€&nbsp;108,66</dd>
                    </div>
                  </div>
                </div>
                  <div class="clearfix">
                    <a href="#" class="c-btn c-btn--normal u-pull-right-sm-up btn">
                      Direct naar betalen
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <h2 class="h5">De factuur is opgebouwd uit</h2>

            <div class="c-panel-group panel-group" id="accordion-factuur" role="tablist" aria-multiselectable="true">
              <div class="c-panel c-panel--table c-panel--normal c-panel--no-border c-panel--collapse panel">

                <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-factuur-1" data-toggle="collapse" data-parent="#accordion-factuur" data-target="#collapse-factuur-1" aria-expanded="false" aria-controls="collapse-factuur-1">

                  <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
                  <div class="c-panel__title c-panel__title--icon-left u-font-size-small panel-title">
                    <div class="c-panel__row c-panel__row--va row">
                      <div class="c-panel__cell c-panel__cell--body col-xs-13 col-sm-9">
                        <span class="c-panel__cell-content">Ziekenhuis / Specialist</span>
                      </div>
                      <div class="c-panel__cell c-panel__cell--body col-sm-9 u-hidden-xs-down">
                        <span class="c-panel__cell-content">Y. de Verzekerde</span>
                      </div>
                      <div class="c-panel__cell c-panel__cell--body col-xs-11 col-sm-6">
                        <span class="c-panel__cell-content">
                          <span class="pull-right">
                            € 9000,00
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>

                <div id="collapse-factuur-1" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-factuur-1">
                  <div class="c-panel__body c-panel__body--blue-1 panel-body u-font-size-small">
                    <dl class="c-list c-list--description dl-horizontal u-margin-bottom-none">
                      <dt class="c-list__item c-list__item--term">Verzekerde</dt>
                      <dd class="c-list__item c-list__item--description">X. de Verzekerde (21-01-1998)</dd>
                      <dt class="c-list__item c-list__item--term">Behandeldatum</dt>
                      <dd class="c-list__item c-list__item--description">01-01-2018 t/m 01-01-2018</dd>
                      <dt class="c-list__item c-list__item--term">Omschrijving</dt>
                      <dd class="c-list__item c-list__item--description">Medicijn (geneesmiddelen)</dd>
                      <dt class="c-list__item c-list__item--term">Ingediend door</dt>
                      <dd class="c-list__item c-list__item--description">Zorgverlener</dd>
                    </dl>
                  </div>
                </div>
              </div>

              <div class="c-panel c-panel--table c-panel--normal c-panel--no-border c-panel--collapse panel">

                <div class="c-panel__heading panel-heading collapsed" role="tab" id="heading-factuur-2" data-toggle="collapse" data-parent="#accordion-factuur" data-target="#collapse-factuur-2" aria-expanded="false" aria-controls="collapse-factuur-2">

                  <i class="c-panel__icon u-icon-arrow-down" aria-hidden="true"></i>
                  <div class="c-panel__title c-panel__title--icon-left u-font-size-small panel-title">
                    <div class="c-panel__row c-panel__row--va row">
                      <div class="c-panel__cell c-panel__cell--body col-xs-13 col-sm-9">
                        <span class="c-panel__cell-content">Medicijnen / (geneesmiddelen)</span>
                      </div>
                      <div class="c-panel__cell c-panel__cell--body col-sm-9 u-hidden-xs-down">
                        <span class="c-panel__cell-content">Y. de Verzekerde</span>
                      </div>
                      <div class="c-panel__cell c-panel__cell--body col-xs-11 col-sm-6">
                        <span class="c-panel__cell-content">
                          <span class="pull-right u-text-success">
                            - € 1500,00
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>

                <div id="collapse-factuur-2" class="c-panel__collapse panel-collapse collapse" role="tabpanel" aria-labelledby="heading-factuur-2">
                  <div class="c-panel__body c-panel__body--blue-1 panel-body u-font-size-small">
                    <dl class="c-list c-list--description dl-horizontal u-margin-bottom-none">
                      <dt class="c-list__item c-list__item--term">Verzekerde</dt>
                      <dd class="c-list__item c-list__item--description">X. de Verzekerde (21-01-1998)</dd>
                      <dt class="c-list__item c-list__item--term">Behandeldatum</dt>
                      <dd class="c-list__item c-list__item--description">01-01-2018 t/m 01-01-2018</dd>
                      <dt class="c-list__item c-list__item--term">Omschrijving</dt>
                      <dd class="c-list__item c-list__item--description">Medicijn (geneesmiddelen)</dd>
                      <dt class="c-list__item c-list__item--term">Ingediend door</dt>
                      <dd class="c-list__item c-list__item--description">Zorgverlener</dd>
                    </dl>
                  </div>
                </div>
              </div>

              <div class="c-panel c-panel--normal c-panel--no-border panel">
                <div class="c-panel__body c-panel__body--blue-1 c-panel__body--no-heading panel-body">
                  <strong class="pull-left">Totaal factuurbedrag:</strong>
                  <strong class="pull-right">€ 11.500,00</strong>
                </div>
              </div>

            </div>

            <h2 class="h5">Al betaald door u</h2>
            <div class="u-margin-bottom">
              <div class="row">
                <div class="col-xs-12 col-md-16 col-lg-18">
                  <span>Betaald door u op: 01-01-2017</span>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-6">
                  <span class="u-text-success pull-right">- € 7000,00</span>
                </div>
              </div>
              <div class="u-hidden-sm-up">
                <div class="clearfix">
                  <span class="pull-right">__________+</span>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <strong>Nog te betalen</strong>
                  </div>
                  <div class="col-xs-12">
                    <strong class="pull-right">€ 5.000,00</strong>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12 col-md-16 col-lg-18">
                <h2 class="h5">Betaalgegevens</h2>
                <p>Maakt u het bedrag zelf over? Vermeld dan het betalingskenmerk bij uw betaling.</p>
                <dl class="c-list c-list--description">
                  <div class="c-list__box">
                    <dt class="c-list__item--term">Datum factuur</dt>
                    <dd class="c-list__item--description">01-01-2018</dd>
                  </div>
                  <div class="c-list__box">
                    <dt class="c-list__item--term">Vervaldatum factuur</dt>
                    <dd class="c-list__item--description">02-02-2018</dd>
                  </div>
                  <div class="c-list__box">
                    <dt class="c-list__item--term">Betalingskenmerk</dt>
                    <dd class="c-list__item--description">12334 6789 2345 1223</dd>
                  </div>
                  <div class="c-list__box">
                    <dt class="c-list__item--term">Incasso</dt>
                    <dd class="c-list__item--description">Acceptgiro</dd>
                  </div>
                </dl>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="clearfix">
                  <div class="u-pull-right-sm-up">
                    <div class="h5 u-pull-right-sm-up">Te betalen: € 5.000,00</div>
                  </div>
                </div>
                <div class="clearfix">
                  <a href="#" class="c-btn c-btn--primary u-pull-right-sm-up u-margin-bottom-tiny btn">
                    Betaal veilig via iDeal
                  </a>
                  <button class="c-btn c-btn--outline c-btn--outline-primary u-pull-right-sm-up u-margin-bottom-tiny btn" type="button" data-toggle="modal" data-target="#modal-betaling-uitstellen">
                    Betaling uitstellen
                  </button>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

  <a href="#" class="c-btn c-btn--link btn btn-link u-margin-bottom">
    <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
    Terug naar financieel overzicht
  </a>

</div>

<!-- modal-betaling-uitstellen -->
<div class="c-modal modal fade" id="modal-betaling-uitstellen" tabindex="-1" role="dialog" aria-labelledby="modal-title-betaling-uitstellen">
    <div class="c-modal__dialog modal-dialog" role="document">
      <div class="c-modal__content modal-content">
        <div class="c-modal__header modal-header">
          <button type="button" class="c-modal__close close" data-dismiss="modal" aria-label="Sluiten">
            <i class="u-icon u-icon-cross" aria-hidden="true"></i>
          </button>
          <h3 class="c-modal__title modal-title" id="modal-title-betaling-uitstellen">Uitstellen incassodatum</h3>
        </div>
        <div class="c-modal__body modal-body">
          <p>Als de incasso op die datum niet uitkomt, kunt u eenmalig de incassodatum uitstellen.</p>
          <p><strong>Uw huidige incassodatum: 01-01-2018</strong></p>
          <h4 class="h5">Kies een andere datum</h4>
          <p>U kunt maximaal 30 dagen uitstellen. <br> Kies een andere datum tussen: xx - xx - xxxx en xx - xx - xxxx</p>

          <form class="o-form clearfix">
            <div class="o-box o-box--blue-6 u-margin-bottom-small">
              <div class="o-box__body">
                <div class="row">
                  <label for="nieuwe-datum" class="u-color-white">Nieuwe incassodatum:</label>
                  <div class="c-selectinput o-box--white u-padding-right-large">
                    <select class="c-selectinput__select" name="nieuwe-datum" id="nieuwe-datum" required>
                      <option value="" selected="true" disabled="disabled">Selecteer een datum</option>
                      <option value="">Woensdag 31 januari</option>
                      <option value="">Donderdag 1 februari</option>
                      <option value="">Vrijdag 2 februari</option>
                      <option value="">Zaterdag 3 februari</option>
                      <option value="">Zondag 4 februari</option>
                      <option value="">Maandag 5 februari</option>
                      <option value="">Dinsdag 6 februari</option>
                      <option value="">Woensdag 7 februari</option>
                      <option value="">Donderdag 8 februari</option>
                      <option value="">Vrijdag 9 februari</option>
                      <option value="">Zaterdag 10 februari</option>
                      <option value="">Zondag 11 februari</option>
                      <option value="">Maandag 12 februari</option>
                      <option value="">Dinsdag 13 februari</option>
                      <option value="">Woensdag 14 februari</option>
                      <option value="">Donderdag 15 februari</option>
                      <option value="">Vrijdag 16 februari</option>
                      <option value="">Zaterdag 17 februari</option>
                      <option value="">Zondag 18 februari</option>
                      <option value="">Maandag 19 februari</option>
                      <option value="">Dinsdag 20 februari</option>
                      <option value="">Woensdag 21 februari</option>
                      <option value="">Donderdag 22 februari</option>
                      <option value="">Vrijdag 23 februari</option>
                      <option value="">Zaterdag 24 februari</option>
                      <option value="">Zondag 25 februari</option>
                      <option value="">Maandag 26 februari</option>
                      <option value="">Dinsdag 27 februari</option>
                      <option value="">Woensdag 28 februari</option>
                      <option value="">Donderdag 1 maart</option>
                      <option value="">Vrijdag 2 maart</option>                          
                    </select>
                    <i class="u-icon u-icon-arrow-down u-icon-va u-pos-top-right u-color-pink-3 u-padding-right-tiny" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-alert c-alert--danger alert" role="alert">Er is iets mis gegaan</div>            
            <div class="row">
                <div class="col-sm-24">
                  <div class="control-group">
                      <button type="button" class="c-btn c-btn--normal btn-block btn">Annuleer</button>
                      <!-- <button type="submit" class="c-btn c-btn--primary btn btn-block pull-right">Stel nieuwe datum in</button> -->
                      <!-- $('#modal-betaling-uitstellen').modal('hide')-->
                  </div>
                </div>
            </div>
            <!-- <div class="row">              
                <div class="col-sm-24 text-right">
                        <br />
                        <span role="button" tabindex="0" aria-pressed="false" data-dismiss="modal" aria-label="Sluiten" >
                            Annuleer
                        </span>
                    </p>
                </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
