<h2>Examples</h2>
<button type="button" class="c-btn c-btn--normal btn">Normal</button>
<button type="button" class="c-btn c-btn--primary btn">Primary</button>
<button type="button" class="c-btn c-btn--success btn">Success</button>
<button type="button" class="c-btn c-btn--danger btn">Danger</button>
<button type="button" class="c-btn c-btn--warning btn">Warning</button>
<button type="button" class="c-btn c-btn--info btn">Info</button>
<button type="button" class="c-btn c-btn--light btn">Light</button>
<button type="button" class="c-btn c-btn--dark btn">Dark</button>

<h2>Link button</h2>
<p>De-emphasize a button by making it not look like one</p>
<button type="button" class="c-btn c-btn--link btn btn-link">
  <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
  link button
</button>

</br>

<button type="button" class="c-btn c-btn--link btn btn-link">
  link button
  <i class="c-btn__icon u-icon u-icon-arrow-up" aria-hidden="true"></i>
</button>

</br>

<div class="o-box o-box--blue-6">
  <div class="o-box__body">
    <button type="button" class="c-btn c-btn--link c-btn--link-white btn btn-link">
      <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
      White link button
    </button>
  </div>
</div>

<h2>Button with icon</h2>
<button type="button" class="c-btn c-btn--normal btn">
  <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
   Button with icon
</button>
<a href="#" class="c-btn c-btn--primary btn" role="button">
  Button with icon
  <i class="c-btn__icon u-icon u-icon-arrow-right" aria-hidden="true"></i>
</a>

<h2>Outline buttons</h2>
<p>Used in combination with normal button to go back / alternate action</p>
<button type="button" class="c-btn c-btn--outline c-btn--outline-normal btn">Normal</button>
<button type="button" class="c-btn c-btn--outline c-btn--outline-primary btn">Primary</button>

<h2>Toggle button</h2>
<p>Button which toggles a collapse element</p>
<button type="button" class="c-btn c-btn--link c-btn--toggle btn btn-link collapsed"
  data-target="#collapseFilters" data-toggle="collapse" data-open="Minder filters"
  data-close="Meer filters" aria-expanded="true" aria-controls="collapseFilters">

  <i class="c-btn__icon c-btn__icon--toggle u-icon u-icon-arrow-up" aria-hidden="true"></i>
  <span class="sr-only">Toon of verberg filters</span>
</button>

<div class="collapse" id="collapseFilters">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Error, tempore cumque similique modi sunt perspiciatis rerum provident architecto ipsum sed maxime et omnis cupiditate ullam deleniti vitae nisi debitis necessitatibus?</p>
</div>

<h2>Button tags</h2>
<p>
  The <code>.c-btn</code> classes are designed to be used with the
  <code>button</code> element. However, you can also use these classes on
  <code>a</code> or <code>input</code> elements (though some browsers may apply
  a slightly different rendering). When using button classes on <code>a</code>
  elements that are used to trigger in-page functionality (like collapsing content),
  rather than linking to new pages or sections within the current page, these links
  should be given a <code>role="button"</code> to appropriately convey their purpose to
  assistive technologies such as screen readers.</p>

<a href="#" class="c-btn c-btn--normal btn" role="button">Link</a>
<button class="c-btn c-btn--normal btn" type="submit">Button</button>
<input class="c-btn c-btn--normal btn" type="button" value="Input">
<input class="c-btn c-btn--normal btn" type="submit" value="Submit">

<h2>Sizes</h2>
<p>
  <button type="button" class="c-btn c-btn--primary c-btn--large btn">Large button</button>
  <button type="button" class="c-btn c-btn--normal c-btn--large btn">Large button</button>
</p>

<div style="max-width:400px">
  <button type="button" class="c-btn c-btn--normal btn-block btn">Block level button</button>
  <button class="c-btn c-btn--primary btn btn-block u-text-align-right" type="button">
    <span class="pull-left">Selecteer persoon...</span>
    <i class="c-btn__icon u-icon u-icon-arrow-down" aria-hidden="true"></i>
  </button>
</div>

<h2>Active state</h2>
<p>
  Buttons will appear pressed (with a darker background, darker border,
  and inset shadow) when active. There’s no need to add a class to <code>button</code>
  as they use a pseudo-class. However, you can still force the same active appearance
  with <code>.active</code> (and include the <code>aria-pressed="true"</code> attribute)
  should you need to replicate the state programmatically.
</p>
<button type="button" class="c-btn c-btn--normal active btn" aria-pressed="true">Normal</button>
<button type="button" class="c-btn c-btn--primary active btn" aria-pressed="true">Primary</button>

<h2>Disabled state</h2>
<p>
  Make buttons look inactive by adding the disabled boolean attribute to any <code>button</code> element.
</p>
<button type="button" class="c-btn c-btn--normal btn" disabled>Primary button</button>
<button type="button" class="c-btn c-btn--primary btn" disabled>Button</button>

<p>
  buttons using the <code>a</code> element behave a bit different:
</p>

<ul class="c-list c-list--icon c-list--icon-bullet">
  <li class="c-list__item">
    <code>a</code>'s don’t support the disabled attribute, so you must add the <code>.disabled</code>
    class to make it visually appear disabled.
  </li>
  <li class="c-list__item">
    Some future-friendly styles are included to disable all pointer-events on anchor buttons.
    In browsers which support that property, you won’t see the disabled cursor at all.
  </li>
  <li class="c-list__item">
    Disabled buttons should include the <code>aria-disabled="true"</code>
    attribute to indicate the state of the element to assistive technologies.
  </li>
</ul>

<a href="#" class="c-btn c-btn--normal btn disabled" role="button" aria-disabled="true">Primary link</a>
<a href="#" class="c-btn c-btn--primary btn disabled" role="button" aria-disabled="true">Link</a>

<h2>Button group</h2>

<div class="c-btn-group" data-toggle="buttons">
  <label class="c-btn-group__item c-btn c-btn--tile c-btn--tile-blue btn active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label>
  <label class="c-btn-group__item c-btn c-btn--tile c-btn--tile-blue btn">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
  </label>
  <label class="c-btn-group__item c-btn c-btn--tile c-btn--tile-blue btn">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
  </label>
</div>

<h2>Tab buttons</h2>

<div class="o-box u-color-blue-1-bg">
  <div class="o-box__body">
    <div class="c-tab">
      <ul class="c-tab__toggle list-inline" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>
        <li role="presentation">
          <a href="#profile" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li role="presentation">
          <a href="#messages" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
        </li>
        <li role="presentation">
          <a href="#settings" class="c-tab__toggle c-btn c-btn--tile btn" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
        </li>
      </ul>

      <div class="c-tab__content tab-content">
        <div role="tabpanel" class="c-tab__pane tab-pane active" id="home">Home</div>
        <div role="tabpanel" class="c-tab__pane tab-pane" id="profile">Profile</div>
        <div role="tabpanel" class="c-tab__pane tab-pane" id="messages">Message</div>
        <div role="tabpanel" class="c-tab__pane tab-pane" id="settings">Settings</div>
      </div>
    </div>
  </div>
</div>

<div class="o-box">
  <div class="o-box__body">
    <div class="c-tab">
      <ul class="c-tab__toggle list-inline" role="tablist">
        <li role="presentation" class="active">
          <a href="#home2" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="home2" role="tab" data-toggle="tab">Home</a>
        </li>
        <li role="presentation">
          <a href="#profile2" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="profile2" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li role="presentation">
          <a href="#messages2" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="messages2" role="tab" data-toggle="tab">Messages</a>
        </li>
        <li role="presentation">
          <a href="#settings2" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="settings2" role="tab" data-toggle="tab">Settings</a>
        </li>
      </ul>

      <div class="c-tab__content tab-content">
        <div role="tabpanel" class="c-tab__pane tab-pane active" id="home2">Home</div>
        <div role="tabpanel" class="c-tab__pane tab-pane" id="profile2">Profile</div>
        <div role="tabpanel" class="c-tab__pane tab-pane" id="messages2">Message</div>
        <div role="tabpanel" class="c-tab__pane tab-pane" id="settings2">Settings</div>
      </div>
    </div>
  </div>
</div>

<div class="u-margin-bottom-huge"></div>
