//   ========================================================================
//   #HERO SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-hero-background-color: transparent;

$c-hero-heading-color: $fbto-color-blue-1;

$c-hero-title-color: $fbto-color-blue-1;