//   ========================================================================
//   #HERO
//   ========================================================================

@import "c-hero.settings";

.c-hero {
  background-color: $c-hero-background-color;
}

.c-hero__heading {
  color: $c-hero-heading-color;
}

.c-hero__title {
  color: $c-hero-title-color;
}
