//   ========================================================================
//   #HERO SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-hero-background-color: $color-turquoise-5 !default;

$c-hero-heading-color: $color-white !default;

$c-hero-title-color: $color-white !default;
