<h2>Basic example</h2>

<button class="c-btn c-btn--normal btn" type="button" data-toggle="modal" data-target="#modal-1">
  Modal 1
</button>

<!-- Modal 1 -->
<div class="c-modal modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-title-1">
  <div class="c-modal__dialog modal-dialog" role="document">
    <div class="c-modal__content modal-content">
      <div class="c-modal__header modal-header">
        <button type="button" class="c-modal__close close" data-dismiss="modal" aria-label="Sluiten">
          <i class="u-icon u-icon-cross" aria-hidden="true"></i>
        </button>
        <h4 class="c-modal__title modal-title" id="modal-title-1">Modal title</h4>
      </div>
      <div class="c-modal__body modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="c-modal__footer modal-footer">
        <button type="button" class="c-btn c-btn--outline btn" data-dismiss="modal">Annuleren</button>
        <button type="button" class="c-btn c-btn--normal btn">Opslaan</button>
      </div>
    </div>
  </div>
</div>
