//   ========================================================================
//   #HERO SETTINGS PROLIFE THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//
$progress-bg: $prolife-color-blue-2;

$c-progress-text-primary-color: $prolife-color-blue-4;

//$c-progress-multibar-border-right-color: $color-white !default;