//   ========================================================================
//   #HERO SETTINGS AVERO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//
$progress-bg: $avero-color-primary-1;

$c-progress-text-primary-color: $avero-color-primary-10;

//$c-progress-multibar-border-right-color: $color-white !default;

