//   ========================================================================
//   #PROGRESS SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

// Bootstrap settings
// ==========================================================================
$progress-bar-bg: $fbto-color-blue-0;

// Color settings
// ==========================================================================
$c-progress-bar-background-color: $fbto-color-blue-0;

$c-progress-bar-turquoise-4-background-color: $fbto-color-blue-0;
