//   ========================================================================
//   #PROGRESS SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

// Bootstrap settings
// ==========================================================================
$progress-bg: $color-blue-1 !default;

// Color settings
// ==========================================================================
$c-progress-bar-is-disabled: $progress-bg !default;
$c-progress-text-primary-color: $progress-bar-bg !default;

$c-progress-multibar-border-right-color: $color-white !default;

$c-progress-bar-turquoise-4-background-color: $color-turquoise-5 !default;
