//   ========================================================================
//   #PROGRESS
//   ========================================================================

//
// Provide up-to-date feedback on the progress of a workflow or action with
// simple yet flexible progress bars.
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "c-progress.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";

.c-progress {
  margin-bottom: $global-spacing-unit-tiny;
  box-shadow: none;
}

.c-progress__bar {
  box-shadow: none;

  &.is-disabled {
    background-color: $c-progress-bar-is-disabled;
  }
}

.c-progress__text--primary {
  color: $c-progress-text-primary-color;
}

.c-progress--tiny {
  height: $global-spacing-unit-tiny;
  margin-bottom: $global-spacing-unit-tiny;
}

.c-progress__text--right { float: right; }
.c-progress__text--left { float: left; }

// Contextual variants
// ==========================================================================
.c-progress--flex {
  display: flex;
  flex-wrap: wrap;

  .c-progress__bar {
    flex-grow: 1;
  }
}

.c-progress--multibar {
  .c-progress__bar {
    border-right: 1px solid $c-progress-multibar-border-right-color;

    &:last-of-type {
      border-right: none;
    }
  }
}

.c-progress__bar--width-2 {
  width: (100 / 24) * 2%;
}

// Color variants
// ==========================================================================

.c-progress__bar--turquoise-4 {
  background-color: $c-progress-bar-turquoise-4-background-color;
}
