//   ========================================================================
//   #NAV SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-nav-link-btn-hover-color: $color-white !default;
$c-nav-link-btn-hover-background-color: $color-blue-8 !default;
$c-nav-link-btn-hover-border-color: $color-blue-9 !default;

