//   ========================================================================
//   #NAVIGATION
//   ========================================================================

@import "c-nav.settings";

.c-nav {
  @extend .c-list;
  @extend .c-list--unstyled;

  @include clearfix;

  margin-bottom: 0;
}

.c-nav__link {
  text-decoration: none;
  display: block;
}

.c-nav__link--home {
  margin: 4px 10px;
}

.c-nav__link--btn {
  display: inline-block;
  padding: 4px 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  white-space: nowrap;
  line-height: $global-line-height-unitless;
  border-radius: $global-border-radius-base;
  text-decoration: none;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $c-nav-link-btn-hover-color;
    background-color: $c-nav-link-btn-hover-background-color;
    border-color: $c-nav-link-btn-hover-border-color;
    text-decoration: none;
  }
}

.c-nav__svg--home {
  height: 1.3em;
  display: block;
}

.c-nav__link--text {
  &:hover {
    text-decoration: underline;
  }
}

.c-nav__link--with-icon {
  &:hover {
    text-decoration: none;
  }
}

.c-nav__link--icon {

}

.c-nav--main {
  @include media-breakpoint-up(sm) {
    .c-nav__item {
      float: left;
    }
  }
}

.c-nav--top {
  .c-nav__item {
    float: right;
    padding-left: $global-spacing-unit-small;
    padding-right: $global-spacing-unit-small;
  }
}
