// ==========================================================================
// #LAYOUT
// ==========================================================================

//
// The layout object provides us with a column-style layout system. This file
// contains the basic structural elements, but classes could be complemented
// with utilities, for example:
//
// <div class="o-layout">
//    <div class="o-layout__item--cell">
//    </div>
//    <div class="o-layout__item--cell  u-padding-left-small">
//    </div>
// </div>
//

@import "@zilverenkruis/settings/_settings";
@import "@zilverenkruis/tools/_tools";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";

.o-layout__item--icon {
  @include icon-fw;
}

.o-layout__item--icon-2x {
  font-size: 2em;
}

.o-layout--va-top {
  vertical-align: top;
}

.o-layout--va-middle {
  vertical-align: middle;
}

.o-layout--va-bottom {
  vertical-align: bottom;
}

.o-layout--horizontal-gutter {
  margin-left: ($global-grid-gutter-width-base / -2);
  margin-right: ($global-grid-gutter-width-base / -2);

  .o-layout__item {
    padding-left: ($global-grid-gutter-width-base / 2);
    padding-right: ($global-grid-gutter-width-base / 2);
  }
}

.o-layout--vertical-gutter {
  margin-top: ($global-grid-gutter-width-base / -2);
  margin-bottom: ($global-grid-gutter-width-base / -2);

  .o-layout__item {
    padding-top: ($global-grid-gutter-width-base / 2);
    padding-bottom: ($global-grid-gutter-width-base / 2);
  }
}

.o-layout--gutter {
  @extend .o-layout--horizontal-gutter;
  @extend .o-layout--vertical-gutter;
}

.o-layout--no-gutter {
  margin-right: 0;
  margin-left: 0;

  .o-layout__item--flex {
    padding: 0;
  }
}

// Table layout
// ==========================================================================
// Useful to implement vertical alignment middle

.o-layout--table {
  display: table;
  width: 100%;
}

.o-layout__item--cell {
  display: table-cell;
  vertical-align: inherit;
}

// Flex layout
// ==========================================================================
// Useful to implement horizontal centering of content which is susceptible to
// change in width

.o-layout--flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($global-grid-gutter-width-base / -2);
  margin-left: ($global-grid-gutter-width-base / -2);

  .no-flexbox &,
  .flexboxtweener & {
    display: block;
  }
}

.o-layout__item--flex {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
  padding-right: ($global-grid-gutter-width-base / 2);
  padding-left: ($global-grid-gutter-width-base / 2);
  max-width: 100%;

  .no-flexbox &,
  .flexboxtweener & {
    float: left;
  }
}

// Inline-block layout
// ==========================================================================

.o-layout--inline-block {
  text-align: center;
}

.o-layout__item--inline-block {
  display: inline-block;
  vertical-align: middle;
}
