//   ========================================================================
//   #PANEL SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-panel-heading-table-color: $fbto-color-gray-5;

$c-panel-heading-color: $fbto-color-blue-1;

$c-panel-bare-icon-color: $fbto-color-blue-1;

$c-panel-body-blue-0-background-color : #fff;

$c-panel-heading-table-font-weight: 600;

$c-panel-heading-background-color: #fff;
$c-panel--no-border--collapse-border-bottom-width: 0px;

$c-panel-body-blue-1-background-color: #fff;
