//   ========================================================================
//   #PANEL SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-panel-border-color: $color-blue-3 !default;

$c-panel-collapse-border-bottom-color: $color-turquoise-2 !default;
$c-panel-body-blue-0-background-color: $color-blue-0 !default;
$c-panel-body-blue-1-background-color: $color-blue-1 !default;

$c-panel-heading-background-color: $color-blue-1 !default;
$c-panel-heading-border-color: $color-blue-1 !default;
$c-panel-heading-color: $color-blue-7 !default;

$c-panel-heading-table-background-color: $color-blue-1 !default;
$c-panel-heading-table-color: $color-blue-8 !default;
$c-panel-heading-table-font-weight: $global-font-weight !default;

$c-panel-collapse-border-top-color: $color-blue-3 !default;

$c-panel-cell-is-disabled-color: $color-blue-5 !default;

$c-panel-cell-in-query-color: $color-orange-1 !default;

$c-panel-footer-background-color: $color-blue-1 !default;

$c-panel-bare-border-color: $color-blue-2 !default;
$c-panel-bare-heading-background-color: $color-white !default;
$c-panel-bare-heading-border-color: $color-white !default;
$c-panel-bare-icon-color: $color-pink-3 !default;
$c-panel-bare-collapse-border-top-color: $color-blue-1 !default;

$c-panel-blue-0-border-color: $color-blue-2 !default;
$c-panel-blue-0-heading-background-color: $color-blue-0 !default;
$c-panel-blue-0-heading-border-color: $color-blue-2 !default;
$c-panel-blue-0-icon-color: $color-pink-3 !default;
$c-panel-blue-0-collapse-border-top-color: $color-blue-1 !default;
$c-panel-blue-0-footer-background-color: $c-panel-blue-0-heading-background-color !default;

$c-panel-inverse-color: $color-white !default;

$c-panel--no-border--collapse-border-bottom-width: 2px !default;
