///* ========================================================================
//   #PANEL
//   ======================================================================== */

//
// Sometimes you need to put your DOM in a box. E.g. for accordions use the
// panel component.
//

@import "c-panel.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/panels";

.c-panel {
  border-color: $c-panel-border-color;
  box-shadow: none;
  border-bottom-color: $c-panel-collapse-border-bottom-color;
}

.c-panel--collapse {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.c-panel--dashed {
  border-style: dashed
}

.c-panel--transparent {
  background-color: transparent;
}

.c-panel--table-head {
  border: none;
}

.c-panel__heading {
  position: relative;
  background-color: $c-panel-heading-background-color;
  border-color: $c-panel-heading-border-color;
  color: $c-panel-heading-color;

  @include box-spacing("small");

  &.collapsed .c-panel__icon {
    transform: rotate(-90deg);
  }

  .c-panel--collapse & {
    cursor: pointer;
  }

  .c-panel--no-collapse & {
    cursor: default;
  }

  .c-panel.is-disabled & {
    cursor: inherit;
  }
}

.c-panel__heading--table {
  background-color: $c-panel-heading-table-background-color;
  color: $c-panel-heading-table-color;
  font-size: 14px;
  font-weight: $c-panel-heading-table-font-weight;
  padding-top: 10px;
  padding-bottom: 10px;
}

.c-panel__icon {
  @include icon();
  @include icon-va();

  transform: rotate(0);
  transition: transform 0.35s;
}

.c-panel__icon--left {
  left: $global-spacing-unit-small;
}

.c-panel__icon--right {
  right: $global-spacing-unit-small;
}

.c-panel__icon--svg {
  width: 1em;
}

.c-panel__title {
  font-size: $global-font-size-base;
}

.c-panel__title--icon-left {
  padding-left: $global-spacing-unit-base;
}

.c-panel__title--icon-right {
  padding-right: $global-spacing-unit-base;
}

.c-panel__collapse {
  border-top-color: $c-panel-collapse-border-top-color;
}

.c-panel__body {
  @include box-spacing("small");

  position: relative;
}

.c-panel__body--no-heading {
  border-radius: $global-border-radius-base;
}

.c-panel__body--blue-0 {
  background-color: $c-panel-body-blue-0-background-color;
}

.c-panel__body--blue-1 {
  background-color: $c-panel-body-blue-1-background-color;
}

.c-panel__row {
  padding-left: 4px;
  padding-right: 4px;
}

.c-panel__row--va {
  @include centering(vertical, $flex: true);
}

.c-panel__row--va-sm-up {
  @include media-breakpoint-up("sm") {
    @include centering(vertical, $flex: true);
  }
}

.c-panel__row--va-md-up {
  @include media-breakpoint-up("md") {
    @include centering(vertical, $flex: true);
  }
}

.c-panel__cell {
  padding-left: 4px;
  padding-right: 4px;

  .c-panel.is-disabled & {
    color: $c-panel-cell-is-disabled-color;
  }
}

.c-panel__cell--header {
  font-size: 14px;
}

.c-panel__cell--in-query {
  color: $c-panel-cell-in-query-color;
}

.c-panel__cell--sm-left-down {
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}

.c-panel__cell--sm-right-down {
  @include media-breakpoint-down(sm) {
    text-align: right;
  }
}

.c-panel__cell--link-icon {
  @include icon-va();

  right: $global-spacing-unit-small;
}

// Bootstrap overrule
.panel-group {
  .panel-heading + .panel-collapse > .panel-body {
    border-top-color: inherit;
  }
}

.c-panel__footer {
  border-top: none;
  background-color: $c-panel-footer-background-color;

  @include box-spacing("small");
}

// Contextual variants
// ==========================================================================
.c-panel--bare {
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: $c-panel-bare-border-color;

  .c-panel__heading {
    background-color: $c-panel-bare-heading-background-color;
    border-color: $c-panel-bare-heading-border-color;
  }

  .c-panel__icon {
    color: $c-panel-bare-icon-color;
  }

  .c-panel__collapse {
    border-top-color: $c-panel-bare-collapse-border-top-color;
  }

  .c-panel__footer {
    border-top: none;
  }
}

.c-panel--link {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.c-panel--no-border {
  border-width: 0;

  &.c-panel--collapse {
    border-bottom-width: $c-panel--no-border--collapse-border-bottom-width;
  }
}

.c-panel--inverse {
  color: $c-panel-inverse-color;
}

// Color variants
// ==========================================================================
.c-panel--blue-0 {
  border-color: $c-panel-blue-0-border-color;

  .c-panel__heading {
    background-color: $c-panel-blue-0-heading-background-color;
    border-color: $c-panel-blue-0-heading-border-color;
  }

  .c-panel__icon {
    color: $c-panel-blue-0-icon-color;
  }

  .c-panel__collapse {
    border-top-color: $c-panel-blue-0-collapse-border-top-color;
  }

  .c-panel__footer {
    background-color: $c-panel-blue-0-footer-background-color;
  }
}

// Size variants
// ==========================================================================
.c-panel--small {
  .c-panel__heading,
  .c-panel__body,
  .c-panel__footer {
    @include box-spacing("tiny");
  }
}

.c-panel--large {
  .c-panel__heading,
  .c-panel__body,
  .c-panel__footer {
    @include box-spacing;
  }

  .c-panel__title--icon-left {
    padding-left: $global-spacing-unit-large;
  }

  .c-panel__title--icon-right {
    padding-right: $global-spacing-unit-large;
  }

  .c-panel__icon {
    font-size: (4em / 3);
  }

  .c-panel__icon--svg {
    width: (4em / 3);
  }
}

// Reset
.c-panel--normal {
  border-bottom-color: $c-panel-collapse-border-bottom-color;

  .c-panel__heading,
  .c-panel__body,
  .c-panel__footer {
    @include box-spacing("small");
  }

  .c-panel__heading {
    background-color: $c-panel-heading-background-color;
    border-color: $c-panel-heading-border-color;
    color: $c-panel-heading-color;
  }

  .c-panel__title--icon-left {
    padding-left: $global-spacing-unit-base;
  }

  .c-panel__title--icon-right {
    padding-right: $global-spacing-unit-base;
  }

  .c-panel__collapse {
    border-top-color: $c-panel-collapse-border-top-color;
  }

  .c-panel__icon {
    font-size: inherit;
  }

  .c-panel__icon--svg {
    width: 1em;
  }
}
