//   ========================================================================
//   #PANEL SETTINGS PROLIFE THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-panel-heading-table-background-color: $prolife-color-blue-2;

$c-panel-heading-table-color: $prolife-color-black-7;
$c-panel-heading-color: $prolife-color-black-7;

$c-panel-bare-icon-color: $prolife-color-green-5;


