//   ========================================================================
//   #PANEL SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//
$c-panel-cell-is-disabled-color:  $avero-color-primary-4;
$c-panel-heading-color: $avero-color-primary-8;
$c-panel-heading-table-background-color: $avero-color-secundary-9;
$c-panel-heading-table-color: $avero-color-primary-0;
$c-panel-bare-border-color: $avero-color-primary-0;
$c-panel-bare-icon-color: $avero-color-primary-8;
$c-panel-bare-collapse-border-top-color: $avero-color-primary-3;
