//   ========================================================================
//   #ELEMENT HEADING SETTINGS Avero THEME
//   ========================================================================

//
// `Theme element heading settings file` which overrules the
// `element heading settings file`.
//

$elements-heading-h1-color: $avero-color-primary-10;
$elements-heading-h2-color: $avero-color-primary-10;
$elements-heading-h4-color: $avero-color-secundary-10;
