//   ========================================================================
//   #ELEMENT HEADING SETTINGS Avero THEME
//   ========================================================================

//
// `Theme element heading settings file` which overrules the
// `element heading settings file`.
//

$elements-heading-h1-color: $fbto-color-blue-1;
$elements-heading-h2-color: $fbto-color-blue-1;
$elements-heading-h3-color: $fbto-color-blue-1;
$elements-heading-h4-color: $fbto-color-blue-1;
$elements-heading-h5-color: $fbto-color-blue-1;
$elements-heading-h6-color: $fbto-color-blue-1;
