//   ========================================================================
//   #HEADING
//   ========================================================================

//
// Shared styling for headings 1 through 6.
//

@import "_elements.heading.settings";

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $global-font-family-heading;
}

h1, .h1 {
  margin-top: 0;
  margin-bottom: $global-spacing-unit-base;
  color: $elements-heading-h1-color;
}

h2, .h2 {
  margin-top: 0;
  margin-bottom: $global-spacing-unit-small;
  color: $elements-heading-h2-color;
  font-weight: 400;
}

h3, .h3 {
  color: $elements-heading-h3-color;
  font-weight: 400;
}

h4, .h4 {
  color: $elements-heading-h4-color;
}

h5, .h5 {
  color: $elements-heading-h5-color;
}

h6, .h6 {
  color: $elements-heading-h6-color;
  margin-top: 0;
}
