//   ========================================================================
//   #ELEMENT HEADING SETTINGS
//   ========================================================================

//
// `Element heading settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$elements-heading-h1-color: $color-blue-9 !default;
$elements-heading-h2-color: $color-blue-8 !default;
$elements-heading-h3-color: $color-blue-7 !default;
$elements-heading-h4-color: $color-blue-9 !default;
$elements-heading-h5-color: $color-blue-6 !default;
$elements-heading-h6-color: $color-blue-9 !default;
