//   ========================================================================
//   #ELEMENT HEADING SETTINGS PROLIFE THEME
//   ========================================================================

//
// `Theme element heading settings file` which overrules the
// `element heading settings file`.
//

$elements-heading-h1-color: $prolife-color-blue-8;
$elements-heading-h2-color: $prolife-color-blue-8;
$elements-heading-h3-color: $prolife-color-blue-8;
$elements-heading-h4-color: $prolife-color-blue-8;