//   ========================================================================
//   #FONT-SMOOTHING
//   ========================================================================

//
// Enable font-smoothing (antialiased).
//

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // Firefox 25+
}
