footer.c-footer
  .container
    ul.c-list.c-list--pipe.u-margin-top.u-margin-bottom.u-font-size-small.text-center
      li.c-list__item
        a.c-list__link(href='#') disclaimer
      li.c-list__item
        a.c-list__link(href='#') privacy
      li.c-list__item
        a.c-list__link(href='#') cookies
