header.c-masthead
    .c-masthead__section-top.container
      .row
        .col-xs-12.col-sm-8.col-md-7
          a.c-masthead__logo-link(href="/" aria-label="Ga naar de homepage van klantdomein")
            span.c-masthead__logo-container.u-scale-svg
              svg.c-masthead__logo.u-scale-svg__img
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#logo-zk-with-pay-off")
        .col-xs-12.col-sm-16.col-md-17
          include ./nav-top.pug
    .c-masthead__section-bottom
      .container
        include ./nav-main.pug
