//- Navigation
//- mixin nav(item)
//-   if item.file
//-     a(href='/'+item.file.nav_path)
//-       if item.file.title
//-         | #{item.file.title}
//-       else
//-         | #{item.file.filename}
//-   else
//-     #{item.name}
//-   if item.children.length
//-     ul
//-       each childItem in item.children
//-         li
//-           +nav(childItem)

//- <Link> elements
mixin links(links)
  each link in links
    if !link.rel
      link(rel='stylesheet')&attributes(link)
    else
      link&attributes(link)

//- <script> elements
mixin scripts(scripts)
  each script in scripts
    script&attributes(script)
