nav.c-masthead__top-nav
  ul.c-nav.c-nav--top
    li.c-nav__item
      a.c-nav__link.c-nav__link--with-icon.u-color-pink-3(href="#")
        i.c-nav__link--icon.u-icon.u-icon-lock-open(aria-hidden="true")
        |
        |
        span.c-nav__link--text
          span.u-hidden-xs-down X. van der Wilg
          |  uitloggen
    li.c-nav__item
      a.c-nav__link(href="https://www.zilverenkruis.nl") Naar zilverenkruis.nl
