nav.c-masthead__bottom-nav
  ul.c-nav.c-nav--main
    li.c-nav__item.u-hidden-xs-down
      a.c-nav__link.c-nav__link--home(href="#")
        img.c-nav__svg.c-nav__svg--home(src="/assets/img/home.svg", alt="Home")
    li.c-nav__item.u-hidden-sm-up
      a.c-nav__link.c-nav__link--btn(href="#") Startpagina
    li.c-nav__item
      a.c-nav__link.c-nav__link--btn(href="#") Service & Contact
    li.c-nav__item
      a.c-nav__link.c-nav__link--btn(href="#") Chat met een medewerker
