if nav
  //- nav(class="collapse navbar-collapse" id="sg-nav--main")
  //-   ul(class="nav navbar-nav")
  //-     li #{nav.title}
  //-     each item in nav.siblings
  //-       li
  //-         +nav(item)
  .container
    .row
      .col-xs-24
        nav
          ul
            for item in nav.siblings
              li
                a(href=sibling.href)= sibling.title
                if sibling.children.length
                  ul
                    for child in sibling.children
                      li
                        a(href=child.href)= child.title

  .container
    .row
      .col-xs-24
        nav
          ul
            for sibling in nav.siblings
              li
                a(href=sibling.href)= sibling.title
                if sibling.children.length
                  ul
                    for child in sibling.children
                      li
                        a(href=child.href)= child.title
  //- style nav li.dropdown:hover .dropdown-menu { display: block; }
  //- .container
  //-   .row
  //-     .col-xs-24
  //-       if nav.parent.href
  //-         p Up:
  //-           a(href=nav.parent.href)=  nav.parent.title
  //-   .row
  //-     .col-xs-24
  //-       nav
  //-         ul.nav.nav-tabs
  //-           for sibling in nav.siblings
  //-             - liClasses = [];
  //-             if sibling.active
  //-               - liClasses.push('active');
  //-             if sibling.children.length
  //-               - liClasses.push('dropdown');
  //-               - aClasses = ['dropdown-toggle'];
  //-               if sibling.href
  //-                 unless sibling.active
  //-                   - aClasses.push('disabled'); // make menu links clickable
  //-               li(class=liClasses)
  //-                 a(class=aClasses data-toggle='dropdown' href=sibling.href
  //-                 data-target='#')= sibling.title
  //-                   span.caret
  //-                   ul.dropdown-menu
  //-                     for child in sibling.children
  //-                       li
  //-                         a(href=child.href)= child.title
  //-             else
  //-               li(class=liClasses)
  //-                 a(href=sibling.href)= sibling.title
