.sg-style-switcher
  select.sg-style-switcher__select.js-sg-style-select
    option.sg-style-switcher__option(value="zk") ZK
    option.sg-style-switcher__option(value="avero") Avero
    option.sg-style-switcher__option(value="fbto") FBTO
    option.sg-style-switcher__option(value="interpolis") Interpolis
    option.sg-style-switcher__option(value="ozf") OZF
    option.sg-style-switcher__option(value="prolife") Pro Life

