.snippet-group
  .snippet-header
    .snippet-demos
      each snippet in snippet_group
        if snippet.demo_file
          .snippet-demos
            div(class='snippet-demo-container demo-' + component_name + '__' + snippet.file)
