---
title: Betalingsregeling voor uw premie
template: klantdomein-subpage.pug
body_class: tp-subpage
---

<div class="container">

  <h1 class="c-page-title">Betalingsregeling voor uw premie</h1>

  <a href="#" class="c-btn c-btn--link btn btn-link u-margin-bottom">
    <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
    Terug naar financieel overzicht
  </a>

  <div class="c-panel-group panel-group">
    <div class="c-panel c-panel--table c-panel--large c-panel--bare panel">
      <div class="c-panel__heading panel-heading">

        <div class="c-panel__title panel-title">
          <i class="u-icon-svg u-icon-svg--inline" aria-hidden="true">
            <div class="u-scale-svg u-scale-svg--square">
              <svg class="o-box__img u-scale-svg__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--credit-card"></use>
              </svg>
            </div>
          </i>
          Startdatum: 01-01-2018
        </div>

      </div>

      <div class="c-panel__collapse panel-collapse collapse in">

        <div class="c-panel__body panel-body u-padding-none">
          <div class="c-tab">

            <div class="c-panel__body u-no-whitespace u-font-size-small panel-body">
              <ul class="c-tab__toggle u-hidden-md-up u-padding-top-small text-center list-inline" role="tablist">
                <li role="presentation" class="active">
                  <a href="#tab-termijnen" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="tab-termijnen" role="tab" data-toggle="tab">Termijnen</a>
                </li>
                <li role="presentation">
                  <a href="#tab-gegevens" class="c-tab__toggle c-btn c-btn--tile c-btn--tile-blue btn" aria-controls="tab-gegevens" role="tab" data-toggle="tab">Gegevens</a>
                </li>
              </ul>

              <div class="o-bg-filler__image--blue-1 container-fluid">
                <div class="row">

                  <div class="c-tab__content tab-content clearfix">
                    <div role="tabpanel" class="c-tab__pane u-shown-md-up tab-pane" id="tab-gegevens">

                      <div class="o-bg-filler__col--blue-1 col-xs-24 col-md-7 col-lg-6">
                        <div class="o-box o-box--in-grid">
                          <div class="o-box__body">
                            <h2 class="o-box__heading h5">Gegevens</h2>
                            <dl class="c-list c-list--description">
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Startdatum</dt>
                                <dd class="c-list__item--description">01-07-2017</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Eerstvolgende incasso</dt>
                                <dd class="c-list__item--description">10-11-2017</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Rekeningnummer</dt>
                                <dd class="c-list__item--description">1234 6789 5432 1100</dd>
                              </div>
                              <div class="c-list__box">
                                <dt class="c-list__item--term">Incassowijze</dt>
                                <dd class="c-list__item--description">Automatische incasso</dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="c-tab__pane u-shown-md-up tab-pane active" id="tab-termijnen">

                      <div class="col-xs-24 col-md-17 col-lg-18 u-color-white-bg">
                        <div class="o-box o-box--in-grid o-box--list">

                          <div class="o-box__body">

                            <div class="c-alert c-alert--warning alert" role="alert">
                              <strong>Let op:</strong> als u betalingsregeling heeft, betaalt u het termijnbedrag naast premie
                            </div>

                            <div class="o-box__heading h5 u-text-align-right">Nog te betalen: € 110,00</div>

                            <div class="c-progress c-progress--multibar c-progress--flex progress">
                              <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                              <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                              <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar progress-bar"></div>
                              <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                              <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                              <div class="c-progress__bar c-progress__bar--turquoise-4 c-progress__bar is-disabled progress-bar"></div>
                            </div>

                            <div class="clearfix u-margin-bottom">
                              <span class="c-progress__text pull-left">€ 110,00 al betaald</span>
                              <span class="c-progress__text pull-right">€ 220,00 totaal</span>
                            </div>

                            <h2 class="h5">Termijnen</h2>
                            <p>U heeft 3 van de 5 termijnen betaald</p>

                            <table class="c-table table">
                              <tbody>
                                <tr class="c-table__row c-table__row--head">
                                  <th class="c-table__cell c-table__head"></th>
                                  <th class="c-table__cell c-table__head">Datum van betaling</th>
                                  <th class="c-table__cell c-table__head">Bedrag</th>
                                </tr>
                                <tr class="c-table__row">
                                  <td class="c-table__cell"><i class="u-icon u-icon-clock" aria-hidden="true"></i></td>
                                  <td class="c-table__cell">10-12-2017</td>
                                  <td class="c-table__cell">€ 50,00</td>
                                </tr>
                                <tr class="c-table__row">
                                  <td class="c-table__cell"><i class="u-icon u-icon-clock" aria-hidden="true"></i></td>
                                  <td class="c-table__cell">10-12-2017</td>
                                  <td class="c-table__cell">€ 50,00</td>
                                </tr>
                                <tr class="c-table__row u-text-success">
                                  <td class="c-table__cell"><i class="u-icon u-icon-ok" aria-hidden="true"></i></td>
                                  <td class="c-table__cell">10-12-2017</td>
                                  <td class="c-table__cell">€ 50,00</td>
                                </tr>
                                <tr class="c-table__row u-text-success">
                                  <td class="c-table__cell"><i class="u-icon u-icon-ok" aria-hidden="true"></i></td>
                                  <td class="c-table__cell">10-12-2017</td>
                                  <td class="c-table__cell">€ 50,00</td>
                                </tr>
                                <tr class="c-table__row u-text-success">
                                  <td class="c-table__cell"><i class="u-icon u-icon-ok" aria-hidden="true"></i></td>
                                  <td class="c-table__cell">10-12-2017</td>
                                  <td class="c-table__cell">€ 50,00</td>
                                </tr>
                              </tbody>
                            </table>

                            <h2 class="h5">De regeling is opgebouwd uit</h2>

                            <div class="c-panel-group panel-group">
                              <div class="c-panel c-panel--table c-panel--no-border c-panel--normal panel">

                                <div class="c-panel__body c-panel__body--blue-0 c-panel__body--no-heading panel-body">
                                  <strong>Facturen</strong><br>
                                  Klik op de factuur om deze te kunnen bekijken en betalen
                                </div>

                              </div>

                              <a href="#" class="c-panel c-panel--link c-panel--collapse c-panel--table c-panel--no-border c-panel--normal panel">
                                <div class="c-panel__body c-panel__body--blue-0 c-panel__body--no-heading panel-body">
                                  <div class="c-panel__title--icon-right">
                                    <div class="c-panel__row c-panel__row--va-sm-up row">
                                      <div class="c-panel__cell col-xs-13 col-sm-7 col-md-6 col-lg-5">
                                        <span class="u-text-warning">2e Herinnering</span><br>
                                        <span class="c-panel__cell-content"><strong>15-03-2018</strong></span>
                                      </div>
                                      <div class="c-panel__cell col-xs-11 col-sm-6 col-md-5 col-lg-7">
                                        <span class="c-panel__cell-content pull-right u-pull-left-sm-up">Premie</span>
                                      </div>
                                      <div class="clearfix u-hidden-sm-up"></div>
                                      <div class="c-panel__cell col-xs-12 col-sm-6 col-md-4">
                                        <span class="c-panel__cell-content">Te betalen</span>
                                      </div>
                                      <div class="c-panel__cell col-xs-12 col-sm-5 col-md-4">
                                        <span class="c-panel__cell-content pull-right u-pull-left-sm-up"><strong>€ 100,00</strong></span>
                                      </div>
                                      <div class="c-panel__cell col-xs-4 col-md-5 col-lg-4 u-hidden-sm-down">
                                        <span class="c-panel__cell-content pull-right">
                                          <span class="u-font-weight-bold c-btn c-btn--link btn btn-link u-font-size-small">Bekijk factuur</span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <i class="c-panel__icon c-panel__icon--right u-icon-arrow-right" aria-hidden="true"></i>
                                </div>
                              </a>

                              <a href="#" class="c-panel c-panel--link c-panel--collapse c-panel--table c-panel--no-border c-panel--normal panel">
                                <div class="c-panel__body c-panel__body--blue-0 c-panel__body--no-heading panel-body">
                                  <div class="c-panel__title--icon-right">
                                    <div class="c-panel__row c-panel__row--va-sm-up row">
                                      <div class="c-panel__cell col-xs-13 col-sm-7 col-md-6 col-lg-5">
                                        <span class="c-panel__cell-content"><strong>15-03-2018</strong></span>
                                      </div>
                                      <div class="c-panel__cell col-xs-11 col-sm-6 col-md-5 col-lg-7">
                                        <span class="c-panel__cell-content pull-right u-pull-left-sm-up">Premie</span>
                                      </div>
                                      <div class="c-panel__cell col-xs-12 col-sm-6 col-md-4">
                                        <span class="c-panel__cell-content">Te betalen</span>
                                      </div>
                                      <div class="c-panel__cell col-xs-12 col-sm-5 col-md-4">
                                        <span class="c-panel__cell-content pull-right u-pull-left-sm-up"><strong>€ 100,00</strong></span>
                                      </div>
                                      <div class="c-panel__cell col-xs-4 col-md-5 col-lg-4 u-hidden-sm-down">
                                        <span class="c-panel__cell-content pull-right">
                                          <span class="u-font-weight-bold c-btn c-btn--link btn btn-link u-font-size-small">Bekijk factuur</span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <i class="c-panel__icon c-panel__icon--right u-icon-arrow-right" aria-hidden="true"></i>
                                </div>
                              </a>

                              <div class="c-panel c-panel--table c-panel--no-border c-panel--normal u-font-weight-bold u-color-blue-8 panel">

                                <div class="c-panel__body c-panel__body--blue-0 c-panel__body--no-heading panel-body">

                                  <div class="c-panel__title--icon-right">
                                    <div class="c-panel__row c-panel__row--va-sm-up row">
                                      <div class="c-panel__cell col-xs-15 col-sm-19 col-md-15 col-lg-16">
                                        <span class="c-panel__cell-content u-pull-right-sm-up">In betalingsregeling:</span>
                                      </div>
                                      <div class="c-panel__cell col-xs-9 col-sm-5 col-md-9 col-lg-8">
                                        <span class="c-panel__cell-content">
                                          <span class="u-pull-right-xs-down">€ 500,00</span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                              </div>
                            </div>


                          </div>

                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <a href="#" class="c-btn c-btn--link btn btn-link u-margin-bottom">
    <i class="c-btn__icon u-icon u-icon-arrow-left" aria-hidden="true"></i>
    Terug naar financieel overzicht
  </a>

</div>
