---
title: Polischeck
template: klantdomein-polischeck.pug
body_class: tp-polischeck
---

<div class="container">

  <div class="row">
    <div class="c-bg-filler" style="background-image: url('/assets/img/pages/klantdomein/polischeck/woman_with_mobile_in_hand.jpg');">

      <div class="o-box u-pos-center-center o-box--white o-box--curved o-box--curved-top-left">
        <div class="o-box__body">
          <h1 class="o-box__heading h3">Bekijk wat u in 2018 vergoed krijgt</h1>

          <div class="c-dropdown u-margin-bottom-small dropdown">
            <button class="c-btn c-btn--primary btn btn-block u-text-align-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left">Selecteer persoon...</span>
              <i class="u-icon u-icon-arrow-down" aria-hidden="true"></i>
            </button>

            <ul class="c-dropdown__menu c-dropdown__menu--block dropdown-menu" aria-labelledby="dropdownMenu1">
              <li class="c-dropdown__item c-dropdown__item--divider">
                <a class="c-dropdown__link" href="#">
                  <div class="o-layout--table o-layout--va-middle">
                    <div class="o-layout__item--cell">
                      <div class="c-dropdown__header">J.M. de Vries</div>
                      21-09-1972
                    </div>
                    <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
                      <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                    </div>
                  </div>
                </a>
              </li>
              <li class="c-dropdown__item c-dropdown__item--divider">
                <a class="c-dropdown__link" href="#">
                  <div class="o-layout--table o-layout--va-middle">
                    <div class="o-layout__item--cell">
                      <div class="c-dropdown__header">A.J.R. de Vries-Peters</div>
                      10-05-1975
                    </div>
                    <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
                      <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                    </div>
                  </div>
                </a>
              </li>
              <li class="c-dropdown__item c-dropdown__item--divider">
                <a class="c-dropdown__link" href="#">
                  <div class="o-layout--table o-layout--va-middle">
                    <div class="o-layout__item--cell">
                      <div class="c-dropdown__header">J.M. de Vries</div>
                      21-09-1972
                    </div>
                    <div class="o-layout__item--cell o-layout__item--icon u-padding-left-tiny">
                      <i class="u-icon u-icon-arrow-right u-color-pink-3" aria-hidden="true"></i>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <i class="u-icon u-icon-info-sign u-color-turquoise-5 js-tooltip"
            aria-hidden="true"
            data-toggle="tooltip"
            data-placement="top"
            data-html="true"
            data-original-title="<div class='c-tooltip__heading h4'>Kinderen onder de 18 jaar</div><ul class='c-list c-list--icon c-list--icon-bullet c-list--white'><li class='c-list__item'>Kinderen onder de 18 betalen geen premie en hebben geen eigen risico</li><li class='c-list__item'>Als basisverzekering krijgen zij standaard Basis Zeker. Heeft een van de ouders Basis Exclusief dan krijgen de kinderen onder de 18 deze basisverzekering.</li><li class='c-list__item'>Ook krijgen ze de meest uitgebreide aanvullende verzekering die door een van de ouders is afgesloten.</li></ul>">
          </i>
          Kinderen onder de 18 jaar zijn gratis meeverzekerd
        </div>
      </div>

    </div>
  </div>

</div>
