---
body_class: u-color-blue-0-bg
---

<h2>Basic example</h2>
<div class="c-progress progress">
  <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>

<h2>With label</h2>
<div class="c-progress progress">
  <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>

<h2>Contextual variants</h2>

<div class="row">
  <div class="col-lg-12">

    <div class="o-box o-box--tile js-equal-height">

      <div class="o-box__body">
        <div class="o-layout--table o-layout--va-top">

          <div class="o-layout__item o-layout__item--cell o-layout__item--icon o-layout__item--icon-2x u-padding-right-tiny u-hidden-sm-down">
            <div class="o-box__icon o-box__icon--svg u-scale-svg u-scale-svg--square">
              <svg class="o-box__img u-scale-svg__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.main.svg#icon-set--file"></use>
              </svg>
            </div>
          </div>

          <div class="o-layout__item o-layout__item--cell">

            <h4 class="o-box__heading o-box__heading--small">
              Conditie &amp; fitheid
            </h4>
            <div class="u-font-size-small clearfix">
              <p class="o-box__text--small">
                U heeft nog € 450,00 over
              </p>
              <div class="c-progress c-progress--tiny progress">
                <div class="c-progress__bar progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                  <span class="sr-only">€ 300,00 van de € 450,00 al betaald</span>
                </div>
              </div>
              <span class="c-progress__text pull-left">€ 300,- al betaald</span>
              <span class="c-progress__text pull-right">€ 450,- over</span>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<h2>Multibars</h2>

<div class="c-progress progress">
  <div class="c-progress__bar progress-bar progress-bar-success" style="width: 35%">
    <span class="sr-only">35% Complete (success)</span>
  </div>
  <div class="c-progress__bar progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
  <div class="c-progress__bar progress-bar progress-bar-danger" style="width: 10%">
    <span class="sr-only">10% Complete (danger)</span>
  </div>
</div>

<div class="c-progress c-progress--multibar c-progress--flex progress">
  <div class="c-progress__bar c-progress__bar--turquoise-4 progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 is-disabled progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 is-disabled progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 is-disabled progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 is-disabled progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 is-disabled progress-bar"></div>
  <div class="c-progress__bar c-progress__bar--turquoise-4 is-disabled progress-bar"></div>
  <span class="sr-only">6 maanden betaald</span>
</div>
