//   ========================================================================
//   #GLOBAL COLORS AVERO
//   ========================================================================

// Colors
$global-text-color: $prolife-color-black-5;

$global-color-primary: $prolife-color-blue-8;

$global-link-color: $prolife-color-blue-8;

$global-link-hover-color: $prolife-color-green-5;

// Buttons
$global-btn-font-weight: 400;
