//   ========================================================================
//   #GLOBAL COLORS AVERO
//   ========================================================================
$global-text-color: $fbto-color-gray-5;

//$global-color-primary: $avero-color-primary-10;

$global-link-color: $fbto-color-blue-1;

$global-link-hover-color : $fbto-color-blue-0;

//$input-bg : #F9F9F9;

//$input-color : $avero-color-secundary-9;
