//   ========================================================================
//   #CORE
//   ========================================================================

// The global settings file sets up zk’ most important setup variables. They
// underpin a lot of how the framework functions and should be modified and
// preconfigured with caution. This file contains any project-wide variables,
// things that need to be made available to the entire codebase.

// Base typographical styles and baseline grid. You need to define these values
// in pixels: zk styleguide will convert them to more appropriate units.

// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$global-asset-helper: ".." !default;
$global-font-path: "#{$global-asset-helper}/fonts" !default;
$global-image-path: "#{$global-asset-helper}/img" !default;

$global-font-size-base: 16px !default;
$global-font-size-tiny: ceil(($global-font-size-base * 0.75)) !default; // 12px
$global-font-size-small: ceil(($global-font-size-base * 0.85)) !default; // 14px
$global-font-size-large: ceil(($global-font-size-base * 1.25)) !default; // 20px

$global-font-family-heading: "Titillium Web", sans-serif !default;
$global-font-family-sans-serif: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$global-font-family-base: $global-font-family-sans-serif !default;

$global-font-size-h1: 42px !default;
$global-font-size-h2: 28px !default;
$global-font-size-h3: 26px !default;
$global-font-size-h4: 22px !default;
$global-font-size-h5: 18px !default;
$global-font-size-h6: 18px !default;

$global-heading-font-weight: 600 !default;
$global-font-weight-bold: 700 !default;
$global-font-weight : 400 !default;

$global-line-height:  24px !default;
$global-line-height-unitless: $global-line-height / $global-font-size-base !default;

// Spacing values are determined based on your project’s global line height (i.e
// your baseline grid). It is not recommended that you modify these following
// variables (it can break the vertical rhythm).

$global-spacing-unit: 8px !default;

// How many times larger/smaller than the default should our spacing unit
// variants be?

$global-spacing-unit-factor-offset: 0.8 !default;

$global-spacing-unit-base: round($global-spacing-unit * 3) !default;
$global-spacing-unit-tiny: round($global-spacing-unit) !default;
$global-spacing-unit-small: round($global-spacing-unit * 2) !default;
$global-spacing-unit-large: round($global-spacing-unit * 4) !default;
$global-spacing-unit-huge: round($global-spacing-unit * 5) !default;

$global-spacing-unit-base-offset: round($global-spacing-unit-base * $global-spacing-unit-factor-offset) !default;
$global-spacing-unit-tiny-offset: round($global-spacing-unit-tiny * $global-spacing-unit-factor-offset) !default;
$global-spacing-unit-small-offset: round($global-spacing-unit-small * $global-spacing-unit-factor-offset) !default;
$global-spacing-unit-large-offset: round($global-spacing-unit-large * $global-spacing-unit-factor-offset) !default;
$global-spacing-unit-huge-offset: round($global-spacing-unit-huge * $global-spacing-unit-factor-offset) !default;

// Grid breakpoints
$global-grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Container widths per breakpoint
$container-max-widths: (
  md: 758px,
  lg: 992px,
  xl: 992px
) !default;

// Bootstrap 3
// $container-max-widths: (
//   sm: 720px + $grid-gutter-width, // 750px
//   md: 940px + $grid-gutter-width, // 970px
//   lg: 1140px + $grid-gutter-width, // 1170px
// ) !default;

// Bootstrap 4
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// ) !default;

// Grid system
$global-grid-columns: 24 !default;
$global-grid-gutter-width-base: 16px !default;

// Border radius
$global-border-radius-base: 4px !default;
$global-border-radius-large: 6px !default;
$global-border-radius-small: 3px !default;

// List width
$list-spacing: $global-spacing-unit-base !default;

// Colors TODO: add to color palette variables
$global-color-primary: $color-blue-8 !default;
$global-color-success: #bde9e4 !default;
$global-color-info: #d1e3f2 !default;
$global-color-warning: #fbd7b3 !default;
$global-color-danger: #f4d8e6 !default;

$global-text-color: $color-blue-10 !default;

$global-link-color: $color-blue-8 !default;
$global-link-hover-color: lighten($global-link-color, 15%) !default;
$global-link-hover-decoration: none !default;

// Tables
$global-table-cell-padding: 8px !default;
$global-table-bg: transparent !default;

// Dropdown
$global-dropdown-border: rgba(0, 0, 0, 0.15) !default;
$global-dropdown-link-color: $color-blue-8 !default;

// Buttons
$global-btn-font-family: $global-font-family-heading !default;
$global-btn-font-weight: 600 !default;
