//   ========================================================================
//   #ICONS
//   ========================================================================

// Use the Unicode Private Use Area (PUA) to ensure screen
// readers do not read off random characters that represent icons.
// https://github.com/FortAwesome/Font-Awesome/blob/master/css/font-awesome.css#L181

$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-calendar: "\e904";
$icon-clock: "\e905";
$icon-comment: "\e906";
$icon-commenting: "\e907";
$icon-conversation: "\e908";
$icon-cross: "\e909";
$icon-cross-sign: "\e90a";
$icon-cross-trans-marker: "\e90b";
$icon-envelope: "\e90c";
$icon-external-link: "\e90d";
$icon-eye: "\e90e";
$icon-facebook: "\e90f";
$icon-file: "\e910";
$icon-file-stack: "\e911";
$icon-info-sign: "\e912";
$icon-linkedin: "\e913";
$icon-lock-open: "\e914";
$icon-marker: "\e915";
$icon-marker-zk: "\e916";
$icon-mobile: "\e917";
$icon-mobile-arrow: "\e918";
$icon-ok: "\e919";
$icon-ok-sign: "\e91a";
$icon-ok-trans-marker: "\e91b";
$icon-pencil: "\e91c";
$icon-pie-euro: "\e91d";
$icon-plus-marker: "\e91e";
$icon-plus-sign: "\e91f";
$icon-print: "\e920";
$icon-question: "\e921";
$icon-question-sign: "\e922";
$icon-search: "\e923";
$icon-star: "\e924";
$icon-twitter: "\e925";
$icon-user: "\e926";
$icon-wallet: "\e927";
$icon-whatsapp: "\e928";
