//   ========================================================================
//   #COLORS
//   ========================================================================

//
// This color file sets up ZK’ color palette. Only use these variables in your
// stylesheets.
//

//  General
//  ───────────────────────────────────
$color-white: #fff;
$color-black: #000;

//  Gray
//  ───────────────────────────────────
$gray-base: $color-black;
$color-gray-list: (
  "0": #eee,
  "1": lighten($gray-base, 75%),
  "2": lighten($gray-base, 50%),
  "3": lighten($gray-base, 33.5%),
  "4": lighten($gray-base, 20%),
  "5": lighten($gray-base, 13.5%),
);

$color-gray-0: map-get($color-gray-list, "0");
$color-gray-1: map-get($color-gray-list, "1");
$color-gray-2: map-get($color-gray-list, "2");
$color-gray-3: map-get($color-gray-list, "3");
$color-gray-4: map-get($color-gray-list, "4");

//  Blue
//  ───────────────────────────────────
$color-blue-list: (
  "0": #e7f5f5,
  "1": #d6eff0,
  "2": #bfd9ee,
  "3": #b1e0e2,
  "4": #74c9e2,
  "5": #919dbb,
  "6": #279eda,
  "7": #0073cf,
  "8": #0068bd,
  "9": #113e83,
  "10": #002857,
);

$color-blue-0: map-get($color-blue-list, "0");
$color-blue-1: map-get($color-blue-list, "1");
$color-blue-2: map-get($color-blue-list, "2");
$color-blue-3: map-get($color-blue-list, "3");
$color-blue-4: map-get($color-blue-list, "4");
$color-blue-5: map-get($color-blue-list, "5");
$color-blue-6: map-get($color-blue-list, "6");
$color-blue-7: map-get($color-blue-list, "7");
$color-blue-8: map-get($color-blue-list, "8");
$color-blue-9: map-get($color-blue-list, "9");
$color-blue-10: map-get($color-blue-list, "10");

//  Turquoise
//  ───────────────────────────────────
$color-turquoise-list: (
  "0": #ceecdd,
  "1": #91dad2,
  "2": #9dc7c8,
  "3": #82e4ba,
  "4": #2fdc93,
  "5": #24b6a6,
  "6": #288e9a,
);

$color-turquoise-0: map-get($color-turquoise-list, "0");
$color-turquoise-1: map-get($color-turquoise-list, "1");
$color-turquoise-2: map-get($color-turquoise-list, "2");
$color-turquoise-3: map-get($color-turquoise-list, "3");
$color-turquoise-4: map-get($color-turquoise-list, "4");
$color-turquoise-5: map-get($color-turquoise-list, "5");
$color-turquoise-6: map-get($color-turquoise-list, "6");

//  Purple
//  ───────────────────────────────────
$color-purple-list: (
  "0": #80379b,
  "1": #697197,
  "2": #494f6d,
);

$color-purple-0: map-get($color-purple-list, "0");
$color-purple-1: map-get($color-purple-list, "1");
$color-purple-2: map-get($color-purple-list, "2");

//  Pink
//  ───────────────────────────────────
$color-pink-list: (
  "0": #ebc9e2,
  "1": #e381bb,
  "2": #de4d9f,
  "3": #c93a83,
  "4": #a0144c,
);

$color-pink-0: map-get($color-pink-list, "0");
$color-pink-1: map-get($color-pink-list, "1");
$color-pink-2: map-get($color-pink-list, "2");
$color-pink-3: map-get($color-pink-list, "3");
$color-pink-4: map-get($color-pink-list, "4");

//  Green
//  ───────────────────────────────────
$color-green-list: (
  "0": #98ab04,
);

$color-green-0: map-get($color-green-list, "0");

//  Orange
//  ───────────────────────────────────
$color-orange-list: (
  "0": #f6daaf,
  "1": #f37903,
  "2": #9d481a,
);

$color-orange-0: map-get($color-orange-list, "0");
$color-orange-1: map-get($color-orange-list, "1");
$color-orange-2: map-get($color-orange-list, "2");

//  Color list
//  ───────────────────────────────────
$color-list: (
  "gray": $color-gray-list,
  "blue": $color-blue-list,
  "turquoise": $color-turquoise-list,
  "purple": $color-purple-list,
  "pink": $color-pink-list,
  "green": $color-green-list,
  "orange": $color-orange-list
);
