//   ========================================================================
//   #GLOBAL COLORS AVERO
//   ========================================================================
$global-text-color: $avero-color-secundary-10;

$global-color-primary: $avero-color-primary-10;

$global-link-color: $avero-color-primary-10;

$global-link-hover-color : $avero-color-secundary-10;

$input-bg : #F9F9F9;

$input-color : $avero-color-secundary-9;
