//   ========================================================================
//   #FOOTER
//   ========================================================================

@import "c-footer.settings";

.c-footer {
  background-color: $c-footer-background-color;
  color: $c-footer-color;
  margin-top: $global-spacing-unit-large;

  a {
    color: $c-footer-a-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
