//   ========================================================================
//   #FOOTER SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-footer-background-color: $color-blue-9 !default;
$c-footer-color: $color-white !default;
$c-footer-a-color: $color-white !default;
