//   ========================================================================
//   #DROPDOWN
//   ========================================================================

//
// Toggleable, contextual menu for displaying lists of links.
//

@import "c-dropdown.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";

.c-dropdown__item--divider {
  border-bottom: 1px solid $c-dropdown-item-divider-border-bottom-color;

  &:last-child {
    border-bottom: none;
  }
}

.c-dropdown__link {
  color: $c-dropdown-link-color;
  text-decoration: none;
  white-space: normal !important; // overrule bootstrap 3 styling
}

.c-dropdown__menu--block {
  right: 0;
}

.c-dropdown__header {
  font-family: $global-font-family-heading;
  font-size: $global-font-size-h5;
  font-weight: $global-heading-font-weight;
}