///* ========================================================================
//   #MODAL
//   ======================================================================== */
@import "@zilverenkruis/base/_zk-settings-tools";
@import "c-modal.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/modals";

.c-modal__header,
.c-modal__body {
  @include media-breakpoint-up("md") {
    @include box-spacing();
  }
}

.c-modal__close {
  font-size: $global-font-size-large;
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
