//   ========================================================================
//   #PAGE-TITLE
//   ========================================================================

.c-page-title {
  margin-top: $global-spacing-unit-large;
  margin-bottom: $global-spacing-unit-base;
}

.c-page-title__heading {
  margin-bottom: 0;
}

.c-page-title__sub {
  font-size: $global-font-size-small;
}
