// OZF SETTINGS
// $global-asset-helper: "../";
// $global-font-family-heading: "frank";
// $global-font-family-base: "frank";

// SETTINGS COLORS
@import "settings/_settings.colors.ozf";
@import "settings/_settings.colors"; // not yet overridable

// SETTINGS ICONS
@import "settings/_settings.icons";

// SETTINGS GLOBAL
//@import "settings/_settings.global.ozf";
@import "settings/_settings.global"; // overridable

// SETTINGS BOOTSTRAP
@import "settings/_settings.bs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

// TOOLS
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "tools/_tools";

// ELEMENTS
//@import "elements/_elements.heading.settings.ozf";

// BASE
// @import "generic/_generic.fonts.ozf";
@import "zk-base";

// OBJECTS
@import "objects/_objects.settings.ozf";
@import "objects/_objects";

// VENDOR COMPONENTS
// @import "vendor/_vendor.bootstrap-tour";

// COMPONENTS
@import "components/_components.settings.ozf";
@import "components/_components";

// TEMPLATES
//@import "templates/_templates.subpage.settings.ozf";
@import "templates/_templates";

// UTILITIES
@import "utilities/_utilities";
