include includes/mixins.pug

doctype html
html
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='x-ua-compatible' content='ie=edge')
      meta(name='description' content=description)
      meta(name="viewport" content='width=device-width, initial-scale=1')
    title #{title}
    block link
      link(href='/assets/css/zk-klantdomein.min.css' rel='stylesheet')
      link(href='/assets/css/zk-styleguide.min.css' rel='stylesheet')
      if links
        +links(links)
    block script-head
      script(src='/assets/js/modernizr.min.js')
      script(src='/assets/js/jquery.min.js')
      if script_head
        +scripts(script_head)
  block body
    body(class=body_class)
      block masthead
        include ./includes/masthead.pug

      block content
        if (content_class)
          main(class='content ' + content_class role='main') !{content}
        else
          main(class='content' role='main') !{content}

      block footer
        include ./includes/footer.pug

      include ./includes/sg-style-switcher.pug

      block script-body
        script(src='/assets/js/zk-klantdomein.min.js')
        script(src='/assets/js/zk-styleguide.min.js')
        if script_body
          +scripts(script_body)
