extends _default.pug

block append link
  link(href='components.css' rel='stylesheet')
  link(href='components/demos.css' rel='stylesheet')

block content
  .sg-components
    aside.sg-components__nav
      each category in categories
        a(class='sg-category-example sg-components__link' href='#')
          p content of category example

    main.sg-components__pages
      section#index-section.sg-components__page
        p General content of page

      each category in categories
        section(id=category.name + '-section' class='sg-components__page')
          .docs-text-styling.component-title
            h3= category.title
            p= category.description

          if category.components.length > 1
            section.docs-toc.docs-text-styling
              nav.section-content
                ul
                  each component in category.components
                    li
                      a(href=category.name + '-section/' + component.name)
                        | #{component.caption}

          each component in category.components
            if component.caption
              h1(class='sg-components__classname' id=category.name + '-section/' + component.name)
                | #{component.caption}

            //- Add warning, if the component has one
            if component.warning
              .sg-components__warning
                b Note:
                  | #{component.warning}

            //- Generating snippets
            each snippet_group in component.snippets
              include includes/snippet.pug

block append script-body
  script(src='snippets.js')
