extends _default.pug

block link
  link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Titillium+Web:400,600' rel='stylesheet')
  link(href='/assets/css/fbto-klantdomein.min.css' rel='stylesheet')
  if links
    +links(links)
