extends _default.pug

block append script-head
  script(src='/post.js')

block content
  header
    p
      a(href="/") home
  h1 #{title}
  time #{date}
  div(class='content') !{contents}

block footer
  #footer
    p
      | Generated with #{generator}
      a(href=url) #{url}
