<div class="c-hero">
    <div class="container u-padding-vertical u-margin-bottom-large">

        <div class="c-hero__heading u-margin-bottom text-center">
            <h1 class="c-hero__title u-margin-bottom-none">
                Goedemorgen, meneer van der Wilg
            </h1>
            <span class="c-hero__sub-title">Relatienummer: 123456789</span>
        </div>
    </div>
</div>