//   ========================================================================
//   #TABLE
//   ========================================================================

//
// For basic styling—light padding and only horizontal dividers—add the base
// class .table to any <table>. It may seem super redundant, but given the
// widespread use of tables for other plugins like calendars and date pickers,
// we've opted to isolate our custom table styles.
//

@import "@zilverenkruis/base/_zk-settings-tools";
@import "c-table.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tables";

.c-table {
  background-color: $c-table-background-color;
  width: 100%;
  max-width: 100%;
  margin-bottom: $global-line-height;
}

.c-table__caption {
  padding-top: $global-table-cell-padding;
  padding-bottom: $global-table-cell-padding;
  color: $color-gray-1;
  text-align: left;
}

.c-table__head {
  text-align: left;
  vertical-align: bottom;
  // border-bottom: 2px solid $table-border-color;
}

.c-table__cell {
  padding: $global-table-cell-padding;
  line-height: $global-line-height-unitless;
  vertical-align: top;
  // border-top: 1px solid $table-border-color;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-bottom: ($global-line-height * 0.75);
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // border: 1px solid $table-border-color;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

  }
}
