//   ========================================================================
//   #PAGINATION SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-pagination-link: $fbto-color-blue-1;

$c-pagination-link-is-active-hover-color: $color-white;
$c-pagination-link-is-active-hover-background-color: $fbto-color-blue-1;
