//   ========================================================================
//   #PAGINATION SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-pagination-link: $color-blue-8 !default;

$c-pagination-link-is-active-hover-color: $color-white !default;
$c-pagination-link-is-active-hover-background-color: $color-pink-3 !default;
$c-pagination-link-is-disabled-hover-color: $color-blue-5 !default;
$c-pagination-link-icon-color: $color-pink-3 !default;
