//   ========================================================================
//   #PAGINATION SETTINGS PROLIFE THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-pagination-link: $prolife-color-blue-8;

$c-pagination-link-is-active-hover-color: $color-white;
$c-pagination-link-is-active-hover-background-color: $prolife-color-green-5;
$c-pagination-link-is-disabled-hover-color: $prolife-color-blue-5;
$c-pagination-link-icon-color: $prolife-color-green-5;
