// ==========================================================================
// #PAGINATION
// ==========================================================================

//
// Pagination (multiple pages)
//

@import "c-pagination.settings";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pagination";

.c-pagination {
  display: inline-block;
  padding-left: 0;
  margin-bottom: $global-spacing-unit-base;
}

.c-pagination__item {
  display: inline; // Remove list-style and block-level defaults
}

.c-pagination__link {
  color: $c-pagination-link;
  font-family: $global-btn-font-family;
  font-weight: $global-btn-font-weight;
  border-radius: 50px;
  position: relative;
  float: left; // Collapse white-space
  padding: 0.38em 0.6em;
  line-height: 1;
  text-decoration: none;

  .is-active & {
    font-weight: 700;

    &,
    &:hover,
    &:focus {
      color: $c-pagination-link-is-active-hover-color;
      background-color: $c-pagination-link-is-active-hover-background-color;
      cursor: default;
    }
  }

  .is-disabled & {
    &,
    &:focus,
    &:hover {
      color: $c-pagination-link-is-disabled-hover-color;
      cursor: default;
    }
  }
}

.c-pagination__link-icon {
  color: $c-pagination-link-icon-color;
}
