//   ========================================================================
//   #PAGINATION SETTINGS FBTO THEME
//   ========================================================================

//
// `Theme component settings file` which overrules the
// `component settings file`.
//

$c-pagination-link: $avero-color-primary-10;

//$c-pagination-link-is-active-hover-color: $color-white !default;
$c-pagination-link-is-active-hover-background-color: $avero-color-primary-10;
//$c-pagination-link-is-disabled-hover-color: $color-blue-5 !default;
$c-pagination-link-icon-color: $avero-color-primary-10;
