//   ========================================================================
//   #LIST
//   ========================================================================

@import "c-list.settings";

.c-list {
  padding-left: 0;
  margin-left: em($global-spacing-unit-base);
  list-style-type: none;
}

.c-list--large {
  .c-list__item {
    margin-bottom: $global-spacing-unit-small;
  }
}

.c-list__item {
  line-height: 1.8;
  position: relative;
}

.c-list__item--term-bare {
  font-weight: normal;
}

.c-list__box {
  margin-bottom: $global-spacing-unit-small;

  &:last-child {
    margin-bottom: 0;
  }
}

// Contextual variants.
// ==========================================================================
.c-list--inline {
  list-style: none;
  margin-left: 0;

  .c-list__item {
    display: inline-block;
  }
}

.c-list--unstyled {
  margin-left: 0;

  .c-list__item {
    line-height: inherit;
  }
}

.c-list--description {
  margin-left: 0;
}

.c-list--icon {
  .c-list__item:before {
    @include icon;

    position: absolute;
    left: em(-$global-spacing-unit-base);
    width: em($global-spacing-unit-base);
    top: em(5px);
  }
}

.c-list--icon-bullet {
  .c-list__item:before {
    $bullet-font-size: 24px;

    content: "\2022";
    font-family: inherit;
    color: $c-list-icon-bullet-before-color;
    font-size: em($bullet-font-size);
    left: em(-$global-spacing-unit-base, $bullet-font-size);
    width: em($global-spacing-unit-base, $bullet-font-size);
    top: em(3px, $bullet-font-size);
  }

  &.c-list--white {
    .c-list__item:before {
      color: $c-list-icon-bullet-white-before-color;
    }
  }
}

.c-list--icon-ok {
  .c-list__item:before {
    content: $icon-ok;
    color: $c-list-icon-ok-before-color;
  }
}

.c-list--pipe {
  $padding-pipe: $global-spacing-unit-small;

  @extend .c-list--inline;

  .c-list__item {
    padding-right: $padding-pipe - 4px;
  }

  .c-list__item:last-child {
    padding-right: 0;
  }

  .c-list__item:after {
    content: '|';
    padding-left: $padding-pipe;
  }

  .c-list__item:last-child {
    &:after {
      content: '';
      padding-left: 0;
    }
  }
}
