//   ========================================================================
//   #LIST SETTINGS
//   ========================================================================

//
// `Component settings file`
//
// Always add !default in the variable declaration when adding variables to this
// file, so that theme specific stylesheets can overrule these settings.
//

$c-list-icon-bullet-before-color: $color-turquoise-5 !default;
$c-list-icon-bullet-white-before-color: $color-white !default;
$c-list-icon-ok-before-color: $color-turquoise-5 !default;
