//   ========================================================================
//   #BS.ALERT
//   ========================================================================

//
// Bootstrap alert-variant overrule
//

@mixin alert-variant($background-color, $border-color, $text-color) {
  background-color: $background-color;
  border-color: $border-color !important;
  color: $text-color;

  hr {
    border-top-color: darken($border-color, 5%);
  }

  .alert-link,
  .c-alert__link {
    color: $text-color;
    border-color: $border-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}
