//   ========================================================================
//   #BS.TAB-FOCUS
//   ========================================================================

//
// Bootstrap tab-focus overrule
// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
//

@mixin tab-focus() {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
