//   ========================================================================
//   #RATING
//   ========================================================================

//
// Rating mixins
//

@mixin rating-variant($color, $background-color, $hover-color) {
  .c-rating__item {
    color: $background-color;
  }

  &[data-rating="1"] {
    .c-rating__item--rating-1 {
      color: $color;
    }
  }

  &[data-rating="2"] {
    .c-rating__item--rating-1,
    .c-rating__item--rating-2 {
      color: $color;
    }
  }

  &[data-rating="3"] {
    .c-rating__item--rating-1,
    .c-rating__item--rating-2,
    .c-rating__item--rating-3 {
      color: $color;
    }
  }

  &[data-rating="4"] {
    .c-rating__item--rating-1,
    .c-rating__item--rating-2,
    .c-rating__item--rating-3,
    .c-rating__item--rating-4 {
      color: $color;
    }
  }

  &[data-rating="5"] {
    .c-rating__item--rating-1,
    .c-rating__item--rating-2,
    .c-rating__item--rating-3,
    .c-rating__item--rating-4,
    .c-rating__item--rating-5 {
      color: $color;
    }
  }

  &.c-rating--hover {
    .c-rating__item:hover,
    .c-rating__item:hover ~ .c-rating__item {
      color: $hover-color;
    }
  }
}
