//   ========================================================================
//   #SPACING
//   ========================================================================

//
// Mixin for making utility classes (see utilities.sizing & utilities.spacing)
//

@mixin make-utility-classes($props, $directions, $sizes) {
  @each $property-namespace, $property in $props {
    @each $direction-namespace, $direction-rules in $directions {
      @each $size-namespace, $size in $sizes {
        .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
          @each $direction in $direction-rules {
            #{$property}#{$direction}: $size !important;
          }
        }
      }
    }
  }
}
