//   ========================================================================
//   #SPACING
//   ========================================================================

//
// Standardizing whitespace (margin & padding).
//

// Add spacing in margin or padding which has offsets for the top and
// bottom spacing
@mixin box-spacing($spacing: null, $whitespace: "padding") {
  $rule: $whitespace;

  @if $whitespace == "margin" {
    $rule: "margin";
  }

  @if $spacing == null {
    #{$rule}: $global-spacing-unit-base-offset $global-spacing-unit-base;
  }

  @if $spacing == "tiny" {
    #{$rule}: $global-spacing-unit-tiny-offset $global-spacing-unit-tiny;
  }

  @else if $spacing == "small" {
    #{$rule}: $global-spacing-unit-small-offset $global-spacing-unit-small;
  }

  @else if $spacing == "large" {
    #{$rule}: $global-spacing-unit-large-offset $global-spacing-unit-large;
  }

  @else if $spacing == "huge" {
    #{$rule}: $global-spacing-unit-huge-offset $global-spacing-unit-huge;
  }
}

// Convert an pixels unit into the respective em"s
// (relative to the global font-size)
@function em($pixels, $context: $global-font-size-base) {
  @return #{$pixels/$context}em;
}
