//   ========================================================================
//   #ICON
//   ========================================================================

//
// font icon related functions and mixins.
//

// Catchall baseclass
@mixin icon($icon-value: null) {
  display: inline-block;
  font: normal normal normal #{$global-font-size-base}/1 'zk-icons-font'; // shortening font declaration
  font-size: inherit;
  text-rendering: auto; // optimizelegibility throws things off

  @if ($icon-value) {
    &:before {
      content: $icon-value;
    }
  }
}

// Vertical aligned icons
@mixin icon-va() {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  height: 1em;
}

// Fixed width icons
@mixin icon-fw() {
  width: (18em / 14);
  text-align: center;
}
