//   ========================================================================
//   #ALIGNMENT
//   ========================================================================

//
// Alignment tools
//

// Vertical align element
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
// http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
@mixin centering($axis: all, $position: relative, $flex: false) {
  @if $flex == true {
    display: flex;
    align-items: center;
  }

  @else {
    position: $position;

    @if $axis == vertical {
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }

    @else if $axis == horizontal {
      left: 50%;
      transform: perspective(1px) translateX(-50%);
    }

    @else if $axis == all {
      top: 50%;
      left: 50%;
      transform: perspective(1px) translate(-50%, -50%);
    }
  }
}
