---
title: Bevestiging
template: klantdomein-subpage.pug
body_class: tp-subpage
---
<div class="container">
    <div class="row">
        <div class="col-xs-24">
            <h1 class="c-page-title">Bedankt</h1>
            <div class="o-box o-box--white">
                <div class="o-box__body">
                    <div class="o-box__heading h3">
                      Wij hebben uw wijziging ontvangen
                    </div>
                    <p>
                        Deze gaan we verwerken in onze administratie. De volgende keer dat u inlogt,
                        is de wijziging te zien. Is de wijziging na 10 dagen nog niet te zien? Neem dan contact op
                        de met de klantenservice
                    </p>
                    <a href="#" class="c-btn c-btn--primary btn">
                        Terug naar de beginpagina
                        <i class="u-icon u-icon-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
