---
title: Wijziging doorgeven
template: klantdomein-subpage.pug
body_class: tp-subpage
---
<div class="container">
    <div class="row">
        <div class="col-xs-24">
            <h1 class="c-page-title">Wijziging doorgeven</h1>
            <div class="o-box o-box--white">
                <div class="o-box__body clearfix">
                    <h2 class="o-box__heading h4">
                      Bevestig de wijziging voor A. de Vries <span class="u-hidden-sm-down">(01-03-1989)</span>
                    </h2>
                    <ul class="c-list-group c-list-group--border list-group u-padding-top-small">
                        <li class="c-list-group__item list-group-item u-padding-bottom-small u-padding-top-small u-hidden-sm-down">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="c-list-group__heading list-group-item-heading u-color-blue-6">
                                      Huidig pakket
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="c-list-group__heading list-group-item-heading u-color-blue-6">
                                      Nieuw pakket
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="c-list-group__item list-group-item">
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="c-list-group__heading list-group-item-heading h6 u-margin-bottom-small">
                                      Basis verzekering
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                              Huidig
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Basis zeker
                                        </div>
                                        <div class="col-md-12">
                                            € 123
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                                Nieuw
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Basis zeker
                                        </div>
                                        <div class="col-md-12">
                                            € 123
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-list-group__item list-group-item">
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="c-list-group__heading list-group-item-heading h6 u-margin-bottom-small">
                                        Eigen risico
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                                Huidig
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Eigen risico <span>€ 123</span>
                                        </div>
                                        <div class="col-md-12">
                                            -€ 4,00
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                                Nieuw
                                            </div>
                                        </div>
                                        <div class="col-md-12 u-text-modified">
                                            Eigen risico € 385
                                        </div>
                                        <div class="col-md-12">
                                            geen korting
                                        </div>
                                        <div class="col-xs-24 u-color-blue-7 u-font-size-small">
                                            Vanaf 01-01-2017
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-list-group__item list-group-item">
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="c-list-group__heading list-group-item-heading h6 u-margin-bottom-small">
                                        Aanvullende verzekering
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                                Huidig
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <span>Aanvullend</span>
                                            <div class="c-rating" data-rating="2">
                                                <span class="c-rating__item c-rating__item--rating-4">★</span>
                                                <span class="c-rating__item c-rating__item--rating-3">★</span>
                                                <span class="c-rating__item c-rating__item--rating-2">★</span>
                                                <span class="c-rating__item c-rating__item--rating-1">★</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            € 123
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                                Nieuw
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="u-text-modified">Aanvullend</span>
                                            <div class="c-rating c-rating--modified" data-rating="2">
                                                <span class="c-rating__item c-rating__item--rating-4">★</span>
                                                <span class="c-rating__item c-rating__item--rating-3">★</span>
                                                <span class="c-rating__item c-rating__item--rating-2">★</span>
                                                <span class="c-rating__item c-rating__item--rating-1">★</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            € 123
                                        </div>
                                        <div class="col-xs-24 u-color-blue-7 u-font-size-small">
                                            Vanaf 01-01-2017
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-list-group__item list-group-item">
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="c-list-group__heading list-group-item-heading h6 u-margin-bottom-small">
                                        Tandverzekering
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                                Huidig
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <span>Tand</span>
                                            <div class="c-rating" data-rating="2">
                                                <span class="c-rating__item c-rating__item--rating-4">★</span>
                                                <span class="c-rating__item c-rating__item--rating-3">★</span>
                                                <span class="c-rating__item c-rating__item--rating-2">★</span>
                                                <span class="c-rating__item c-rating__item--rating-1">★</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            € 123
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="c-list-group__heading list-group-item-heading u-color-blue-6 u-hidden-md-up">
                                                Nieuw
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <span>Tand</span>
                                            <div class="c-rating" data-rating="2">
                                                <span class="c-rating__item c-rating__item--rating-4">★</span>
                                                <span class="c-rating__item c-rating__item--rating-3">★</span>
                                                <span class="c-rating__item c-rating__item--rating-2">★</span>
                                                <span class="c-rating__item c-rating__item--rating-1">★</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            € 123
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <div class="o-box o-box--blue-0 u-margin-bottom-small">
                        <div class="o-box__body">
                            <div class="row">
                                <dl class="c-list c-list--description col-xs-12 u-margin-bottom-none">
                                    <dd class="c-list__item c-list__item--description">Huidige premie per maand</dd>
                                    <dt class="c-list__item c-list__item--term">€ 178,00</dt>
                                </dl>
                                <dl class="c-list c-list--description col-xs-12 u-margin-bottom-none">
                                    <dd class="c-list__item c-list__item--description">Nieuwe premie per maand</dd>
                                    <dt class="c-list__item c-list__item--term">€ 178,00</dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="o-box o-box--blue-0">
                        <div class="o-box__body">
                            <div class="row">
                                <dl class="c-list c-list--description col-xs-12 u-margin-bottom-none">
                                    <dd class="c-list__item c-list__item--description">Huidige gezinspremie</dd>
                                    <dt class="c-list__item c-list__item--term">€ 178,00</dt>
                                </dl>
                                <dl class="c-list c-list--description col-xs-12 u-margin-bottom-none">
                                    <dd class="c-list__item c-list__item--description">Nieuwe gezinspremie</dd>
                                    <dt class="c-list__item c-list__item--term">€ 178,00</dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <p class="u-color-blue-7 u-font-size-small u-margin-bottom">
                      De bedragen zijn gebaseerd op de premie van 2017. De bedragen zijn exclusief eventuele betaaltermijnkorting
                    </p>
                    <div class="pull-right">
                      <a href="#" class="c-btn c-btn--ghost c-btn--ghost-primary btn">
                        Annuleren
                      </a>
                      <a href="#" class="c-btn c-btn--primary btn">
                        Bevestigen
                        <i class="u-icon u-icon-arrow-right" aria-hidden="true"></i>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
